<div style="padding-top: 80px; background-color: #F1F1F2;" class="">
    <div class="pt-4 pb-2" style="background-color: #465767; color: white;">
        <h2 class="text-center container">
            <strong><br>CAPACITACIÓN TECNOLOGÍAS EDUCATIVAS PARA ESTUDIANTES AGUSTINOS<br></strong>
        </h2>
    </div>
    <img src="assets/img/fondo4.png" alt="" style="width: 100%; height: 100px; transform: rotate(-180deg);">
    <div class="container pl-4 pr-4 pb-4 mt-4">
        <div class="row mb-2">
            <div class="text-justify">
                <p>
                    La Universidad Nacional San Agustín de Arequipa en su transformación académica digital el año 2020
                    acelerada
                    por la pandemia del covid19, a través del Vicerrectorado Académico, la Dirección de Desarrollo
                    Docente y la
                    Dirección de Tecnología de Información y Comunicación ha capacitado en el presente año a sus
                    docentes para
                    mejorar su desempeño a través del convenio PMESUT, así mismo hubo una línea dirigida al estudiante
                    con el
                    MOOC TECNOLOGÍAS EDUCATIVAS para alumnos, desarrollado por el TEC de Monterrey el cual estuvo
                    orientado a un
                    número de estudiantes y dada la importancia de la capacitación hemos trazado una estrategia para que
                    esta
                    información llegue al 100% de estudiantes agustinos.
                    El equipo de 39 coordinadores de DUTIC trabajó en base a este mooc y la experiencia que hemos tenido
                    este
                    año en nuestra propia universidad, diseñando contenido digital con el cual se desarrolló 7 Webinar
                    del 23 al
                    28 de noviembre, donde a los participantes se les entregó su constancia. Estos contenidos los
                    presentamos en
                    forma asíncrona en esta sección.
                </p>
                <h5 class="font-weight-bold">OBJETIVOS</h5>
                <p>Desarrollar y mejorar competencias digitales en esta nueva experiencia académica a distancia y
                    maximizar
                    el aprendizaje. Lograr que el próximo año 2021 la enseñanza aprendizaje digital tenga un nivel de
                    calidad que rebase las expectativas del aprendizaje normal.<br>
                </p>
                <h5 class="font-weight-bold">TEMAS A DESARROLLAR</h5>
            </div>
        </div>

        <div class="row">
            <div class="card mb-3 p-4" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/2V-qDj5k10o" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">TEMA 1: AUTOGESTIÓN DE HABILIDADES</h5>
                            <p class="card-text">En ocasiones la autogestión y administración del tiempo suele ser una
                                tarea complicada, más aún en
                                estos tiempos de aprendizaje a distancia, hoy por hoy no tenemos un docente que esté
                                interactuando
                                con nosotros físicamente, alguien que esté al tanto de si el estudiante está atento a
                                clases o no y
                                teniendo en cuenta todas las posibles distracciones que se nos presentan estudiando
                                desde casa, este
                                tema brindará algunas recomendaciones que debemos seguir para adaptarnos, superar y
                                desarrollar de
                                la mejor manera este modelo de educación a distancia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3 p-4" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">TEMA 2: GESTIÓN DE LA IDENTIDAD DIGITAL Y DE LAS
                                CLASES EN LÍNEA</h5>
                            <p class="card-text">La Identidad Digital es el conjunto de información publicada en
                                Internet sobre nosotros y que
                                componen la imagen que los demás tienen de nosotros: datos personales, imágenes,
                                noticias,
                                comentarios, gustos, amistades, aficiones. En el tema se dan pautas para gestionar
                                nuestra identidad
                                digital de forma correcta y adicionalmente se dan normas y recomendaciones para el
                                manejo de las
                                clases en línea antes, durante y después de las clases virtuales.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/LiFGICh2e2k"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3 p-4" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/l7Wy221CAMk"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">TEMA 3: EL APRENDIZAJE ACTIVO Y LA PRESENTACIÓN DE
                                CONTENIDOS Y ACTIVIDADES</h5>
                            <p class="card-text"> El aprendizaje activo promueve una actitud positiva ante el
                                aprendizaje y en consecuencia una mayor
                                motivación hacia la materia. Los estudiantes se benefician de la interacción en clase
                                con sus
                                compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mb-3 p-4" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">TEMA 4: COMUNICACIÓN Y COLABORACIÓN</h5>
                            <p class="card-text">Las apps y herramientas digitales te pueden ayudar a una mejor
                                organización, ya sean apps para tomar
                                notas, para administrar proyectos, comunicación, almacenamiento de archivos y
                                colaboración, así como
                                del desarrollo de presentaciones de forma creativa. Si las empleamos bien y seguimos
                                algunas
                                recomendaciones obtendremos un buen trabajo efectivo a distancia, respetando los tiempos
                                y
                                colaboraciones de sus compañeros.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/ZxAuazIR6Jo"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/fondo4.png" alt="" style="width: 100%; height: 100px;">
</div>