<div class="container">
    <form class="form" method="" action="">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="input-group" [ngClass]="{'input-group-focus':focusname===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese su nombre completo"
                            (focus)="focusname=true" (blur)="focusname=false">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="input-group" [ngClass]="{'input-group-focus':focusemail===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese su correo institucional"
                            (focus)="focusemail=true" (blur)="focusemail=false">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <div class="input-group" [ngClass]="{'input-group-focus':focusfacult===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingrese su escuela"
                            (focus)="focusfacult=true" (blur)="focusfacult=false">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer text-center">
            <a href="assets/comprom5/index.html" class="btn btn-primary btn-round btn-lg btn-block">Iniciar el curso</a>
        </div>
        <div class="pull-center">
            <h6>
                <a href="https://dutic.unsa.edu.pe/capacitacion2022/course/view.php?id=16" class="link">Ir al aula virtual</a>
            </h6>
        </div>
    </form>
</div>