<br><br><br><br><br><br>
<section>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <mat class="title-text mat-title">ECO-DUTIPS</mat>
              <div class="title-line"></div>   
          </div>
          <div style="padding-top: 90px;"></div>
          <div class="col-md-6">
              <p class="content-title">
                Cuidemos el agua en casa y en el trabajo
              </p>
              <p class="content-text">
                Un duchazo responsable:  "La ducha debe limitarse a cinco minutos para un uso sostenible de agua y energía que no supere los 95 litros de agua de consumo medio diario" (OMS), vamos, escoge una canción favorita y asume el desafío.
              </p>
              <p class="content-text">
                Si eres amante de las plantas:  Procura regarlas por la tarde, noche o madrugada, de esta manera la humedad se mantendrá por más tiempo.
              </p>
              <p class="content-text">
                Lavado de trastes:  Procuremos hacerlo mientras están frescos, en orden y los cubiertos en conjunto, así desperdiciamos menos agua.
              </p>
              <p class="content-source">
                Por <a href="https://www.unsa.edu.pe/ouresponsabilidadsocial/" target="_blank"><b>OURS</b></a> | 05 de noviembre, 2021
              </p>
          </div>
          <div class="col-md-6">
            <img src="https://i.ibb.co/dPT56dq/CUIDEMOS-EL-AGUA-EN-CASA-Y-EN-EL-TRABAJO.jpg" alt="">
          </div>
      </div>
      <hr class="color-hr">
  
      <div class="row">
        <div class="col-md-6">
          <img src="https://i.ibb.co/CsmWw3f/ACEITE-ECOEFICIENCIA.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p class="content-title">
                Cuidemos nuestra alimentación y sus efectos en el ambiente
            </p>
            <p class="content-text">
                El día de la alimentación es un día que nos invita a pensar y ayudar a las personas que padecen hambre y desnutrición, así como a la responsabilidad que asumen aquellos que tienen una buena alimentación, por la implicancia de esta acción en temas de salud, producción de alimentos y el medio ambiente.
            </p>
            <p class="content-text">
                Consideremos que lo que comemos tiene repercusión  en actividades como la agricultura, ganadería y pesca, que como consecuencia genera deforestación, pérdida de biodiversidad, emisión de gases de efecto invernadero, consumo y contaminación de agua y degradación de suelos, por considerar algunos de ellos.
            </p>
            <p class="content-text">
                Por lo cual hacemos un llamado a tener una buena alimentación, procuremos preparar alimentos acordes a nuestras necesidades en cantidad, asimismo a ser cuidadosos con los residuos que generemos, como el caso de restos de comida y aceite, este último considerado residuo peligroso.
            </p>
            <p class="content-source">
                Por <a href="https://www.unsa.edu.pe/ouresponsabilidadsocial/" target="_blank"><b>OURS</b></a> | 05 de noviembre, 2021
            </p>
        </div>
    </div>
  
  </div>
  </section>
  <br><br><br>
