<div style="padding-top: 80px; " class="wrapper">
    
    <section>
        <div style="padding-top: 0px; background-color: #DEDEDE;" class="wrapper">

            <div class="page-header page-header-small">
                <div class="page-header-image rellax-header" data-rellax-speed="-8"
                    style="background-image: url('assets/img/manos.jpg'); filter: brightness(10%); z-index: 1 !important;">
                </div>
                <div class="container">
                    <div class="content-center">
                        <h1 class="title">CONCURSO DE ARTE DIGITAL</h1>
                        <div class="button-container">
                            <a href="https://forms.gle/KimvfoPzESREBQ5u5" target="_blank"
                                class="btn btn-primary btn-round btn-lg">REGISTRARSE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="padding-bottom: 0px !important;">
                <div class="container">
                    <div class="row">
                       
                            <div class="col-lg-6 col-md-6 col-sm-12 text-center"><br><br><br>
                                <iframe width="530" height="350" src="https://www.youtube.com/embed/DauUsEzgPXI" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>
                            </div>
                      
                        <div class="col-lg-6 col-md-6 col-sm-12">
        
                            <div class="borderBottom--style text-center">
                                <h4 class="font-weight-bold ">CRONOGRAMA</h4>
                            </div>        
                                   
                                 
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3">Inscripción y recepción de trabajos: <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3"><strong> del 17 al 25 de Agosto, 2021 </strong><br></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3">Presentación de Trabajos en la Web: <br></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3"><strong>  desde el 23 de Agosto, 2021 </strong><br></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3">Votación de trabajos: <br></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3"><strong> del 23 al 25 de Agosto, 2021 </strong><br>
                                        </div>
                                    </div>
                                </div>
                            </div>                               
        
                            
        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3">Evaluación del jurado: <br></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3"><strong> 25 y 26 de Agosto, 2021 </strong><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3">Publicación de ganadores: <br></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row p-1 ">
                                        <div class="pl-3"><strong> 27 de Agosto, 2021 </strong><br></div>
                                    </div>
                                </div>
                            </div>        
                            
        
                            
                            
                            <br>
                            <p>
                                <strong> Este evento tiene como finalidad: </strong>
                            </p>
                            <p class="text-justify">
                                <strong>1.</strong> Promover la participación la comunidad agustina.<br>
        
                                <strong>2.</strong> Motivar su talento y creatividad en el Arte Digital.<br>
        
                                <strong>3.</strong> Desarrollar capacidades espaciales digitales y promover el uso 
                                de herramientas digitales.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="text-justify">
                            <h4 class="font-weight-bold">INTRODUCCIÓN</h4>
                            <p>
                                Este concurso busca promover el uso de herramientas digitales en los estudiantes. 
                                En la actual era digital aun no hay muchos estudiantes que están incorporados en el uso de las de las herramientas 
                                digitales por lo que este concurso puede ser un buen motivo para crear tu propio diseño con un tema libre.
                                <br><br>
                                Se te tendrá una cantidad de 3 jurados en lo que estará incorporado un especialista por cada categoría
                                 y el voto general de la comunidad agustina. Con el votó de la comunidad agustina buscamos tener la 
                                 mayor cantidad de participación posible e interacción en el sitio web DUTIC. 
                                 <br><br>
                                En total existen 3 categorías distintas: Diseño y pintura 2D, Modelamiento 3D y Motión Graphics(Animaciones Graficas). 
                                La inscripcion y entrega de un proyecto se realiza mediante un formulario google ubicado en el baner de esta página, 
                                un participante puede registrarse en las 3 categorias y solo se puede enviar un trabajo por categoria.
                            </p>
        
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
        
                        <h4 class="font-weight-bold">REQUISITOS DE LOS TRABAJOS:</h4>
                        <p>
                            <strong>1. Ilustración y pintura 2D</strong> <br>
                            <strong>-</strong> Formato .jpg<br>
                            <strong>-</strong> Peso archivo: sin limites MB<br><br>
        
                            <strong>2. Modelamiento 3D</strong> <br>
                            <strong>-</strong> Formato .obj y .mtl<br>
                            <strong>-</strong> Peso archivo: máximo 100MB<br>
                            <strong>-</strong> Video exponiendo el trabajo: .mp4 máximo 1 min<br><br>
        
                            <strong>3. Motion Graphics</strong><br>
                            <strong>-</strong> Formato .mp4<br>
                            <strong>-</strong> Peso archivo: máximo 100MB<br>
                            <strong>-</strong> Video exponiendo el trabajo: máximo 1 min<br>        
                            
                        </p>
        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
                        <h4 class="font-weight-bold">JURADOS:</h4>
                        <p>
                            Eljurado está conformado por: <br>
                            <strong>-</strong>Canaza Ccori Franklin <br>
                            <strong>-</strong>Mogrovejo Martinez Andre <br>
                            <strong>-</strong>Soto Gonzales Daphne Garlet <br>
                            <strong>-</strong>Comunidad Agustina<br>
                            
                        </p>
        
                        <h4 class="font-weight-bold">PRESENTACIÓN:</h4>
                        <p>
                            La difusión del evento se llevará a cabo de manera virtual mediante los correos electronicos y la Web de DUTIC.
                        </p>
                        <p>
                            <strong>1.</strong> La presentación del trabajo será en formato digital, el cual se dará a
                            conocer en la Web de DUTIC para que la comunidad agustina pueda votar por su trabajo preferido en cada categoría.<br>
                        </p>
                        
                    </div>
                    <div class="col-12">
                        <div class="text-center pb-2">
                            <!-- <a href="assets/doc/ANEXO A - Estructura del Trabajo.docx" target="_blank" class="btn btn-round btn-lg text-center mr-3" title="Ver video"
                                style="background-color : #3a8dda;">
                                Descargue la plantilla de presentación
                                <i class="now-ui-icons education_paper ml-1"></i>
                            </a> -->
                            <a href="assets/doc/Concurso_Arte_Digital.pdf"
                                                target="_blank" class="btn text-center btn-primary" title="Ver documento">
                                                <strong class="text-wrap">VER DOCUMENTO</strong>
                                                <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>