<br><br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="content-route"> 
                    <a class="a-route" [routerLink]="['/ecoeficiencia']">DUTIC Ecoeficiente</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.639" height="12.388" viewBox="0 0 7.639 12.388">
                        <path id="path" d="M342.645,875l6.194,6.194-6.194,6.194-1.445-1.445,4.749-4.749-4.749-4.749Z" transform="translate(-341.2 -875)" fill="#888"/>
                    </svg>   
                    &nbsp;&nbsp;&nbsp;&nbsp;Noticias ecoeficientes
                </p>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <mat class="title-text mat-title">NOTICIAS</mat>
              <div class="title-line"></div>   
          </div>
          <div style="padding-top: 90px;"></div>  
      </div>

    <div class="row">
        <div class="col-md-5">
            <img src="https://i.ibb.co/HPNTBzP/eco-girl.jpg" alt="">
          </div>
          <div class="col-md-7">
            <a class="a-pag" [routerLink]="['/ecoeficiencia/noticias']">
              <p class="content-source">
                Internacional
              </p>
            </a>
              <p class="content-title">
                'Quiero ser una protectora, una eco girl'
              </p>
              <p class="content-text">
                Olivia Devaney es una niña de 7 años del condado de Down, que sorprendió con sus 
                preguntas al primer ministro del Reino Unido Boris Johnson sobre la conservidad 
                y el medio ambiente. Conoce más sobre esta niña y sus ideas para mejorar las 
                condiciones del medio ambiente.
              </p>
              <p class="content-source">
                Fuente <a class="a-pag" href="https://www.bbc.com/news/av/uk-northern-ireland-59082886" target="_blank"><b>BBC</b></a> | 05 de noviembre, 2021
              </p>
          </div>
    </div>
    <hr class="color-hr">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/eco/ecoconferencia.png" alt="">
          </div>
          <div class="col-md-7">
            <a class="a-pag" [routerLink]="['/ecoeficiencia/noticias']">
              <p class="content-source">
                Internacional
              </p>
            </a>
              <p class="content-title">
                ¿Qué es la conferencia climática de Glasgow y por qué es importante?
              </p>
              <p class="content-text">
                El Reino Unido está organizando una cumbre que se considera crucial si se quiere controlar el 
                cambio climático. La reunión en Glasgow del 31 de octubre al 12 de noviembre podría dar lugar 
                a cambios importantes en nuestra vida cotidiana.
              </p>
              <p class="content-source">
                Fuente <a class="a-pag" href="https://news.un.org/es/story/2021/10/1499162" target="_blank"><b>Noticias ONU</b></a> | 29 de octubre, 2021
              </p>
          </div>
    </div>

    <hr class="color-hr">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/eco/ecoip.png" alt="">
          </div>
          <div class="col-md-7">
            <a class="a-pag" [routerLink]="['/ecoeficiencia/noticias']">
              <p class="content-source">
                Nacional
              </p>
            </a>
              <p class="content-title">
                Curso virtual “Introducción a la ecoeficiencia en instituciones públicas” ofrecido por el MINAM
              </p>
              <p class="content-text">
                Actualmente el ministerio del ambiente se encuentra dictando un curso virtual sobre 
                la ecoeficiencia y su gestión en el sector público. El curso brindará asistencia
                técnica y permitirá sensibilizar y capacitar a los servidores de las entidades 
                públicas para la implementación de medidas de ecoeficiencia.
              </p>
              <p class="content-source">
                Fuente <a class="a-pag" href="https://aulaaprende.minam.gob.pe/course/index.php?categoryid=11" target="_blank"><b>MINAM</b></a> | 29 de octubre, 2021
              </p>
          </div>
    </div>
    
  </div>
  </section>
  <br><br>
  <section>
      <div class="container">
          <div class="row">
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
            <div class="col-md-6 text-left">
                <a class="a-pag" [routerLink]="['/ecoeficiencia/ecodutips']">
                    <p class="content-source">Tema anterior</p>
                    <p class="content-pagination">Eco-Dutips</p>
                </a>
            </div>
            <div class="col-md-6 text-right">
                <a class="a-pag"[routerLink]="['/ecoeficiencia/investigaciones']">
                    <p class="content-source">Tema siguiente</p>
                    <p class="content-pagination">investigaciones ecoeficientes</p>
                </a>
            </div>
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
          </div>

      </div>
  </section>
  <br><br><br>



<!-- <br>
<br>
<br>
<br>
<br>
<br>
<section>
    <div  class="container">
        <div class="row">
            <div class="col-md-6 align-right" >
                <mat class="mb-0 mat-body">

                
                <a [routerLink]="['/eco-eficiencia']" class="color-plo">
                    DUTIC ecoeficiente

                </a>
                <span  class="color-plo">&nbsp;&nbsp;>>&nbsp;&nbsp;</span> <span class="color-azul">Imvestigaciones ecoeficientes
                </span>
            </mat>

            </div>
       </div>
    </div>            
</section>
   
 

    <br>
    <br>


        <section>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <mat class="title-text mat-title">NOTICIAS</mat>
                        <div class="title-line"></div>   
                    </div>
                    <div class="row mt-4">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-4 text-center">
                            <img src="assets/eco/ecogirl.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                <br><br>
                                <body>
                                    <p style="color:#141E42"> 
                                       Internacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>'Quiero ser una protectora, una eco girl'
                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        Olivia Devaney es una niña de 7 años del condado de Down, que sorprendió con sus preguntas 
                                        al primer ministro del Reino Unido Boris Johnson sobre la conservidad y el medio ambiente. 
                                        Conoce más sobre esta niña y sus ideas para mejorar las condiciones del medio ambiente.
                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        Fuente <a href="https://www.bbc.com/news/av/uk-northern-ireland-59082886" 
                                        target="_blank"> <strong>BBC</strong></a> | 05 de noviembre del 2021.
                                    </p>
                                </body>                  
            
                                <br><br>
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    <div class="row mt-4">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-4 text-center">
                            <img src="assets/eco/ecoconferencia.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                <br><br>
                                <body>
                                    <p style="color:#141E42"> 
                                       Internacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>COP26: ¿Qué es la conferencia climática de Glasgow y por qué es importante?
                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        El Reino Unido está organizando una cumbre que se considera crucial si se quiere controlar el 
                                        cambio climático. La reunión en Glasgow del 31 de octubre al 12 de noviembre podría dar lugar 
                                        a cambios importantes en nuestra vida cotidiana.
            
                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        Fuente <a href="https://news.un.org/es/story/2021/10/1499162" 
                                        target="_blank"> <strong>Noticias ONU</strong></a> | 29 de ocutbre del 2021.
                                    </p>
                                </body>                  
            
                                <br><br>
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    <div class="row mt-4">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-4 text-center">
                            <img src="assets/eco/ecoip.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                <br><br>
                                <body>
                                    <p style="color:#141E42"> 
                                       Nacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>Curso virtual “Introducción a la ecoeficiencia en instituciones 
                                        públicas” ofrecido por el minam
                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        Actualmente el ministerio del ambiente se encuentra dictando un curso virtual sobre 
                                        la ecoeficiencia y su gestión en el sector público. El curso brindará asistencia
                                         técnica y permitirá sensibilizar y capacitar a los servidores de las entidades 
                                         públicas para la implementación de medidas de ecoeficiencia.
               
                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        Fuente <a href="https://aulaaprende.minam.gob.pe/course/index.php?categoryid=11" 
                                        target="_blank"> <strong>MINAM</strong></a> | 05 de noviembre del 2021.
                                    </p>
                                </body>                  
            
                                <br><br>
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    
            
            
                <div  style="height: 20px;" alt="...">
            
            
                </div>
                </div>
            </div>
        </section>


        <section>
            <div  class="container">
                <div class="row">
                    <div class="col-md-6 align-right" >
                        <mat class="mb-0 mat-body">

                        
                        <a [routerLink]="['/ecoeficiencia/ecodutips']" class="color-plo">
                            Tema anterior
                            <br><h5>
                                <strong class="color-azul"> Eco - Dutips</strong>
                               </h5>
                        </a>
                    </mat>
    
                    </div>
                    <div class="col-md-6 align-left">
                        <a [routerLink]="['/ecoeficiencia/investigaciones']">
                            Tema siguiente
                            <br><h5>
                                <strong class="color-azul"> Investigaciones ecoeficientes</strong>
                               </h5>
                        </a>    
                    </div>    
                </div>
            </div>            
        </section>
        <br>
        <br>
        <br>
            

       

            




 -->