<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
<div class="content"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <mat class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</mat>
            <div class="breadcrumbs">
                <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a>
                    <span class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Novedades de la UNSA</span></mat>
            </div>
        </div>
    </div>
</div>
</section>
<div style="background-color: #F1F1F2;">

<br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat class="title-text mat-title">Novedades de la UNSA</mat>
                <div class="title-line"></div>   
            </div>
            <div class="col-md-12 content-text">
                <mat class="mat-body">
                    En este ultimo año la UNSA a seguido haciendo nuevos avances tanto tecnologicos como academicos siempre buscando lo mejor para sus alumnos. Aquí podemos ir viendo algunos de estos avances:
                </mat>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<section>
    <div class="container">
        <div class="row mat-elevation-z6 p-4">
            <div class="col-md-12">
                <mat class="mat-title">UNSA entre las 10 mejores universidades del Perú según ranking web de universidades</mat>
                <div class="title-line"></div>   
            </div>

            <div class="col-md-7 content-info mat-body mt-3 text-justify">
                Hasta el 7 de diciembre de 2020, el Vicerrectorado de Investigación indicó que la universidad agustina llegó a los 993 artículos de investigación, lo que aseguraba para el 2021 llegar a una cifra histórica de más de mil este año del Bicentenario del Perú.
Al 3 de noviembre la UNSA era la segunda universidad pública con más artículos publicados en la base Scopus, una base de datos de referencias bibliográficas y citas; entre las privadas y públicas estamos en el quinto lugar en publicaciones, autores y citas.

            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/jbVj993/uiii-01-878x426.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row mat-elevation-z6 p-4">
            <div class="col-md-12">
                <mat class="mat-title">23 programas de estudio de la UNSA cuentan con acreditación</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body text-justify">
                
                Con el reconocimiento de 05 programas más por parte del SINEACE, la Universidad Nacional de San Agustín de Arequipa suma en total 23 programas de estudios acreditados, lo que asegura la calidad de su enseñanza.
                <br><br>
                En ceremonia oficial, el SINEACE reconoció a los programas agustinos acreditados por su institución en el 2020 como son: Gestión con mención en gestión de empresas, Marketing, Contabilidad, Ciencias de la Nutrición y Banca y Seguros. Además, reconoció la acreditación de 09 programas agustinos por ICACIT.
                La UNSA tiene 23 programas acreditados: 18 por parte de ICACIT y 05 por SINEACE.
                <br><br>
                El Dr. Daniel Valencia Ponze, Jefe de la Oficina de Acreditación, informó que actualmente 06 programas ya acreditados de ingenierías como: electrónica, mecánica, telecomunicaciones, industrial y ciencias de la computación están en busca de una segunda acreditación, siguiendo este proceso con la prestigiosa agencia americana ABET, N°1 en los Estados Unidos.
                
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/HV7SFmb/credit-02-878x426.png" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row  mat-elevation-z6 p-4">
            <div class="col-md-12">
                <mat class="mat-title">UNSA recibe a delegación organizadora del IX Congreso Internacional de la Lengua Española
                </mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body text-justify">
                La delegación encargada de organizar el IX Congreso Internacional de la Lengua Española sostuvo una reunión con las autoridades de la Universidad Nacional de San Agustín de Arequipa (UNSA) y mostró su deseo de realizar sus actividades en sus recintos.
                <br><br>
                Realizaron un recorrió por las instalaciones de la Casa Agustina y pidieron información sobre el estadio de la UNSA que posiblemente sería utilizado para uno de sus eventos. Se estima que serán más de 400 actividades programadas para el 2022.
                <br><br>
                El acuerdo para que el Congreso Internacional se desarrolle en Arequipa fue firmado en Lima el pasado 15 de julio de 2019. Desde esa fecha se realizaron diversas reuniones entre la Universidad y los miembros del Instituto Cervantes.
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/THPTKbV/IMG-6134-768x512.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row  mat-elevation-z6 p-4">
            <div class="col-md-12">
                <mat class="mat-title">UNSA espera tener todos sus Programas de Estudio acreditados para el 2022
                </mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body text-justify">
                El rector de la Universidad Nacional de San Agustín de Arequipa, Dr. Hugo Rojas Flores, indicó que para el 2022 se espera que todos los programas de estudio de la Casa Agustina cuenten con acreditación.
                 <br><br>
                 Fue durante la ceremonia de entrega de acreditaciones y Colibrís a los programas acreditados por el Sistema Nacional de Evaluación, Acreditación y Certificación de la Calidad Educativa (SINEACE)  e Instituto de Calidad y Acreditación de Programas de Computación, Ingeniería y Tecnología (ICACIT) que la autoridad agustina precisó que después este objetivo se debe  apuntar hacia la acreditación internacional de todas las escuelas para luego lograr la acreditación de la Universidad, todo ello en beneficio de los mismos estudiantes.
                 <br><br>
                
                En la actualidad, la Casa Agustina cuenta con 23 programas acreditados: 18 con el modelo de ICACIT y 05 por SINEACE. La Dra. Martha Postigo de la oficina de Calidad expresó su agradecimiento a docentes, estudiantes y trabajadores de las escuelas acreditadas por su esfuerzo y compromiso en este objetivo.


Mientras que Ing. Sanitaria, Ing. Civil, Ing. de Minas, Ing. Geológica, Ing. Geofísica, Ing. Mecánica, Ing. Electrónica, Ing. de Telecomunicaciones recibieron sus reconocimientos por ICACIT.
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/tPbVjyj/MG-2700-1-878x426.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row mat-elevation-z6 p-4">
            <div class="col-md-12">
                <mat class="mat-title">Delegación de Alto Nivel de Universidad Norteamericana líder en investigación desarrolla 21 trabajos de co-investigación junto a docentes e investigadores agustinos.
                </mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body text-justify">
                La tercera fase de cooperación entre la UNSA y la universidad de Purdue de Estados Unidos, dio su primer paso. Representantes de esta casa superior de estudios extranjera visitaron el rectorado Agustino para reunirse con sus autoridades y afianzar sus relaciones interinstitucionales.
                  <br><br>
                  Parte de la tercera fase de cooperación también tiene que ver con la consolidación del Instituto Nexus de Arequipa, con su aprobación ante el Consejo Universitario y la construcción de su infraestructura en Majes-Pedregal.
                  <br><br>
                  En esta nueva reunión se acordó ejecutar nuevos proyectos de Investigación y establecer mecanismos de apoyo para el Parque Científico y Tecnológico de Arequipa, administrado por la Casa Agustina.
  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/zPFpSLs/IMG-0089-878x426.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>

<br><br>
</div>