<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
<div class="content"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <mat class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</mat>
            <div class="breadcrumbs">
                <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a>
                    <span class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Datos curiosos</span></mat>
            </div>
        </div>
    </div>
</div>
</section>
<br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat class="title-text mat-title">DATOS CURIOSOS</mat>
                <div class="title-line"></div>   
            </div>
            <div class="col-md-12 content-text">
                <mat class="mat-body">
                    En este bicentenario conoce más sobre nuestra independencia, ¡conoce más sobre nuestras historia! . Entérate de datos como: cuando fue 
                    la verdadera independencia del Perú o como surgió el gentilicio 'Peruano'/'Peruana'. Entérate de estas y otras muchas cosas más.
                </mat>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <img src="https://i.ibb.co/P91LZhW/PALACIO-DE-GOBIERNO-ROJO.jpg" alt="" class="mat-elevation-z8">
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">La independencia real</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                A pesar de que el 28 de julio de 1821 pasó a formar parte del calendario peruano
                como el día oficial para homenajear la independencia del país, lo cierto es que su
                proclamación aquel día no cambió nada en la nación.
                <br><br>
                La independencia no fue real hasta 1824. Hasta ese año, los españoles siguieron
                teniendo el control absoluto de la economía y la política peruanas. El hecho que
                realmente puso punto y final al control colono fue la batalla de Ayacucho en 1824  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/XZ02wgn/batalla-de-ayacucho.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">El gentilicio peruano</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body ">
                El gentilicio que en la actualidad se utiliza para referirse a los ciudadanos de Perú es 'peruano' o 'peruana', 
                en función del género. Sin embargo, esto no era común en la época de la colonia española.
                <br><br>    
                De hecho, tanto los criollos como los españoles que residían en el país 
                utilizaban esta palabra para referirse solamente a los ciudadanos autóctonos. 
                Habitualmente también los identificaban como "indios" o "los indios peruanos".   
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/1Kjn0LT/Criollos.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row  mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">La independencia en 4 plazas</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                La independencia del Perú que fue proclamada por San Martín el 28 de julio de 1821 
                no fue la única vez que se hizo, la independencia se proclamó hasta 4 veces, y cada una de ellas 
                en una plaza distinta de la ciudad de Lima.
                <br><br>
                En orden cronológico, las plazas donde la independencia fue proclamada fueron: 
                la Plaza Mayor de Lima (también conocida como Plaza de Armas), 
                la Plaza de La Merced, la Plaza de la Inquisición y, finalmente, 
                la Plaza de Santa Ana.  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/qyz0Qhf/4-plazas.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
<div class="container">
        <div class="row  mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">Mujeres frente a la independencia</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                EL papel de las mujeres en el proceso emancipador fue mas importante de lo que se cuenta,
                 según los historiadores de la actualidad el rol de las mujeres había 
                 sufrido deformaciones históricas, enfatizan que es necesario revalorar el papel de las mujeres 
                 en el proceso emancipador de nuestro país, para que las nuevas generaciones comprendan 
                 su verdadero rol.
                 <br><br>
                Micaela Bastidas fue una de las mujeres mas importantes en el proceso emancipador, 
                fue esposa de Tupac Amaru II, y pieza vital para la Gran Rebelión 
                en el siglo 18. Scarlett O’Phelan autora de libros históricos comenta: 
                “Ella estuvo a cargo de la logística como enviar vivieres, soldados y armas 
                a las tropas. Se quedó en el cuartel general de Túpac Amaru, y allí 
                era el brazo derecho que enviaba todo tipo de pedidos que hacían”.
  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/zJ7rQ70/micaela-bastidas.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row  mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">No todos querían ser independientes</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                No todos en el Perú querían independizarse de España. Incluso los nativos tampoco deseaban
                 la independencia. Muchos de ellos preferían considerarse como parte de la colonia española
                  y pensaban que estar bajo el dominio de los colonos era algo positivo.
                  <br><br>
                Por otro lado, la relación entre la metrópoli y la colonia beneficiaba económicamente 
                a las élites: los criollos pertenecientes a la alta sociedad o los eclesiásticos. 
                Estos rechazaban rotundamente la emancipación y no dudaron en ponerse de lado de los 
                españoles en las diferentes batallas.
  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/PtbfKS7/independencia-firma.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row  mat-elevation-z6 p-row">
            <div class="col-md-7">
                <mat class="title-text mat-title">El cuadro de la discordia</mat>
                <div class="title-line"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                El famoso cuadro denominado 'Proclamación de la Independencia de Perú'
                 representa, como su propio nombre indica, la independencia del país 
                 sudamericano; en concreto simboliza el momento en el que San Martín, 
                 líder del movimiento independentista, proclama la libertad de la nación.
                 <br><br>    
                Sin embargo, la obra, realizada por Juan Lepiani, no se ajusta del todo a la realidad. 
                Tras la figura de San Martín el artista sitúa al arzobispo de Perú. La presencia de 
                este último es un invento pues, según fuentes históricas, la Iglesia católica estaba 
                en contra de la independencia y la presencia del eclesiástico jamás se produjo.
  
            </div>
            <div class="col-md-4 offset-md-1">
                <img src="https://i.ibb.co/87MYtsw/independencia-peru.jpg" alt="" class="mat-elevation-z2">
            </div>
        </div>
    </div>
</section>
<br><br>
