<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
    <div class="content"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mt-0 mb-3 text-white mat-display-1">Diseño y herramientas para aulas virtuales</h2>
                <p class="text-white">
                    Es el momento del desarrollo cualitativo de la enseñanza aprendizaje semipresencial que deberá
                    continuar más allá de la presencialidad enriqueciendo el aprendizaje del estudiante con competencias
                    globalizadas. <br>
                    Por esto necesitamos afirmar nuestras competencias en tecnología educativa digital en total
                    integración con la pedagogía para lo cual presentamos este programa que se inicia el día de hoy y se
                    irá desarrollando en cuanto a la tendencia de tecnología educativa digital habrá paso con
                    tecnologías emergentes. De esta forma invitamos a todos los docentes a ser actores del
                    propósito universitario de formar en el aprender necesario para alcanzar mejor calidad de vida
                    permanentemente, para el bienestar del mundo, y hacer de la UNSA referente Latinoamericano.
                </p>
                <div class="row">
                    <div class="col-5">
                        <a class="btn btn-primary btn-round btn-block" href="">
                            Registrate</a>
                    </div>
                    <div class="col-5">
                        <a class="btn btn-primary btn-round btn-block" href="https://dutic.unsa.edu.pe/capacitacion2022/course/view.php?id=16" target="_blank">
                            Aula virtual</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/svg/recursoGraf.svg">
            </div>
        </div>
    </div>
</section>
<section style="background-color: ghostwhite;">
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/SocialDistanceSchool.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Protocolo de bioseguridad</strong></h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-block btn-round"
                            href="assets/doc/ProtocoloparalaprevencióndeCovid-19.pdf" target="_blank">
                            Ver documento<i class="now-ui-icons files_single-copy-04 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/classroom-rafiki.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Módulo 1</strong></h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block btn-round" (click)="openModal('data')">
                            Más información<i class="fas fa-plus ml-2"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/Audiobook-pana.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Módulo 2</strong></h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block btn-round" (click)="openModal('data')">
                            Más información<i class="fas fa-plus ml-2"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/Happy student-pana.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Módulo 3</strong></h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block btn-round" (click)="openModal('data')">
                            Más información<i class="fas fa-plus ml-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>