<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 5rem; padding-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="mt-0 mb-3 text-white mat-display-1">PLANIFICACIÓN, DISEÑO Y HERRAMIENTAS PARA AULAS VIRTUALES
                </h3>
                <p class="text-white">
                    Es el momento del desarrollo cualitativo de la enseñanza aprendizaje semipresencial, enriqueciendo
                    el aprendizaje del estudiante con competencias
                    globalizadas. Por esto necesitamos afirmar nuestras competencias en tecnología educativa digital en
                    total
                    integración con la pedagogía para lo cual presentamos este programa que se inicia el día de hoy y se
                    irá desarrollando en cuanto a la tendencia de tecnología educativa digital habrá paso con
                    tecnologías emergentes. De esta forma invitamos a todos los docentes a ser actores del
                    propósito universitario de formar en el aprender necesario para alcanzar mejor calidad de vida
                    permanentemente, para el bienestar del mundo, y hacer de la UNSA referente Latinoamericano.
                </p>
                <div class="row">
                    <!--div class="col-5">
                        <button class="btn btn-primary btn-round btn-block" (click)="openModalForm()" href="">
                            Iniciar el curso</button>
                    </div-->
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <a class="btn btn-primary btn-round btn-block"
                            href="https://dutic.unsa.edu.pe/capacitacion2022/course/view.php?id=16" target="_blank">
                            Ir al aula virtual</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pt-4">
                <img src="assets/svg/recursoGraf.svg">
            </div>
        </div>
    </div>
</section>
<section style="background-color: ghostwhite;">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 pt-4 pb-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/SocialDistanceSchool.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Protocolo de bioseguridad</strong></h5>
                        <p class="card-text">Protocolo para el ingreso y permanencia de los docentes, alumnos,
                            personal administrativo, proveedores y público en general a las
                            instalaciones de la Universidad Nacional de San Agustín de Arequipa, para
                            la prevención de enfermedades emergentes, principalmente el Covid - 19 </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-block btn-round"
                            href="assets/doc/ProtocoloparalaprevencióndeCovid-19.pdf" target="_blank">
                            Ver documento<i class="now-ui-icons files_single-copy-04 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/learning-amico.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Módulo 1</strong></h5>
                        <p class="card-text">El presente módulo se enfoca en las competencias para resolver problemas y
                            lograr propósitos, en la adaptabilidad al aprendizaje virtual
                            considerando los ejes de interacción, colaboración y producción. Además se brinda una
                            metodología para orientar el proceso de virtualización de las asignaturas con fundamentos pedagógicos</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-block btn-round" href="assets/c5mod3/index.html" target="_blank">
                            Ir al curso<i class="fas fa-plus ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-4 pt-4">
                    <img src="assets/svg/modaddie.svg" class="card-img-top pb-4" alt="...">
                    <div class="card-body mt-4">
                        <h5 class="card-title text-center"><strong>Módulo 2</strong></h5>
                        <p class="card-text">Diseño instruccional conocido como modelo ADDIE,
                            Aula Virtual Invertida, planificación y el diseño pedagógico
                            del aprendizaje en un entorno no presencial,
                            recursos tecnológicos para el diseño, apoyo y
                            evaluación virtual, estrategias didácticas, Feedforward y herramientas digitales para la
                            evaluación en un contexto no presencial.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-block btn-round" href="assets/c5mod2/index.html" target="_blank">
                            Ir al curso<i class="fas fa-plus ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-4">
                    <img src="assets/svg/online-learning-amico.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Módulo 3</strong></h5>
                        <p class="card-text">Aula virtual es un espacio dentro de una plataforma online en la que
                            comparten contenidos profesores y
                            estudiantes, y en el que se atienden consultas, dudas y evaluaciones de los participantes.
                            El estudiante puede acceder a ella para tomar sus clases, sin tener que estar sujeto a horarios y
                            a desplazamientos físicos.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-block btn-round" href="assets/c5mod2/index.html" target="_blank">
                            Ir al curso<i class="fas fa-plus ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>