<div style="padding-top: 150px; margin-bottom: 18px;" class="container">
    
    <div class="card--header--style card-header row">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <span>VIDEO TUTORIALES DEL ESTUDIANTE</span>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <p><a href="https://youtu.be/cpBgMV08km8" target="_blank">
                    Ingresando al aula Estudiante</a></p>
            <p><a href="https://youtu.be/eI6UQniaoco" target="_blank">
                    Cambiando contraseña estudiante</a></p>
            <p><a href="https://youtu.be/CfeT4x_QSjE" target="_blank">
                    Resolviendo una tarea estudiante</a></p>
        </div>
    </div>
    <div class="card--header--style card-header row mt-4">
        <div class="col-md-12 col-xl-12 col-lg-12">
            <span>MANUALES DEL ESTUDIANTE</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 wpb_column block">
            <p><a href="assets/doc/student/2020_Tutotial_Estudiante Ingresando_al_Aula_Virtual_v3Cinco.pdf"
                    target="_blank">Ingresando al aula Estudiante</a></p>
            <p><a href="assets/doc/teacher/2020_Tutorial_RecuperarContraseña_v3Cinco.pdf"
                    target="_blank">Recuperar contraseña</a></p>
            <p><a href="assets/doc/student/2020_Tutotial_Estudiante Cambiando Contraseña_v3Cinco.pdf"
                    target="_blank">Cambiando contraseña</a></p>
            <p><a href="assets/doc/student/2020_Tutorial_Tareas_v3Cinco.pdf"
                    target="_blank">Resolviendo Tareas </a></p>
        </div>
    </div>
</div>