<div style="padding-top: 80px; margin-bottom: 27px;" class="style--content">

    <div class="header--style col-lg-10 col-md-12 col-sm-12 pt-4 pr-5 pb-1 mb-4">
        <h2 class="font-weight-bold">TUTORIALES DEL ESTUDIANTE</h2>
    </div> 
    <div class="container">
        <div class="card-deck">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let video of videos">
                    <div class="card mb-4" >
                        <img src="{{video.thumbnails.medium.url}}" class="card-img-top" alt="..."  (click)="onClicVideo(video)">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{video.title}}</strong></h5>
                            <p class="card-text">{{video.description}}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger float-left" (click)="onClicVideo(video)">
                                Video<i class="now-ui-icons media-1_button-play ml-1"></i></button>
                            <button *ngIf="verify(video.resourceId.videoId)" class="btn btn-primary float-right" (click)="onClicHandbook(video)">
                                Manual<i class="now-ui-icons files_paper ml-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <!-- <div class="mt-4">
            <div class="col-md-12 col-xl-12 col-lg-12">
                <h4><strong>VIDEOS</strong></h4>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <p><a href="https://youtu.be/cpBgMV08km8" target="_blank">
                        Ingresando al aula Estudiante</a></p>
                <p><a href="https://youtu.be/eI6UQniaoco" target="_blank">
                        Cambiando contraseña estudiante</a></p>
                <p><a href="https://youtu.be/CfeT4x_QSjE" target="_blank">
                        Resolviendo una tarea estudiante</a></p>
            </div>
        </div>
        <div class=" mt-4">
            <div class="col-md-12 col-xl-12 col-lg-12">
                <h4><strong>MANUALES</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 wpb_column block">
                <p><a href="assets/doc/student/2020_Tutotial_Estudiante_Ingresando_al_Aula_Virtual_v3Cinco.pdf"
                        target="_blank">Ingresando al aula Estudiante</a></p>
                <p><a href="assets/doc/student/2020_Tutotial_Estudiante_Cambiando_Contraseña_v3Cinco.pdf"
                        target="_blank">Cambiando contraseña</a></p>
                <p><a href="assets/doc/student/2020_Tutorial_Tareas_v3Cinco.pdf" target="_blank">Resolviendo Tareas </a></p>
            </div>
        </div>
 -->    </div>   
</div>