<div style="padding-top: 80px;" class="style--content">
    <div class="pt-4 pb-2" style="background-color: #BFBFBF;">
        <h2 class="text-center container" style="color: #272A3D; ">
            <strong>INDUCCIÓN PARA ESTUDIANTES INGRESANTES<br></strong>
            <strong>A LA UNIVERSIDAD NACIONAL DE SAN AGUSTÍN<br>
                EN EL MANEJO DE LA PLATAFORMA MOODLE</strong>
        </h2>
    </div>
    <img src="assets/img/trainings/students/fondo.png" alt=""
        style="width: 100%; height: 100px; transform: rotate(-180deg);">
    <div class="container pb-4">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="font-weight-bold"> 1. OBJETIVO:</h4><br>
                <p>
                    Capacitar a los estudiantes ingresantes en el manejo de la plataforma Moodle para el
                    desarrollo de las actividades académicas en la carrera profesional a estudiar.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="font-weight-bold">2. PARTICIPANTES:</h4><br>
                <p>
                    Estudiantes ingresantes en el proceso de admisión virtual 2020 de las áreas de
                    Biomédicas, Ingenierías, Sociales y sedes, alcanzando una población de 1537 estudiantes.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4 class="font-weight-bold">3. ESTRATEGIAS:</h4><br>
                <p>
                    La inducción se realizará en dos videoconferencias a través de la plataforma meet de dos
                    horas cada una de ellas, propiciando la interacción entre los estudiantes a través de
                    herramientas dinámicas. Asimismo, se puede hacer uso de los videos de la plataforma
                    DUTIC para reforzar su aprendizaje.
                </p>
            </div>
        </div>

        <h4 class="font-weight-bold">4. FECHAS Y HORARIOS:</h4><br>
        <p>
            Se desarrollarán los días <strong>miércoles 26 y viernes 28 de agosto del 2020.</strong>
            Se han establecido 6 grupos de trabajo con los siguientes horarios y escuelas profesionales:
        </p>
        <div class="row p-2">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 1
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    8:00hrs a 10:00hrs
                </div>
                <div class="row p-2">
                    ● Biología<br>
                    ● Cs. de la Nutrición<br>
                    ● Enfermería<br>
                    ● Medicina<br>
                    ● Agronomía filiales<br>
                    ● Administración filiales<br>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 2
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    8:30hrs a 10:30hrs
                </div>
                <div class="row p-2">
                    ● Agronomía<br>
                    ● Ing. Pesquera<br>
                    ● Arquitectura<br>
                    ● Física<br>
                    ● Matemática<br>
                    ● Química<br>
                    ● Ing. Mecánica<br>
                    ● Ing. Ambiental<br>
                    ● Ing. Geofísica<br>
                    ● Ing. Geológica<br>
                    ● Ing. Electrónica<br>
                    ● Ing. Industrial<br>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 3
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    9:00hrs a 11:00hrs
                </div>
                <div class="row p-2">
                    ● Ing. Telecomunicaciones<br>
                    ● Ing. Eléctrica<br>
                    ● Ing. de Sistemas<br>
                    ● Ing. de Materiales<br>
                    ● Ing. de Industria Alimentaria<br>
                    ● Ing. de Minas<br>
                    ● Ing. Química<br>
                    ● Ing. Civil<br>
                    ● Ing. Metalúrgica<br>
                    ● Cs de la Computación<br>
                    ● Ing. Sanitaria<br>
                    ● Psicología<br>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 4
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    9:30hrs a 11:30hrs
                </div>
                <div class="row p-2">
                    ● Educación<br>
                    ● Historia<br>
                    ● Sociología<br>
                    ● Trabajo Social<br>
                    ● Antropología<br>
                    ● Filosofía<br>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 5
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    10:00hrs a 12:00hrs
                </div>
                <div class="row p-2">
                    ● Contabilidad<br>
                    ● Derecho<br>
                    ● Economía<br>
                    ● Artes<br>
                    ● Literatura<br>
                    ● Finanzas<br>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    GRUPO 6
                </div>
                <div class="row borderBottom--style text-center font-weight-bold p-2">
                    10:30hrs a 12:30hrs
                </div>
                <div class="row p-2">
                    ● Turismo y Hotelería<br>
                    ● Banca y Seguros<br>
                    ● Administración<br>
                    ● Gestión<br>
                    ● Marketing<br>
                    ● Relaciones Industriales<br>
                    ● Cs. de la Comunicación<br>
                </div>
            </div>
        </div>

        <h4 class="font-weight-bold">5. CONTENIDOS:</h4><br>
        <div class="row p-2">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row borderBottom--style">
                    <h5 class="font-weight-bold text-center">MIÉRCOLES 24 DE AGOSTO</h5>
                </div>
                <div class="row p-2 ">
                    <strong>1. Interfaz plataforma moodle</strong>
                    <div class="pl-3">
                        ● Conociendo el usuario y la
                        contraseña<br>
                        ● Ingresando al Aula<br>
                        ● Cambiando la contraseña<br>
                    </div>
                    <strong>2. Editando el Perfil de Usuario</strong>
                    <div class="pl-3">
                        ● Ingresar al perfil<br>
                        ● Verificar mis datos
                        personales<br>
                        ● Verificar mi correo
                        electrónico<br>
                    </div>
                    <strong>3. Ingresar a mis Cursos</strong>
                    <div class="pl-3">
                        ● Verificar mis cursos
                        asignados<br>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row borderBottom--style">
                    <h5 class="font-weight-bold text-center">VIERNES 28 DE AGOSTO</h5>
                </div>
                <div class="row p-2">
                    <strong>4. Ingresar y realizar actividades y
                        recursos del Curso</strong>
                    <div class="pl-3">
                        ● Revisar y enviar una tarea
                        (instrucciones, fecha y hora de
                        envío)<br>
                        ● Revisar resultados de
                        cuestionario (instrucciones,
                        fecha y hora de envío,
                        retroalimentación )<br>
                        ● Revisar y responder un foro<br>
                        ● Acceso a grabación de las clases<br>
                        ● Asistencia (marcado, record de
                        asistencias)<br>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-center"></div>
        </div>
        <h4 class="font-weight-bold">6. COMUNICACIÓN PERMANENTE:</h4><br>
        <p>
            Los estudiantes organizados por áreas, contarán con el acompañamiento de los integrantes del equipo
            DUTIC
            para cualquier
            dificultad que pudieran tener, comunicándose a
            través del correo: <strong>soportedutic@unsa.edu.pe o WhatsApp 959116470</strong>
        </p>
    </div>