<br><br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="content-route"> 
                    <a class="a-route" [routerLink]="['/ecoeficiencia']">DUTIC Ecoeficiente</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.639" height="12.388" viewBox="0 0 7.639 12.388">
                        <path id="path" d="M342.645,875l6.194,6.194-6.194,6.194-1.445-1.445,4.749-4.749-4.749-4.749Z" transform="translate(-341.2 -875)" fill="#888"/>
                    </svg>   
                    &nbsp;&nbsp;&nbsp;&nbsp;¿Qué es la ecoeficiencia?
                </p>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-menu">
                    <h1 class="content-title">
                       CONTENIDO 
                    </h1>
                    <div class="content-des">
                        <a [routerLink]="" class="a-pag" (click)="scroll(definition)"><h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>                              
                            &nbsp; 
                            ¿Qué es la ecoeficiencia?
                        </h2></a>
                        <hr>
                        <a [routerLink]="" class="a-pag" (click)="scroll(benefits)"><h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Beneficios de la ecoeficiencia
                        </h2></a>
                        <hr>
                        <a [routerLink]="" class="a-pag" (click)="scroll(environmental)"><h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia ambiental
                        </h2></a>
                        <hr>
                        <a [routerLink]="" class="a-pag" (click)="scroll(business)"><h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia empresarial
                        </h2></a>
                        <hr>
                        <a [routerLink]="" class="a-pag" (click)="scroll(home)"><h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia en el hogar
                        </h2></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <img src="https://i.ibb.co/wYfXb5Q/unsa-eco.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<br><br>
<section #definition>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>¿Qué es la Ecoeficiencia?</h3>
                <p>
                    Según el World Business Council for Sustainable Development (WBCSD),  la ecoeficiencia se define como proporcionar bienes y servicios a un precio competitivo, satisfaciendo las necesidades humanas y la calidad de vida, al tiempo que se reduce progresivamente el impacto ambiental y la intensidad de la utilización de recursos a lo largo del ciclo de vida, hasta un nivel compatible con la capacidad estimada que puede soportar el Planeta.
                </p>
                <br><br>
                <center> <img src="https://i.ibb.co/ZGcGcwX/que-es-ecoeficiencia.jpg" alt="" width="80%"></center>
                <br><br><br>
                <p>
                    La ecoeficiencia también se puede entender como la relación entre el valor del producto o servicio producido por una empresa y la suma de los impactos ambientales a lo largo de su ciclo de vida:
                </p>
                <br>
                <p style="text-align: center;">
                    <b>Ecoeficiencia = valor del producto ó servicio / impacto ambiental</b>
                </p>
                <br>
                <p>
                    Este concepto supone añadir cada vez más valor a los productos y servicios, consumiendo menos materias primas, generando cada vez menos contaminación a través de procedimientos sostenibles, eficientes y con riesgos gestionados.
                </p>
                <p>
                    En resumen, la ecoeficiencia se basa en un sistema de producciones con alta eficiencia empleando menor cantidad de recursos. Por lo tanto, cuando se aplica esta definición se logran obtener menos residuos empresariales.
                    Sin embargo, la ecoeficiencia no solo se basa en el ámbito empresarial. De cierto modo también se puede asociar con las áreas sociales. Siendo este el caso cuando un individuo es capaz de consumir menos recursos para obtener así menor impacto ambiental.
                </p>            
            </div>
        </div>
    </div>
</section>
<br>
<section #benefits>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>Beneficios de la Ecoeficiencia</h3>
                <p>
                    Evidentemente, uno de los beneficios de la ecoeficiencia aplicada es la disminución sobre la contaminación en el medio ambiente. La ecoeficiencia hace mucho énfasis en bajar los niveles de residuos que puedan resultar tóxicos o de gran impacto para la naturaleza. Es aquí, cuando entran los objetivos principales de la ecoeficiencia y logra atacar todos estos problemas de contaminación de los humanos sobre el planeta tierra.
                </p>   
                
                <p>
                    Continuando de esta manera, también se conoce el beneficio de la mejora de los servicios brindados. Este ejemplo se da en los momentos en que la ecoeficiencia es aplicada sobre el ámbito industrial o empresarial. 
                    No está demás mencionar que la ecoeficiencia aporta también beneficios en el área social. Esto se debe ya que cuando las personas comienzan a aplicar estos principios en su vida sienten que están mejorando su calidad de vida y la de los demás. Mostrando un buen comportamiento con el medio ambiente y haciendo de su vida mucho más sana.
                </p>
                <br><br>
                <center> <img src="https://i.ibb.co/PmzxLBf/ecoeficiencia-en-el-hogar.jpg" alt="" width="80%"></center>
                <br><br><br>            
            </div>
        </div>
    </div>
</section>
<br>
<section #environmental>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>Ecoeficiencia Ambiental</h3>
                <p>
                    Los objetivos de la ecoeficiencia también se pueden aplicar en el ámbito ambiental como empresarial. Sin embargo, hablaremos primero sobre esta definición al momento de ser aplicada sobre el medio ambiente. Como se ha identificado anteriormente, el nacimiento de la palabra “ecoeficiencia” viene cuando el Consejo Empresarial Mundial para el Desarrollo Sostenible nos habla sobre un nuevo ideal. Este será el que traerá grandes beneficios en el área que sea ejecutado. Por lo tanto, la ecoeficiencia es un término que puede favorecer al medio ambiente ya que disminuye los consumos de materias primas y se reducen la cantidad de desechos producidos.
                </p>   
                
                <p>
                    Continuando de esta manera, la ecoeficiencia es un término que trae como beneficios disminuir el impacto que los humanos tienen sobre el medio ambiente. Estas ventajas se obtienen a la hora que se logran cumplir con las necesidades del ser humano ofreciendo menos exigencias a los recursos naturales y dejando menos huellas sobre la naturaleza.
                </p>
                <p>
                    Es importante tomar en cuenta que la ecoeficiencia se traduce como un ideal que es capaz de abarcar los objetivos de producción o mejorándolos aún más consumiendo una menor cantidad de recursos o menos, a la vez que se bajan los niveles sobre la contaminación ambiental.
                </p>
                <br><br>
                <center> <img src="https://i.ibb.co/6vdhKLW/ecoeficiencia-ambiental.jpg" alt="" width="80%"></center>
                <br><br><br>            
            </div>
        </div>
    </div>
</section>
<br>
<section #business>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>Ecoeficiencia Empresarial</h3>
                <p>
                    La ecoeficiencia es un término que también puede ser aplicado en el ámbito empresarial. Esto se debe a que existen personas en el mundo laboral y político que toman el prefijo “eco” para referirse también a la economía. Por lo tanto, la ecoeficiencia empresarial presentaría fundamentos tanto en el sentido empresarial como en el sentido social y ecológico.
                </p>   
                
                <p>
                    Como se ha determinado en diversas ocasiones anteriores, los fundamentos de la ecoeficiencia se resumen en “hacer más con menos”. También se puede resumir el significado de la palabra ecoeficiencia como un “producir con mayor eficiencia con un menor impacto”.
                </p>
                <p>
                    Los objetivos de la ecoeficiencia sobre el ámbito industrial se resumen en 3 puntos clave:
                </p>
                <ul>
                    <li>Reducir el consumo de materias primas.</li>
                    <li>Disminuir el impacto en el medio ambiente.</li>
                    <li>Mejorar la calidad del producto o servicio.</li>
                </ul>
                
                <br><br>
                <center> <img src="https://i.ibb.co/L0RQjQK/ecoeficiencia-empresarial.png" alt="" width="80%"></center>
                <br><br><br>            
            </div>
        </div>
    </div>
</section>
<br>
<section #home>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>Ecoeficiencia en el Hogar</h3>
                <p>
                    Debido a la situación actual, existe un grupo importante de la población que se encuentra laborando o estudiando desde sus hogares. Ello ha implicado un mayor consumo de energía debido al incremento del uso de dispositivos como computadoras, tabletas y celulares, lo cual conlleva a una alza en la emisión de gases de efecto invernadero (GEI).
                </p>   
                
                <p>
                    Asimismo, también ha aumentado el consumo de otros recursos y la generación de residuos no aprovechables como plásticos de un solo uso. En la economía familiar, esto se ve reflejado en un incremento del precio que se paga mensualmente por el acceso a servicios básicos.
                </p>
                <p>
                    A continuación te compartimos algunas recomendaciones para mejorar las buenas prácticas de ecoeficiencia en el hogar :
                </p>
                <ul>
                    <li>Sustituir los focos tradicionales por los focos ahorradores. Ello puede reducir el uso de energía entre un 50-80%, obteniendo la misma cantidad de luz.</li>
                    <li>Desconectar los dispositivos eléctricos y electrónicos cuando no se utilizan, pues siguen consumiendo energía que se evidenciará en los recibos al final del mes.</li>
                    <li>Reusar el agua que utilizas para lavar las frutas y verduras en el riego de plantas.</li>
                    <li>Separar la basura para poder rescatar los materiales reciclables y aprovechar la basura orgánica como compost.</li>
                    <li>Evitar el uso de platos, vasos, cubiertos y servilletas desechables.</li>
                    <li>Verificar si hay fugas de agua, gas y/o electricidad en casa.</li>
                    <li>Tomar duchas de 5 minutos y cierra el grifo mientras te enjabonas o te aplicas champú.</li>
                </ul>
                
                <br><br>
                <center> <img src="https://i.ibb.co/qkhFc6H/ecoeficiencia-hogar.jpg" alt="" width="80%"></center>
                <br><br><br>            
            </div>
        </div>
    </div>
</section>
<br><br>
  <section>
      <div class="container">
          <div class="row">
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
           
            <div class="col-md-6 text-right offset-md-6">
                <a class="a-pag"[routerLink]="['/ecoeficiencia/ecodutips']">
                    <p class="content-source">Tema siguiente</p>
                    <p class="content-pagination">Eco-Dutips</p>
                </a>
            </div>
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
          </div>

      </div>
  </section>
<br><br><br>
