<br><br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="content-route"> 
                    <a class="a-route" [routerLink]="['/ecoeficiencia']">DUTIC Ecoeficiente</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.639" height="12.388" viewBox="0 0 7.639 12.388">
                        <path id="path" d="M342.645,875l6.194,6.194-6.194,6.194-1.445-1.445,4.749-4.749-4.749-4.749Z" transform="translate(-341.2 -875)" fill="#888"/>
                    </svg>   
                    &nbsp;&nbsp;&nbsp;&nbsp;¿Qué es la ecoeficiencia?
                </p>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-menu">
                    <h1 class="content-title">
                       CONTENIDO 
                    </h1>
                    <div class="content-des">
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>                              
                            &nbsp; 
                            ¿Qué es la ecoeficiencia?
                        </h2>
                        <hr>
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Beneficios de la ecoeficiencia
                        </h2>
                        <hr>
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia ambiental
                        </h2>
                        <hr>
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia empresarial
                        </h2>
                        <hr>
                        <h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.497" height="12.157" viewBox="0 0 7.497 12.157">
                                <path id="path" d="M342.618,875l6.078,6.078-6.078,6.078-1.418-1.418,4.66-4.66-4.66-4.66Z" transform="translate(-341.2 -875)" fill="#141e42"/>
                              </svg>
                              
                            &nbsp;
                            Ecoeficiencia en el hogar
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <img src="https://i.ibb.co/wYfXb5Q/unsa-eco.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-main">
                <h3>¿Qué es la Ecoeficiencia?</h3>
                <p>
                    Según el World Business Council for Sustainable Development (WBCSD),  la ecoeficiencia se define como proporcionar bienes y servicios a un precio competitivo, satisfaciendo las necesidades humanas y la calidad de vida, al tiempo que se reduce progresivamente el impacto ambiental y la intensidad de la utilización de recursos a lo largo del ciclo de vida, hasta un nivel compatible con la capacidad estimada que puede soportar el Planeta.
                </p>
                <br><br>
                <center> <img src="https://i.ibb.co/ZGcGcwX/que-es-ecoeficiencia.jpg" alt="" width="80%"></center>
                <br><br><br>
                <p>
                    La ecoeficiencia también se puede entender como la relación entre el valor del producto o servicio producido por una empresa y la suma de los impactos ambientales a lo largo de su ciclo de vida:
                </p>
                <br>
                <p style="text-align: center;">
                    <b>Ecoeficiencia = valor del producto ó servicio / impacto ambiental</b>
                </p>
                <br>
                <p>
                    Este concepto supone añadir cada vez más valor a los productos y servicios, consumiendo menos materias primas, generando cada vez menos contaminación a través de procedimientos sostenibles, eficientes y con riesgos gestionados.
                </p>
                <p>
                    En resumen, la ecoeficiencia se basa en un sistema de producciones con alta eficiencia empleando menor cantidad de recursos. Por lo tanto, cuando se aplica esta definición se logran obtener menos residuos empresariales.
                    Sin embargo, la ecoeficiencia no solo se basa en el ámbito empresarial. De cierto modo también se puede asociar con las áreas sociales. Siendo este el caso cuando un individuo es capaz de consumir menos recursos para obtener así menor impacto ambiental.
                </p>            
            </div>
        </div>
    </div>
</section>
<br><br>
  <section>
      <div class="container">
          <div class="row">
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
           
            <div class="col-md-6 text-right offset-md-6">
                <a class="a-pag"[routerLink]="['/ecoeficiencia/ecodutips']">
                    <p class="content-source">Tema siguiente</p>
                    <p class="content-pagination">Eco-Dutips</p>
                </a>
            </div>
            <div class="col-md-12">
                <hr class="pagination-hr">
            </div>
          </div>

      </div>
  </section>
<br><br><br>
