<div style="margin-top: 150px;" class="container">
        <div class="card--header--style card-header row">
                <div class="col-md-12 col-xl-12 col-lg-12">
                        <span>VIDEO TUTORIALES HERRAMIENTAS GOOGLE</span>
                </div>
        </div>
        <div class="row mb-4">
                <div class="col-12">
                        <p><a href="https://youtu.be/4MPNsS50gqk" target="_blank">
                                        Google calendar, meet</a></p>

                        <p><a href="https://youtu.be/_WGnxtKh-Vs" target="_blank">
                                        Google Drive</a></p>

                        <p><a href="https://www.youtube.com/watch?v=Z2ql_xw7p8A" target="_blank">
                                        Documentos de Google: Principales Opciones y Herramientas colaborativas</a></p>

                        <p><a href="https://www.youtube.com/watch?v=Kv-dyUBV0_k" target="_blank">
                                        Presentaciones de Google: Principales Opciones y Herramientas Colaborativas</a>
                        </p>

                        <p><a href="https://youtu.be/9pQbolFaRa8" target="_blank">
                                        Formularios de Google: Tutorial Completo</a></p>

                        <p><a href="https://youtu.be/t6lRyo2nOIo" target="_blank">
                                        YouTube: Creación y Personalizacion de Canal. Subir Videos</a></p>
                </div>
        </div>
        <div class="card--header--style card-header row mt-4">
                <div class="col-md-12 col-xl-12 col-lg-12">
                        <span>MANUALES HERRAMIENTAS GOOGLE</span>
                </div>
        </div>
        <div class="row mb-4">
                <div class="col-12">
                        <p><a href="assets/doc/google/2020_CALENDARIO_DE_GOOGLE.pdf" target="_blank">
                                        CALENDARIO DE GOOGLE</a></p>

                        <p><a href="assets/doc/google/2020_Google_Drive.pdf" target="_blank">
                                        Google Drive</a></p>

                        <p><a href="assets/doc/google/2020_Google_Hangouts_Meet.pdf" target="_blank">
                                        Google Hangouts Meet</a></p>
                        <!-- 
            <p><a href="assets/doc/google/HANGOUTS DE GOOGLE.pdf"
                    target="_blank">
                    2020_HANGOUTS DE GOOGLE</a></p> -->

                        <p><a href="assets/doc/google/2020_TutorialDocumentosGoogle.pdf" target="_blank">
                                        Tutorial Documentos Google</a></p>


                        <!-- <p><a href="assets/doc/google/2020_TutorialPresentacionesGoogle.pdf.pdf"
                    target="_blank">
                    Tutorial Presentaciones Google</a></p> -->

                        <p><a href="assets/doc/google/2020_Youtube.pdf" target="_blank">
                                        Tutorial Youtube</a></p>
                </div>
        </div>
</div>