<div style="padding-top: 80px; background-color: #DEDEDE;" class="wrapper">

    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/manos.jpg'); filter: brightness(10%); z-index: 1 !important;">
        </div>
        <div class="container">
            <div class="content-center">
                <h2 class="title">FERIA VIRTUAL</h2>
                <h4 class="category">“EXPERIENCIAS PEDAGÓGICAS EXITOSAS
                    E INNOVACIÓN TECNOLÓGICA EN LA EDUCACIÓN NO PRESENCIAL EN LA UNIVERSIDAD
                    NACIONAL DE SAN AGUSTÍN - AREQUIPA 2021”</h4>
                <div class="button-container">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScUKUCOwbsJANAjQDcwh1HB60kJFEI17JXk2fDM8ny_IXrQIg/viewform?pli=1"
                        target="_blank" class="btn btn-primary btn-round btn-lg">INSCRÍBETE AQUÍ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-bottom: 0px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <div class="">
                        <img src="assets/img/epeite/AficheFeriaVirtualEPEITE.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                    <h4 class="font-weight-bold">DE LOS REQUISITOS:</h4>
                    <p> Ser docente contratado o nombrado (con contrato vigente), de cualquier especialidad<br>
                        <strong>1.</strong> Haber escogido sólo 1 de las categorías: Ingenierías, Ciencias Sociales o Biomédicas.<br>
                        <strong>2.</strong> La participación podrá ser sólo individual o cátedra compartida
                    </p>
                    <h4 class="font-weight-bold">DE LOS REQUISITOS DE LOS TRABAJOS:</h4>
                    <p> Podrá presentar cualquier tipo de experiencia exitosa de su práctica docente que
                        contribuyó en el desarrollo de las competencias<br>
                        <strong>1.</strong> La experiencia puede incluir la aplicación de metodologías, estrategias, técnicas, y/o
                        herramientas tecnológicas.<br>
                        <strong>2.</strong> Para la presentación de la experiencia se utilizará el formato PÓSTER.<br>
                        <strong>3.</strong> Deberá elaborar un video de máximo 10 minutos de duración en el que describa las
                        principales de la experiencia (formato libre).<br>
                        <strong>4.</strong> Deberá adjuntar una fotografía tamaño pasaporte con traje institucional.<br>
                        <strong>5.</strong> Deberá adjuntar una biografía corta (máximo 300 palabras).
                    </p>
                    <h4 class="font-weight-bold">CONSULTAS:</h4>
                    <p> Más información en los documentos adjuntos, consultas a <strong>feria_epeite@unsa.edu.pe</strong>
                        
                    </p>
                    <div class="button-container text-center">
                        <a href="assets/img/epeite/FormatoPoster6Agosto.pptx" target="_blank"
                            class="btn btn-primary btn-round btn-lg mr-4">Descarga Formato póster</a>
                        <a href="assets/img/epeite/RESOLUCIONVICERRECTORALNo.335-2021-VRAC(EXP).pdf" target="_blank"
                            class="btn btn-primary btn-round btn-lg">Descarga Resolución vicerrectoral / Bases</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--INNOVATIC-->
    <!--div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/manos.jpg'); filter: brightness(10%); z-index: 1 !important;">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">INNOVATIC III</h1>
                <p class="category">EXPERIENCIAS DE ÉXITO DE LA EDUCACIÓN NO PRESENCIAL EN EL PROCESO DE ENSEÑANZA
                    APRENDIZAJE 2020</p>
                <div class="button-container">
                    <a href="https://dutic.unsa.edu.pe/innovatic/registrodocente.php" target="_blank"
                        class="btn btn-primary btn-round btn-lg">REGISTRARSE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding-bottom: 0px !important;">
        <div class="container">
            <div class="row">
                <div class="section-images col-lg-6 col-md-6 col-sm-12" style="z-index: 2 !important;">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">

                    <div class="borderBottom--style text-center">
                        <h4 class="font-weight-bold ">CRONOGRAMA</h4>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1">
                                <div class="pl-3">Publicación de las bases de concurso: <br></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> 6 de enero, 2021 </strong><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3">Recepción de trabajos: <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> hasta el 28 de febrero, 2021 </strong><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3">Revisión de trabajos: <br></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> hasta el 21 de marzo, 2021 </strong><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3">Publicación de resultados: <br></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> 29 de marzo, 2021 </strong><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3">Presentación Virtual de Trabajos: <br></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> del 05 al 09 de abril, 2021 </strong><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3">Ceremonia de Reconocimiento Virtual: <br></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row p-1 ">
                                <div class="pl-3"><strong> el 09 de abril, 2021 </strong><br></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>
                        <strong> Este evento tiene como finalidad: </strong>
                    </p>
                    <p class="text-justify">
                        <strong>1.</strong> Compartir una experiencia de éxito en el proceso de enseñanza de su
                        asignatura,
                        evidenciada a través del uso de la plataforma virtual vinculada a diversas TIC que han
                        contribuido con el aprendizaje de sus estudiantes.<br>

                        <strong>2.</strong> Reconocer al docente de la Universidad por su práctica integradora e
                        innovadora a
                        través del uso de la plataforma virtual asociados a los procesos de enseñanza- aprendizaje en
                        educación no presencial.<br>

                        <strong>3.</strong> Difundir las experiencias exitosas de la educación no presencial para
                        promover
                        espacios de reflexión e intercambio entre los docentes y estudiantes de la comunidad
                        universitaria.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row">
            <div class="col-12">
                <div class="text-justify">
                    <h4 class="font-weight-bold">INTRODUCCIÓN</h4>
                    <p>
                        La Dirección Universitaria de Tecnologías de la Información y Comunicación, tiene como misión
                        promover el uso pedagógico de las Tecnologías de la Información y la Comunicación en la práctica
                        cotidiana de docentes y estudiantes para apoyar el desarrollo de competencias y habilidades que
                        impacten de manera positiva en los procesos de enseñanza y aprendizaje y como visión ser
                        reconocida como un centro de innovación e investigación pedagógica con tecnología, que promueve
                        las buenas prácticas docentes mediante procesos asertivos, flexibles y dinámicos de
                        acompañamiento y apoyo a los profesores y unidades académicas, en el diseño, implementación,
                        evaluación, mejoramiento y divulgación de las innovaciones educativas y tecnológicas.<br>
                        Desde el año 2016 se inició el proceso de capacitación al personal docente de la Universidad
                        Nacional de San Agustín en el uso de TIC y su aplicación en las aulas virtuales, como
                        complemento en el proceso enseñanza-aprendizaje. De esta forma formamos parte de la innovación
                        docente y fomentamos las buenas prácticas docentes apoyados en el uso de TIC asociados a la
                        enseñanza.<br>
                        Con el fin de reconocer el mérito del trabajo docente cuya experiencia se sintetiza en
                        conocimiento y esta se comparta en la comunidad educativa, así mismo tenga un efecto
                        multiplicador, se viene desarrollando por tercera vez consecutiva el INNOVATIC. <br>
                        Dicho evento en esta oportunidad alcanza una especial connotación debido a la pandemia y el alto
                        riesgo de contagio del COVID 19, lo que ha generado que todo el proceso de enseñanza aprendizaje
                        se lleve a cabo en un escenario virtual en su totalidad, lo cual nunca antes se había tenido.
                        <br>
                        Sin embargo, los docentes agustinos asumieron este reto mayor de virtualidad al 100% presionados
                        por el contexto y pudieron experimentar otro tipo de experiencias en el proceso de enseñanza
                        aprendizaje.<br>
                        La transformación del aula presencial al aula virtual para la mayoría de docentes y estudiantes
                        ha significado solucionar incontables problemas como la conectividad, la falta de equipos, el
                        desconocimiento de herramientas adecuadas o simplemente de cómo enseñar o cómo aprender
                        totalmente en remoto, han generado invaluables experiencias en cada docente, es por ello
                        deseamos que usted sea parte de este proceso de cambio y sea parte de esta historia y podamos
                        seguir adelante en este reto de transformación académica.<br><br>
                        Por todo ello es que proponemos la organización de la Tercera Edición del evento denominado
                        INNOVATIC III - EXPERIENCIAS EXITOSAS EN LA ESTRATEGIA DE LA ENSEÑANZA APRENDIZAJE DE LA
                        EDUCACIÓN NO PRESENCIAL EN LA UNSA, donde convocamos a la comunidad docente agustina a que
                        expongan y publiquen sus EXPERIENCIAS EXITOSAS en el uso de la plataforma virtual.
                    </p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-justify">

                <h4 class="font-weight-bold">PARTICIPANTES:</h4>
                <p>
                    Podrán participar de este evento docentes y jefes de práctica que cumplan con los requisitos
                    señalados en el presente documento.
                </p>
                <h4 class="font-weight-bold">REQUISITOS DE LOS PARTICIPANTES:</h4>
                <p>
                    Ser docente o jefe de práctica, nombrado o contratado (Con contrato vigente durante el
                    periodo académico 2020), de cualquier Programa de Estudios de Pregrado de la Universidad
                    Nacional de San Agustín de Arequipa.
                </p>
                <h4 class="font-weight-bold">REQUISITOS DE LOS TRABAJOS:</h4>
                <p>
                    <strong>1.</strong> La experiencia exitosa desarrollada debe corresponder al menos a una
                    asignatura
                    del año
                    académico 2020.<br>

                    <strong>2.</strong> Debe evidenciar el uso de TIC vinculadas en su aula virtual empleadas para
                    el
                    proceso de
                    enseñanza aprendizaje, tales como: Repositorio de recursos académicos, vídeos creados por el
                    docente (interactivos o no interactivos), paquetes de contenidos educativos digitales,
                    herramientas colaborativas propias de Moodle o externas, herramientas especializadas.<br>

                    <strong>3.</strong> El trabajo debe evidenciar el aprendizaje significativo de los estudiantes
                    al
                    emplear las
                    TIC vinculadas al aula virtual DUTIC.<br>

                    <strong>4.</strong> El trabajo podrá ser presentado en forma individual o hasta un máximo de
                    tres
                    integrantes
                    pudiendo ser docentes y/o jefes de práctica, respetando los derechos de autor
                    correspondientes.<br>

                    <strong>5.</strong> El trabajo estará compuesto en no menos de 4 ni más de 8 páginas de acuerdo
                    al
                    Anexo 1.
                </p>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
                <h4 class="font-weight-bold">ÓRGANOS REVISORES:</h4>
                <p>
                    Se conformará una comisión revisora, que es el órgano revisor integrado por expertos
                    reconocidos en temas educativos y de Tecnología aplicada al proceso de enseñanza
                    aprendizaje, los cuales mantienen una potestad declarativa de los trabajos presentados que
                    determinará el cumplimiento de los requisitos planteados.
                    <br>
                </p>

                <h4 class="font-weight-bold">PRESENTACIÓN:</h4>
                <p>
                    La difusión del evento se llevará a cabo de manera virtual.
                    La presentación de los trabajos se ejecutará conforme a lo siguiente:
                </p>
                <p>
                    <strong>1.</strong> La presentación del trabajo será en formato digital, el cual se dará a
                    conocer a los
                    seleccionados con la debida anticipación.<br>
                    <strong>2.</strong> El reconocimiento será otorgado por las autoridades Universitarias en
                    ceremonia de
                    reconocimiento virtual al término del evento.<br>
                </p>
                <h4 class="font-weight-bold">RECONOCIMIENTO:</h4>
                <p>
                    <strong>1.</strong> A todos los participantes que hayan cumplido con el cronograma
                    establecido se realizará
                    una felicitación pública y diploma de reconocimiento virtual dirigida por el Vicerrectorado
                    Académico de la Universidad en mérito a su desempeño académico y profesional relevante,
                    válido para el proceso de ascenso docente.<br>
                    <strong>2.</strong> Entrevistas virtuales mediante medios digitales para difundir los
                    mejores trabajos
                    presentados durante el día de la Premiación.<br>
                    <strong>3.</strong> Entrega de kit de cursos y/o eventos virtuales internacionales y de
                    prestigio para los 3
                    mejores trabajos sobre experiencias de éxito en el uso de aulas virtuales en los procesos de
                    enseñanza - aprendizaje del 2020.<br>
                    <strong>4.</strong> El artículo formará parte de la Revista Electrónica de DUTIC con
                    registro ISBN.<br>
                </p>
            </div>
            <div class="col-12">
                <div class="text-center pb-2">
                    <a href="assets/doc/ANEXO A - Estructura del Trabajo.docx" target="_blank" class="btn btn-round btn-lg text-center mr-3" title="Ver video"
                        style="background-color : #3a8dda;">
                        Descargue la plantilla de presentación
                        <i class="now-ui-icons education_paper ml-1"></i>
                    </a>
                    <a href="assets/doc/bases_Innovatic_III.pdf" target="_blank" class="btn btn-round btn-lg text-center mr-3" title="Ver video"
                        style="background-color : #3a8dda;">
                        Descargue las bases
                        <i class="now-ui-icons education_paper ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div-->
</div>