.borderLeft--style {
    border-left: 4px solid #141E42;
}
.borderBottom--style {
    border-bottom: 4px solid #141E42;
}
.borderBottom2--style {
    border-bottom: 4px solid #141E42;
}

.border-left-dutic { 
    border-left: 15px solid #141E42; 
}

.border-right-dutic { 
    border-right: 3px solid ghostwhite; 
}