<br>
<br>
<br>
<br>
<br>
<br>
<section>
    <div  class="container">
        <div class="row">
            <div class="col-md-6 align-right" >
                <mat class="mb-0 mat-body">

                
                <a [routerLink]="['/eco-eficiencia']" class="color-plo">
                    DUTIC ecoeficiente

                </a>
                <span  class="color-plo">&nbsp;&nbsp;>>&nbsp;&nbsp;</span> <span class="color-azul">Investigaciones ecoeficientes
                </span>
            </mat>

            </div>
        </div>
    </div>            
</section>
   
 

    <br>
    <br>


        <section>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <mat class="title-text mat-title">INVESTIGACIONES</mat>
                        <div class="title-line"></div>   
                    </div>
                    <div class="row mt-4">
                        
                        <div class="col-4 col-lg-5 col-md-6 col-sm-7 text-center">
                            <br><br> <br><br> 
                            <img src="assets/eco/movilidades.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                
                                <body>
                                    <p style="color:#141E42"> 
                                       Internacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>Movilidades ecoeficiente en escenarios de ciudades inteligentes

                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        Los Sistemas de Transporte Cooperativo-Inteligentes (C-ITS) han supuesto una revolución tecnológica, 
                                        especialmente para los vehículos terrestres, en términos de seguridad vial, eficiencia del tráfico, 
                                        así como en la experiencia de conductores y pasajeros. Hasta el momento, estos avances se han centrado
                                         en los medios de transporte tradicionales, dejando de lado la nueva generación de vehículos personales 
                                         que hoy inundan nuestras calles. Junto a las bicicletas y motos, los dispositivos de movilidad personal 
                                         como los segways o los patinetes eléctricos son firmes alternativas sostenibles que representan el futuro
                                          para conseguir una movilidad personal ecológica en entornos urbanos. En un futuro cercano, las ciudades 
                                          inteligentes se convertirán en espacios hiperconectados donde estos vehículos deberían integrarse dentro
                                           del ecosistema C-ITS subyacente. En este documento, brindamos una amplia descripción de las oportunidades
                                            y desafíos relacionados con esta necesaria integración, así como las soluciones de comunicación que ya están
                                             en el mercado para brindar a estos dispositivos móviles una conectividad eficiente y de bajo costo.

                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        Fuente <a href="https://www.mdpi.com/2071-1050/12/20/8443" 
                                        target="_blank"> <strong>WOS</strong></a> | 14 de octubre del 2020.
                                    </p>
                                </body>                  
            
                          
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    <div class="row mt-4">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-7 text-center">
                            <br><br> <br><br> <br><br><br><br>
                            <img src="assets/eco/casas.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                <br><br>
                                <body>
                                    <p style="color:#141E42"> 
                                       Internacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>Casas pasivas para estudiantes activos - Proporcionando conocimientos sobre edificios ecoeficientes

                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        La Oficina de Vivienda OeAD es una organización sin fines de lucro en el área de cooperación internacional en 
                                        educación, ciencia e investigación en Austria. Colaboramos con nuestra empresa matriz OeAD-GmbH, así como con
                                         varias residencias de estudiantes austriacos y universidades asociadas en todo el mundo. La principal responsabilidad 
                                         es alojar a estudiantes nacionales e internacionales en las ciudades universitarias de Austria. Nuestra historia de éxito
                                          comenzó con la construcción de las primeras residencias estudiantiles construidas según los estándares de la casa pasiva 
                                          en todo el mundo en Viena en 2005. Desde su finalización, la OeAD ha alojado a 280 estudiantes internacionales y
                                           profesores invitados por semestre. Tenemos éxito en la gestión de un total de 8 casas de huéspedes para estudiantes en 
                                           el diseño de casas pasivas construidas en Viena, Graz y Leoben. Esta investigación describe los beneficios de las casas 
                                           pasivas y la concienciación sobre los edificios ecoeficientes. Nos centramos en dos OeAD y Guesthouses en Austria y destacamos 
                                           su diseño, arquitectura y cómo es vivir en ambas.
            
                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        <!-- Fuente <a href="https://iopscience.iop.org/article/10.1088/1755-1315/323/1/012160/pdf"  -->
                                        Fuente <a href="https://iopscience.iop.org/article/10.1088/1755-1315/323/1/012160/meta" 
                                        target="_blank"> <strong>SCOPUS</strong></a> | 03 de noviembre del 2021.
                                    </p>
                                </body>                  
            
                          
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    <div class="row mt-4">
                        <div class="col-4 col-lg-5 col-md-6 col-sm-7 text-center">
                            <br><br> <br><br> <br><br>
                            <img src="assets/eco/ecomundo.png"
                                style="width: 500px; height: 300px;" alt="...">
                        </div>
                        <div class="col-6 col-lg-6 col-md-12 col-sm-1 text-center">
                            <p class="text-justify">
                                <br><br>
                                <body>
                                    <p style="color:#141E42"> 
                                       Internacional
                                    </p>
                                </body>     
            
                                <body>
                                    <p style="color:#009B00"> <strong>Desempeño de ecoeficiencia, innovación de eco-tecnología y 
                                        bienestar ecológico para mejorar el desarrollo sostenible global

                                    </strong></p>
                                </body>
                                <body>
                                    <p style="color:#141E42"> 
                                        En el mundo actual, determinar cómo mejorar la calidad de la economía, la innovación tecnológica y 
                                        el bienestar humano dentro de los límites ambientales y de recursos es un objetivo de desarrollo 
                                        sostenible global. Por lo tanto, la investigación sobre ecoeficiencia (EE), innovación de eco-tecnología
                                         (ETI) y desempeño de eco-bienestar (EWP) tiene una gran importancia para mejorar la eficiencia de convertir
                                          el consumo ecológico en beneficios económicos, innovación tecnológica y bienestar humano. . Este documento 
                                          presenta un modelo de medición basada en super-holgura (SBM) de dos etapas para examinar la EE, ETI y EWP
                                           (3E) de 102 países. El sistema de indicadores para el proceso de la red 3E se construye utilizando entradas, 
                                           productos intermedios y salidas. Los resultados empíricos muestran que los países con mejor desempeño en las 
                                           3E son Singapur, Estados Unidos e Islandia. Los resultados también indican que los países con altos niveles
                                            de desarrollo económico tienen niveles mucho mejores de EE, ETI y EWP que los países de bajos ingresos.
                                             Después de comparar los valores de la 3E en diferentes países con el promedio global, los resultados 
                                             muestran además que el desempeño global de la 3E es relativamente bajo. Estos hallazgos proporcionan 
                                             referencias significativas para ayudar a los gobiernos a generar diferentes estrategias para mejorar 
                                             el desempeño nacional de las 3E.
               
                                    </p>
                                </body>
                                
                                <body>
                                    <p style="color:#141E42"> 
                                        Fuente <a href="https://www.sciencedirect.com/science/article/abs/pii/S0195925521000305" 
                                        target="_blank"> <strong>ELSEVIER</strong></a> Julio del 2021.
                                    </p>
                                </body>                  
            
                           
                               
                            </p>
                        </div>
                    </div>
            
                    <br>
            
                    
            
            
                <div  style="height: 20px;" alt="...">
            
            
                </div>
                </div>
            </div>
        </section>

        <section>
            <div  class="container">
                <div class="row">
                    <div class="col-md-6 align-right" >
                        <mat class="mb-0 mat-body">                        
                        <a [routerLink]="['/ecoeficiencia/noticias']" class="color-plo">
                            Tema anterior
                        </a>                
                    </mat>
                    <br><h5>
                        <strong class="color-azul"> Noticias ecoeficientes</strong>
                       </h5>
    
                    </div>
                    <!-- <div class="col-md-6 align-left">
                        <a [routerLink]="['/ecoeficiencia/noticias']">
                            Tema s
                            <br>
                            Noticias 
                        </a>    
                    </div>     -->
                </div>
            </div>            
        </section>
        <br>
        <br>
        <br>


            

       

            




