<div style="padding-top: 70px;" class="">
</div>
<div class="wrapper">
    <div class="">
        <div class="page-header-image rellax-header" data-rellax-speed="-8">
        </div>
        <!--  <div class="container">
            <div class="content-center" style="margin-top: 9%;"> -->
        <!--                 <img class="n-logo" src="assets/img/dutic.png" alt="">
 style="text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;"
                -->
        <!-- <h2 class="title slogan">PROMOVIENDO EL USO DE LAS TIC EN LA <br><strong>ENSEÑANZA -
                        APRENDIZAJE</strong></h2> -->
        <!--   </div> -->
        <!--h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6-->
        <!--         </div>
 -->
    </div>
    <div class="" id="carousel">
        <div class="row justify-content-center">
            <div class="col-12" style="background-color: #141e42;">
                <ngb-carousel>

                    <!--ng-template ngbSlide>
                        <a [routerLink]="['/planification-design-tools']">
                            <img class="d-block img-fluid" src="assets/img/banner-webc5.png"
                                alt=""></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template-->
                    <!--ng-template ngbSlide>
                        <a [routerLink]="['/paradero-cultural']">
                            <img class="d-block img-fluid" src="assets/img/Banner-navidad.jpg" alt="Navidad DUTIC"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template-->
                    <ng-template ngbSlide>
                        <img class="d-block img-fluid" src="assets/img/flyer2023-mesatrabajo.jpg" alt="bienvenidos">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="d-block img-fluid" src="assets/img/UNSA_WEB.jpg" alt="bienvenidos">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template>
                    <!--ng-template ngbSlide>
                        <a [routerLink]="['/virtualLearning/news/content']">
                            <img class="d-block img-fluid" src="assets/newsletter/BannerCapac.jpg"
                                alt="Capacitacion a estudiantes"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template-->
                    <!--ng-template ngbSlide>
                        <img class="d-block" src="assets/img/header4.jpg" style=" filter: brightness(50%);"
                            alt="Imagen de portada">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="title slogan">PROMOVIENDO EL USO DE LAS TIC EN LA <br>ENSEÑANZA -
                                APRENDIZAJE</h2>
                        </div>
                    </ng-template-->
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="pt-4 pb-3">
        <div class="container">
            <div class="row background-white pt-3">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h3><strong>PRESENTACIÓN<br></strong></h3>
                    <p><strong>2023 META MÁS ALTA Y UN GRAN RETO PARA CONSOLIDAR LA UNIDAD DE LO PRESENCIAL Y LA
                            VIRTUALIDAD ACADÉMICA ACOMPAÑADA POR DUTIC</strong></p>
                    <p class="text-justify">
                        El 2023 es la consolidación de la transformación académica digital, ya que el servicio académico
                        en la UNSA seguirá mejorando como una unidad en cuanto a presencialidad y virtualidad, las aulas
                        presenciales se verán acompañadas con las herramientas y contenidos digitales. Todo esto tiene
                        un resultado, el salto cualitativo en la enseñanza aprendizaje que influirá directamente en la
                        mejor formación profesional de los estudiantes agustinos. Además, con el análisis de data
                        académica que podrá medir el avance del aprendizaje. Las herramientas multimedia que nos llevan
                        hacia el metaverso agustino.<br>
                        Ya nada puede parar el desarrollo de la digitalización académica al servicio de la enseñanza
                        aprendizaje, DUTIC demostró en la pandemia que las plataformas virtuales fueron la solución para
                        continuar el servicio académico y hoy ante cualquier evento como la crisis política que
                        atravesamos es la alternativa para no parar. Y como parte fundamental se cuenta con las
                        experiencias de docentes, estudiantes capacitados en el uso, lo cual hace que la transformación
                        digital tomará mayor velocidad este 2023. La unidad de lo presencial con lo virtual en la
                        Enseñanza Aprendizaje es palanca para continuar con el desarrollo de la UNSA, Felices Fiestas
                        les desea DUTIC.
                    </p>
                    <!--div class="text-center">
                        <strong>CRONOGRAMA UNSA 2022</strong><br>
                        <a href="assets/doc/lineamientos.pdf" target="_blank" class="btn btn-danger"
                            title="Ver documento">
                            <strong class="text-wrap">Ver Documento</strong>
                            <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                            <i class="fas fa-file-download"></i>
                        </a>
                    </div-->
                    <hr>
                    <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/MzCFme-7FGc" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> -->
                </div>
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">

                    <!--div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">PREGUNTAS FRECUENTES
                                                <span class="badge badge-success ml-2">Nuevo</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <p class="card-text">Estamos para resolver tus dudas o consultas</p>
                                            <a [routerLink]="['/dutic-questions']" href=""
                                                class="btn btn-primary btn-sm">Ver
                                                más</a>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <img src="assets/img/dutic-preg.png" class="card-img-top" alt="..."
                                                style="width: 100%; height: auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">BOLETÍN DUTIC
                                                <span class="text-white badge badge-success ml-2">Nuevo</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <img class="d-block" src="assets/img/contentstructure.svg">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <p class="card-text">Dutips y noticias en
                                                educación virtual.</p>
                                            <a [routerLink]="['/news/newsletter']" class="btn btn-primary btn-sm"
                                                title="Boletin informativo">
                                                Ver más
                                                <!--i class="now-ui-icons arrows-1_minimal-right ml-1"></i-->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">AULAS VIRTUALES
                                                <!--span class="badge badge-success ml-2">Nuevo</span-->
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <p class="card-text">Planificación, diseño y herramientas</p>
                                            <a [routerLink]="['/planification-design-tools']" href=""
                                                class="btn btn-primary btn-sm">Ver
                                                más</a>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <img src="assets/svg/modaddie.svg" class="card-img-top" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">CRONOGRAMA UNSA 2022
                                                <!--span class="badge badge-success ml-2">Nuevo</span-->
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <p class="card-text">Descargue el cronograma 2022 de la UNSA</p>
                                            <a href="assets/doc/RCU-0318-2022.pdf" target="blank"
                                                class="btn btn-primary btn-sm">Cronograma</a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <img src="assets/img/calendar.svg" class="card-img-top m2" alt="..."
                                                style="width: 100%; height: auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">PREGUNTAS FRECUENTES
                                                <!--span class="badge badge-success ml-2">Nuevo</span-->
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-12">
                                            <p class="card-text">Estamos para resolver tus dudas o consultas</p>
                                            <a [routerLink]="['/dutic-questions']" href=""
                                                class="btn btn-primary btn-sm">Ver
                                                más</a>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <img src="assets/img/dutic-preg.png" class="card-img-top" alt="..."
                                                style="width: 100%; height: auto;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title font-weight-bold">UNSA ECOEFICIENTE
                                                <!--span class="badge badge-success ml-2">Nuevo</span-->
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <img src="assets/img/dutic-eco.png" class="card-img-top m2" alt="..."
                                                style="width: 100%; height: auto;">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <p class="card-text">Promoviendo la conciencia ecoamigable</p>
                                            <a [routerLink]="['/ecoeficiencia']" href=""
                                                class="btn btn-primary btn-sm">Ver
                                                más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p><strong>Contáctanos:</strong></p>
                            <div ngbDropdown class="text-center">
                                <button class="btn background-white" id="gfg" ngbDropdownToggle
                                    style="border-radius: 50px;">
                                    <img src="assets/img/whatsapp.png" alt="whatsapp"
                                        style="width: 60px; height: auto;">
                                </button>
                                <div ngbDropdownMenu="gfg">
                                    <a class="dropdown-item"
                                        href="https://wa.me/51939083870?text=Buen%20día,%20deseo%20realizar%20una%20consulta."
                                        target="blank">Dutic
                                        Ingenierias</a>
                                    <a class="dropdown-item"
                                        href="https://wa.me/51939074882?text=Buen%20día,%20deseo%20realizar%20una%20consulta."
                                        target="blank">Dutic
                                        Sociales</a>
                                    <a class="dropdown-item"
                                        href="https://wa.me/51939084706?text=Buen%20día,%20deseo%20realizar%20una%20consulta."
                                        target="blank">Dutic
                                        Biomedicas</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-4">
                            <a href="assets/doc/ProtocoloparalaprevencióndeCovid-19.pdf" target="blank" class=""><img
                                    src="assets/img/protocoloCovid.png" class="card-img-top" alt="..."
                                    style="width: 100%; height: auto;"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <iframe
                                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDUTIC.UNSA.AQP%2F&tabs=timeline&width=345&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                width="345" height="600" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowfullscreen="true"
                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3><strong>NOTICIAS<br><small>UNSA Y ACTUALIDAD</small></strong></h3><br>

                    <div class="card-deck mb-4" style="margin-right: 15px!important">
                        <div class="row">
                            <div class="col-6 col-lg-2 col-md-6 col-sm-6" *ngFor="let news of content">
                                <div *ngIf="news.state==true? true : false" class="card card-news animated fadeIn fast"
                                    style="width: 100%; background-color: #141E42;">
                                    <img src="{{news.img}}" class="card-img-top" alt="..."
                                        style="width: auto; height: 140px;">
                                    <div class="card-body">
                                        <p class="card-title" style="color: white;">{{news.name}}</p>
                                        <div *ngIf="news.isnew==true? true : false"><span
                                                class="badge badge-success mr-2">Nuevo</span></div>
                                        <a href="{{news.link}}" class="btn btn-light btn-sm" target="_blank">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/MzCFme-7FGc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe> -->

        <!-- <div class="row">
                            <div class="slider">
                                <div class="slide-track">
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div> -->
        <!-- <div class="container">
                <div class="row mt-5">
                    <div class="col-6 pr-4">

                    </div>
                    <div class="col-6 text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/DUTIC.UNSA.AQP/" data-tabs="timeline"
                            data-width="1000" data-height="500" data-small-header="true"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/DUTIC.UNSA.AQP/" class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/DUTIC.UNSA.AQP/">DUTIC</a></blockquote>
                        </div>
                    </div>
                </div>
            </div> -->
        <div class="section" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3><strong>ACERCA DE <span>NOSOTROS</span></strong></h3>
                        <p class="subheading text-justify">La Dirección Universitaria de Tecnología
                            de Información y Comunicación, es un órgano de línea del Vicerrectorado
                            Académico,
                            responsable de promover, proponer y coordinar las actividades conducentes a la
                            actualización
                            permanente en tecnología educativa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-tabs">
                <div class="container">
                    <div class="row pl-4 pt-3 pb-3">
                        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-right">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 center-content">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                        style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                                stroke: #1D1D1B;
                                                stroke: none;
                                            }

                                            .st1 {
                                                fill: #27314E;
                                            }

                                            .st2 {
                                                fill: none;
                                                stroke: #1D1D1B;
                                                stroke-miterlimit: 10;
                                            }
                                        </style>
                                        <path class="st0"
                                            d="M364.2,365.1L364.2,365.1l0.5-0.5C364.5,364.8,364.3,365,364.2,365.1z" />
                                        <path class="st1"
                                            d="M750,400c0,193.3-156.7,350-350,350C206.9,750,50,593.1,50,400C50,206.7,206.7,50,400,50
                                    c67.7,0,130.9,19.2,184.4,52.5c13.4,8.3,15.5,26.9,4.3,38l-0.7,0.7c-8,8-20.6,9.6-30.3,3.6c-44.7-27.7-97.1-44-153.3-44.8
                                    C236.5,97.6,99.9,232.2,100,400.2c0.1,165.6,134.3,299.8,299.9,299.8c168,0.1,302.6-136.5,300.1-304.5
                                    c-0.8-56.3-17.1-108.8-44.9-153.4c-6-9.6-4.4-22.1,3.6-30l0.6-0.6c11.2-11.2,30-9.1,38.3,4.4C730.8,269.3,750,332.4,750,400z" />
                                        <path class="st0"
                                            d="M364.2,365.1L364.2,365.1l0.5-0.5C364.5,364.8,364.3,365,364.2,365.1z" />
                                        <path class="st0"
                                            d="M364.2,365.1L364.2,365.1l0.5-0.5C364.5,364.8,364.3,365,364.2,365.1z" />
                                        <path class="st1"
                                            d="M587.5,400c0,103.5-83.9,187.5-187.5,187.5c-103.9,0-187.5-83.6-187.5-187.5c0-103.5,84-187.5,187.5-187.5
                                    c19.9,0,39.1,3.1,57.1,8.9c17.6,5.6,23,27.8,10,40.9l-0.8,0.8c-6.5,6.5-16.1,8.8-25,6c-13.6-4.3-28.1-6.4-43.2-6.2
                                    c-75.3,1.2-135.3,62.1-135.3,137.5c0,75.9,61.6,137.5,137.5,137.5c75.6,0,136.6-60.3,137.5-135.8c0.2-15.1-2.1-29.7-6.4-43.3
                                    c-2.8-9-0.6-18.7,6.1-25.4l0,0c13.2-13.2,35.7-7.7,41.4,10.1C584.4,361.2,587.5,380.3,587.5,400z" />
                                        <path class="st0" d="M364.7,364.6c-0.2,0.2-0.3,0.3-0.5,0.5l0,0L364.7,364.6z" />
                                        <path class="st1"
                                            d="M739.2,131.5l-51.8,51.8c-1.1,1.1-2.5,1.7-4,1.8l-3.6,0.1l-28.4,1c-1.5,0.1-3,0.7-4,1.8L448.3,387.1
                                    c1.1,4.1,1.7,8.5,1.7,12.9c0,14-5.8,26.7-15.1,35.8c-9.7,9.4-23.1,14.9-37.8,14.1c-25.2-1.4-45.6-21.8-47-47
                                    c-0.8-14.7,4.7-28.1,14.1-37.8c0.2-0.2,0.3-0.3,0.5-0.5c9-9,21.5-14.6,35.3-14.6c4.5,0,8.8,0.6,12.9,1.7l64.9-64.9l35.9-35.9l80-80
                                    l18.3-18.3c1.1-1.1,1.7-2.5,1.8-4l1-28.4l0.1-3.6c0.1-1.5,0.7-2.9,1.8-4l51.8-51.8c3.9-3.9,10.4-1,10.2,4.5l-1.5,41.6l-0.4,10.1
                                    c-0.1,3.5,2.7,6.3,6.2,6.2l10.1-0.4l41.6-1.5C740.2,121.1,743.1,127.7,739.2,131.5z" />
                                        <path class="st2" d="M364.7,364.6c-0.2,0.2-0.3,0.3-0.5,0.5l0,0L364.7,364.6z" />
                                    </svg>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <h4><strong>Misi&oacute;n</strong></h4>
                                    <p>Promover el uso pedagógico de las Tecnologías de la Información y la Comunicación
                                        en
                                        la práctica cotidiana de docentes y estudiantes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-left">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 center-content">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                        style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                        <style type="text/css">
                                            .st9 {
                                                fill: #141E42;
                                                stroke: none;
                                            }
                                        </style>
                                        <path class="st9" d="M750.17,60.55V226.4c0,8.91-10.77,13.37-17.07,7.07l-40.5-40.5c-3.91-3.91-10.24-3.91-14.14,0L470.88,400.55
                                l-63.64,63.64c-3.91,3.91-10.24,3.91-14.14,0l-55.71-55.71l-1.02-1.02c-3.91-3.91-10.24-3.91-14.14,0L121.88,607.8
                                c-3.91,3.91-10.24,3.91-14.14,0l-56.57-56.57c-3.91-3.91-3.91-10.24,0-14.14l207.42-207.41l63.64-63.64
                                c3.91-3.91,10.24-3.91,14.14,0l56.73,56.73c3.91,3.91,10.24,3.91,14.14,0l200.5-200.51c3.91-3.91,3.91-10.24,0-14.14l-40.5-40.5
                                c-6.3-6.3-1.84-17.07,7.07-17.07h165.86C745.69,50.55,750.17,55.02,750.17,60.55z" />
                                        <path class="st9" d="M304.43,750h-30c-5.52,0-10-4.48-10-10V538.67c0-2.66,1.06-5.22,2.95-7.1l30-29.78
                                c6.31-6.26,17.05-1.79,17.05,7.1V740C314.43,745.52,309.95,750,304.43,750z" />
                                        <path class="st9" d="M224.43,750h-30c-5.52,0-10-4.48-10-10V613.65c0-2.65,1.05-5.2,2.93-7.07l30-30c6.3-6.3,17.07-1.84,17.07,7.07
                                V740C234.43,745.52,229.95,750,224.43,750z" />
                                        <path class="st9" d="M384.43,750h-30c-5.52,0-10-4.48-10-10V508.66c0-8.91,10.77-13.37,17.07-7.07l30,30
                                c1.88,1.88,2.93,4.42,2.93,7.07V740C394.43,745.52,389.95,750,384.43,750z" />
                                        <path class="st9" d="M464.43,750h-30c-5.52,0-10-4.48-10-10V529.9c0-2.65,1.05-5.2,2.93-7.07l30-30c6.3-6.3,17.07-1.84,17.07,7.07
                                V740C474.43,745.52,469.95,750,464.43,750z" />
                                        <path class="st9" d="M544.43,750h-30c-5.52,0-10-4.48-10-10V454.91c0-2.66,1.06-5.22,2.95-7.09l30-29.82
                                c6.31-6.27,17.05-1.8,17.05,7.09V740C554.43,745.52,549.95,750,544.43,750z" />
                                        <path class="st9" d="M624.43,750h-30c-5.52,0-10-4.48-10-10V379.89c0-2.65,1.05-5.2,2.93-7.07l30-30c6.3-6.3,17.07-1.84,17.07,7.07
                                V740C634.43,745.52,629.95,750,624.43,750z" />
                                    </svg>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <h4><strong>Visi&oacute;n</strong></h4>
                                    <p>Ser reconocida como un centro de innovación e investigación pedagógica con
                                        tecnología,
                                        que promueve las buenas prácticas docentes mediante procesos asertivos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <!-- <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/imagen2.jpg')">
                            First image on the left side 
                             <p class="blockquote blockquote-primary">"El uso de la plataforma virtual es una gran
                                    ayuda al docente e impacta directamente en los estudiantes de la UNSA para que estos
                                    reciban este conocimiento tecnologico"
                                    <br>
                                    <br>
                                    <small>-Dra Patricia Camargo</small>
                                </p> 
                        </div>
                        Second image on the left side of the article 
                    </div>
                    <div class="col-md-5">
                        First image on the right side, above the article 
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/sustentacion.jpg')">
                        </div>
                    </div>
                </div>
            </div> -->
        <!--   Funciones -->
        <div class="section" style="background-color: white !important;">
            <div class="container">
                <div class="text-center">
                    <h3><strong>NUESTRAS <span>FUNCIONES</span></strong></h3>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row text-center">
                            <div class="col-12">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                    style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: none;
                                        }

                                        .st7 {
                                            fill: #D2D3D5;
                                        }

                                        .st8 {
                                            fill: #1C2140;
                                            stroke: none;
                                        }
                                    </style>
                                    <path class="st7" d="M411.63,432.81c0,1.92-0.78,3.66-2.04,4.92c-1.26,1.26-3,2.04-4.92,2.04h-9.93c-3.93,0-7.11-3.18-7.11-7.11
                                    c0-0.49,0.4-0.89,0.89-0.89h22.07C411.17,431.77,411.63,432.23,411.63,432.81z" />
                                    <path class="st0" d="M415.01,420v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02V420c0-1.11,0.9-2.01,2.01-2.01
                                    h25.97C414.1,417.99,415.01,418.89,415.01,420z" />
                                    <path class="st7" d="M415.01,426.89v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02v-0.97
                                    c0-1.11,0.9-2.01,2.01-2.01h25.97C414.1,424.88,415.01,425.78,415.01,426.89z" />
                                    <path class="st7"
                                        d="M425,385.23c0,8.18-3.92,15.44-10,20v5.73c0,2.84-2.29,5.14-5.14,5.14h-19.71c-2.85,0-5.15-2.3-5.15-5.14v-5.73
                                    c-6.07-4.56-10-11.82-10-20c0-13.81,11.2-25,25-25C413.81,360.23,425,371.42,425,385.23z" />
                                    <path class="st7"
                                        d="M400,50C206.7,50,50,206.7,50,400s156.7,350,350,350s350-156.7,350-350S593.3,50,400,50z M399.62,724.91
                                    c-179.49,0-325-145.51-325-325c0-179.5,145.51-325,325-325c179.5,0,325,145.5,325,325C724.62,579.4,579.12,724.91,399.62,724.91z" />
                                    <path class="st0" d="M411.63,432.81c0,1.92-0.78,3.66-2.04,4.92c-1.26,1.26-3,2.04-4.92,2.04h-9.93c-3.93,0-7.11-3.18-7.11-7.11
                                    c0-0.49,0.4-0.89,0.89-0.89h22.07C411.17,431.77,411.63,432.23,411.63,432.81z" />
                                    <path class="st7" d="M415.01,420v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02V420c0-1.11,0.9-2.01,2.01-2.01
                                    h25.97C414.1,417.99,415.01,418.89,415.01,420z" />
                                    <path class="st7" d="M415.01,426.89v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02v-0.97
                                    c0-1.11,0.9-2.01,2.01-2.01h25.97C414.1,424.88,415.01,425.78,415.01,426.89z" />
                                    <path class="st0"
                                        d="M425,385.23c0,8.18-3.92,15.44-10,20v5.73c0,2.84-2.29,5.14-5.14,5.14h-19.71c-2.85,0-5.15-2.3-5.15-5.14v-5.73
                                    c-6.07-4.56-10-11.82-10-20c0-13.81,11.2-25,25-25C413.81,360.23,425,371.42,425,385.23z" />
                                    <path class="st7" d="M400,360.23c-13.8,0-25,11.19-25,25c0,8.18,3.93,15.44,10,20v5.73c0,2.84,2.3,5.14,5.15,5.14h19.71
                                    c2.85,0,5.14-2.3,5.14-5.14v-5.73c6.08-4.56,10-11.82,10-20C425,371.42,413.81,360.23,400,360.23z M412.99,424.88h-25.97
                                    c-1.11,0-2.01,0.9-2.01,2.01v0.97c0,1.12,0.9,2.02,2.01,2.02h25.97c1.11,0,2.02-0.9,2.02-2.02v-0.97
                                    C415.01,425.78,414.1,424.88,412.99,424.88z M412.99,417.99h-25.97c-1.11,0-2.01,0.9-2.01,2.01v0.97c0,1.12,0.9,2.02,2.01,2.02
                                    h25.97c1.11,0,2.02-0.9,2.02-2.02V420C415.01,418.89,414.1,417.99,412.99,417.99z M410.59,431.77h-22.07c-0.49,0-0.89,0.4-0.89,0.89
                                    c0,3.93,3.18,7.11,7.11,7.11h9.93c1.92,0,3.66-0.78,4.92-2.04c1.26-1.26,2.04-3,2.04-4.92
                                    C411.63,432.23,411.17,431.77,410.59,431.77z" />
                                    <circle class="st7" cx="398.97" cy="400" r="125" />
                                    <g>
                                        <g>
                                            <path class="st8" d="M400,360.23c-13.8,0-25,11.19-25,25c0,8.18,3.93,15.44,10,20v5.73c0,2.84,2.3,5.14,5.15,5.14h19.71
                                            c2.85,0,5.14-2.3,5.14-5.14v-5.73c6.08-4.56,10-11.82,10-20C425,371.42,413.81,360.23,400,360.23z M400,366.49
                                            c0,0.75-0.58,1.36-1.32,1.42c-0.4,0.03-0.79,0.07-1.19,0.13c-7.85,1.11-14.03,7.41-14.98,15.31c-0.02,0.16-0.04,0.32-0.05,0.48
                                            c-0.09,0.93-0.86,1.65-1.79,1.65c-0.86,0-1.56-0.7-1.56-1.54c0-0.05,0.01-0.09,0.01-0.14c0.8-10.13,8.81-18.23,18.9-19.18
                                            c1.06-0.1,1.98,0.76,1.98,1.83V366.49z" />
                                            <path class="st8" d="M415.01,420v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02V420
                                            c0-1.11,0.9-2.01,2.01-2.01h25.97C414.1,417.99,415.01,418.89,415.01,420z" />
                                            <path class="st8"
                                                d="M415.01,426.89v0.97c0,1.12-0.91,2.02-2.02,2.02h-25.97c-1.11,0-2.01-0.9-2.01-2.02v-0.97
                                            c0-1.11,0.9-2.01,2.01-2.01h25.97C414.1,424.88,415.01,425.78,415.01,426.89z" />
                                            <path class="st8"
                                                d="M411.63,432.81c0,1.92-0.78,3.66-2.04,4.92c-1.26,1.26-3,2.04-4.92,2.04h-9.93c-3.93,0-7.11-3.18-7.11-7.11
                                            c0-0.49,0.4-0.89,0.89-0.89h22.07C411.17,431.77,411.63,432.23,411.63,432.81z" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>PROPONER</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Políticas generales en materia de la integración de las TIC en el área académica.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                    style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #D2D3D5;
                                        }

                                        .st1 {
                                            fill: #141E42;
                                        }
                                    </style>
                                    <path class="st0"
                                        d="M400,50C206.7,50,50,206.7,50,400s156.7,350,350,350s350-156.7,350-350S593.3,50,400,50z M399.6,724.9
                                    c-179.5,0-325-145.5-325-325c0-179.5,145.5-325,325-325c179.5,0,325,145.5,325,325C724.6,579.4,579.1,724.9,399.6,724.9z" />
                                    <circle class="st0" cx="400" cy="400" r="125" />
                                    <path class="st1"
                                        d="M429.5,384.7c0.2-1.2,0.4-2.5,0.4-3.8c0-11-8.9-19.8-19.8-19.8c-10.3,0-18.7,7.8-19.7,17.8c-3-1.9-6.5-3-10.2-3
                                    c-9.8,0-17.9,7.4-19.1,16.8c-9.5,2.6-16.5,11.3-16.5,21.6c0,4.8,1.5,9.3,4.1,12.9c0.7,1,1.8,1.5,3,1.5H447c0.9,0,1.8-0.4,2.4-1.1
                                    c3.8-4.6,6.1-10.4,6.1-16.9C455.5,396.5,443.9,384.8,429.5,384.7z M414.4,408.3l-11.1,7.8c-1,0.7-2.4,0.7-3.5,0l-11.1-7.8
                                    c-2.4-1.7-1.2-5.5,1.7-5.5h1.2v-7.6c0-2.5,2-4.6,4.6-4.6h10.7c2.5,0,4.6,2,4.6,4.6v7.6h1.2C415.6,402.8,416.8,406.6,414.4,408.3z" />
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>GESTIONAR</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Actividades conducentes a la actualización permanente en tecnología educativa.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                    style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #D2D3D5;
                                        }

                                        .st1 {
                                            fill: #1C2140;
                                        }
                                    </style>
                                    <path class="st0"
                                        d="M400,50C206.7,50,50,206.7,50,400s156.7,350,350,350s350-156.7,350-350S593.3,50,400,50z M399.62,724.91
                                c-179.49,0-325-145.51-325-325c0-179.5,145.51-325,325-325c179.5,0,325,145.5,325,325C724.62,579.4,579.12,724.91,399.62,724.91z" />
                                    <circle class="st0" cx="400" cy="400" r="125" />
                                    <g>
                                        <g>
                                            <path class="st1"
                                                d="M412.79,421.82h-0.72c-2.56,0-4.64-2.08-4.64-4.64v-50.72c0-2.56,2.08-4.64,4.64-4.64h0.72
                                        c2.56,0,4.64,2.08,4.64,4.64v50.72C417.43,419.75,415.35,421.82,412.79,421.82z" />
                                            <path class="st1" d="M436.24,377.14l-8.66,5c-1.2,0.69-2.72,0.28-3.42-0.92v0c-0.69-1.2-0.28-2.72,0.92-3.42l8.66-5
                                        c1.2-0.69,2.72-0.28,3.42,0.92v0C437.85,374.92,437.44,376.45,436.24,377.14z" />
                                            <path class="st1" d="M441.48,395.32h-10c-1.38,0-2.5-1.12-2.5-2.5v0c0-1.38,1.12-2.5,2.5-2.5h10c1.38,0,2.5,1.12,2.5,2.5v0
                                        C443.98,394.21,442.86,395.32,441.48,395.32z" />
                                            <path class="st1" d="M433.74,412.84l-8.66-5c-1.2-0.69-1.61-2.22-0.92-3.42v0c0.69-1.2,2.22-1.61,3.42-0.92l8.66,5
                                        c1.2,0.69,1.61,2.22,0.92,3.42v0C436.47,413.12,434.94,413.53,433.74,412.84z" />
                                            <path class="st1" d="M369.38,438.18L369.38,438.18c-2.76,0-5-2.24-5-5v-22.97c0-1.12,0.91-2.03,2.03-2.03h6.27
                                        c0.94,0,1.7,0.76,1.7,1.7v23.3C374.38,435.94,372.14,438.18,369.38,438.18z" />
                                            <path class="st1" d="M380.55,406.18h-16.97c-4.17,0-7.56-3.38-7.56-7.56v-11.6c0-4.17,3.38-7.56,7.56-7.56h16.97
                                        c1.21,0,2.19,0.98,2.19,2.19v22.33C382.74,405.2,381.76,406.18,380.55,406.18z" />
                                            <path class="st1" d="M384.99,380.58v23.65c0,1.12,0.83,2.1,2.03,2.35c3.2,0.68,9.69,2.87,15.92,9.81
                                        c0.74,0.83,2.21,0.36,2.21-0.71v-47.72c0-1.09-1.51-1.56-2.23-0.69c-2.72,3.26-7.99,8.32-16.19,11.04
                                        C385.68,378.66,384.99,379.57,384.99,380.58z" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>RECOMENDAR</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Proyectos relacionados en el área de las TIC aplicados a la educación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800"
                                    style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #D2D3D5;
                                        }

                                        .st1 {
                                            fill: #1C2140;
                                        }
                                    </style>
                                    <path class="st0"
                                        d="M400,50C206.7,50,50,206.7,50,400s156.7,350,350,350s350-156.7,350-350S593.3,50,400,50z M399.62,724.91
                                    c-179.49,0-325-145.51-325-325c0-179.5,145.51-325,325-325c179.5,0,325,145.5,325,325C724.62,579.4,579.12,724.91,399.62,724.91z" />
                                    <circle class="st0" cx="400" cy="400" r="125" />
                                    <g>
                                        <g>
                                            <path class="st1" d="M434.64,394.08l-1.7-6.31c-0.25-0.93-1.17-1.52-2.12-1.35l-4.95,0.88c-0.78,0.14-1.58-0.21-1.97-0.9
                                            c-1.28-2.25-2.86-4.3-4.7-6.08c-0.56-0.56-0.69-1.42-0.34-2.13l2.19-4.42c0.43-0.89,0.11-1.95-0.74-2.44l-5.67-3.28
                                            c-0.84-0.48-1.91-0.24-2.46,0.55l-2.89,4.14c-0.44,0.64-1.24,0.95-1.99,0.74c-2.32-0.64-4.77-0.98-7.3-0.98h-0.15
                                            c-0.79,0-1.5-0.48-1.77-1.23l-1.73-4.75c-0.33-0.91-1.3-1.42-2.23-1.17l-6.31,1.7c-0.95,0.25-1.54,1.2-1.35,2.16l0.97,4.83
                                            c0.15,0.78-0.19,1.58-0.88,1.97c-2.26,1.27-4.32,2.84-6.12,4.67c-0.55,0.56-1.41,0.69-2.12,0.36l-4.56-2.14
                                            c-0.88-0.41-1.92-0.08-2.4,0.76l-3.28,5.67c-0.49,0.85-0.23,1.93,0.58,2.48l4.1,2.73c0.67,0.44,0.99,1.26,0.77,2.02
                                            c-0.67,2.37-1.02,4.86-1.02,7.44v0.15c0,0.79-0.48,1.5-1.23,1.77l-4.75,1.73c-0.91,0.33-1.42,1.3-1.17,2.23l1.7,6.31
                                            c0.25,0.95,1.2,1.54,2.16,1.35l4.83-0.97c0.78-0.15,1.58,0.19,1.97,0.88c1.27,2.26,2.84,4.32,4.67,6.12
                                            c0.56,0.55,0.69,1.41,0.36,2.12l-2.14,4.56c-0.41,0.88-0.08,1.92,0.76,2.4l5.67,3.28c0.85,0.49,1.93,0.23,2.48-0.58l2.73-4.1
                                            c0.44-0.67,1.26-0.99,2.02-0.77c2.37,0.67,4.86,1.02,7.44,1.02h0.29c0.81-0.01,1.54,0.49,1.8,1.26l1.58,4.68
                                            c0.31,0.93,1.3,1.45,2.25,1.2l6.31-1.7c0.93-0.25,1.52-1.17,1.35-2.12l-0.88-4.95c-0.14-0.78,0.21-1.58,0.9-1.97
                                            c2.25-1.28,4.3-2.86,6.08-4.7c0.56-0.56,1.42-0.69,2.13-0.34l4.42,2.19c0.89,0.43,1.95,0.11,2.44-0.74l3.28-5.67
                                            c0.48-0.84,0.24-1.91-0.55-2.46l-4.14-2.89c-0.64-0.44-0.95-1.24-0.74-1.99c0.64-2.32,0.98-4.77,0.98-7.3v-0.29
                                            c-0.01-0.81,0.49-1.54,1.26-1.8l4.68-1.58C434.37,396.02,434.89,395.03,434.64,394.08z M417.41,401.75
                                            c-0.02,0.2-0.04,0.41-0.07,0.61c-0.61,4.5-2.92,8.45-6.27,11.19c-0.16,0.13-0.32,0.25-0.48,0.38c-2.94,2.24-6.61,3.57-10.59,3.57
                                            c-0.59,0-1.17-0.03-1.75-0.09c-0.36-0.03-0.71-0.08-1.06-0.14c-4.47-0.72-8.37-3.13-11.02-6.56c-0.13-0.16-0.25-0.33-0.37-0.49
                                            c-2.08-2.88-3.3-6.4-3.3-10.22c0-0.75,0.05-1.48,0.14-2.2c0.02-0.21,0.05-0.41,0.09-0.61c0.72-4.47,3.13-8.37,6.56-11.02
                                            c0.16-0.13,0.33-0.25,0.49-0.37c2.88-2.08,6.4-3.3,10.22-3.3c0.75,0,1.48,0.05,2.2,0.14c0.06,0,0.11,0.01,0.16,0.02
                                            c4.5,0.61,8.45,2.92,11.19,6.27c0.13,0.16,0.25,0.32,0.38,0.48c2.24,2.94,3.57,6.61,3.57,10.59
                                            C417.5,400.59,417.47,401.17,417.41,401.75z" />
                                            <circle class="st1" cx="400" cy="400" r="15" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <h4><a>PROMOVER</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Investigación y la extensión universitaria en el área de la tecnología educativa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer class="footer" data-background-color="black">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>CONTÁCTANOS</h3>
                <p>Central Telefónica: 939084541</p>
                <p>Número de WhatsApp (Ingenierías): 939083870</p>
                <p>Número de WhatsApp (Biomédicas): 939084706</p>
                <p>Número de WhatsApp (Sociales): 939074882</p>
                <p>Email: soportedutic@unsa.edu.pe</p>
                <p>Dirección: Francisco Velasco 129, Parque Industrial Arequipa-Perú</p>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://twitter.com/DuticUnsa"
                    class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/dutic.unsa.7"
                    class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
        </div>
    </footer-->
    </div>