<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.png');">

        </div>
        <div class="container">
            <div class="content-center brand mt-4">

                <!--                 <img class="n-logo" src="assets/img/dutic.png" alt="">
 style="text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;"
                -->
                <h1 class="h1-seo"><strong>PROMOVIENDO EL USO <br>DE LAS TICS EN LA</strong></h1>
                <h2 class=""><strong>ENSEÑANZA - APRENDIZAJE</strong></h2>
            </div>
            <!--h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6-->
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3><strong>PRESENTACIÓN<br><small>LA TRANSFORMACIÓN VIRTUAL DE LA
                                    EDUCACIÓN EN LA UNSA</small></strong></h3>
                        <p class="text-justify">
                            La Universidad Nacional de San Agustín de Arequipa
                            mediante la Dirección de tecnologías de la
                            Información y comunicación e Información DUTIC,
                            abre la ventana virtual a este nuevo espacio de
                            aprendizaje, movernos en este nuevo escenario es
                            una experiencia única de toda la comunidad agustina
                            dispuesta a seguir dando la mejor formación
                            profesional a los estudiantes. En este espacio virtual
                            nos encontramos todos, les ofrecemos guías,
                            experiencias, herramientas mapas y todo lo
                            necesario para seguir siendo pioneros.
                        </p>
                        <div class="row">
                            <div class="col-md-10 col-sm-7">
                                <a href="assets/doc/lineamientos.pdf"
                                    target="_blank" class="btn btn-primary"><strong>Lineamientos UNSA</strong></a>
                            </div>
                            <div class="col-md-2 col-sm-5">
                                <a class="nav-link" href="https://www.youtube.com/watch?v=MzCFme-7FGc" target="_blank"
                                    placement="top" ngbTooltip="Ver video" class="btn btn-danger">
                                    <i class="now-ui-icons media-1_button-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3><strong>ANUNCIOS<br><small>UNSA Y ACTUALIDAD</small></strong></h3>
                        <div class="row">
                            <div class="col-6 col-lg-4 col-md-6 col-sm-6" *ngFor="let news of content">
                                <div *ngIf="news.state==true? true : false" class="card card-news animated fadeIn fast"
                                    style="width: 100%; background-color: #141E42;">
                                    <img src="{{news.img}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title" style="color: white;">{{news.name}}</h6>
                                        <a href="{{news.link}}" class="btn btn-primary btn-sm" style="background-color: white;
                                        color: #141E42;" target="_blank">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3><strong>ACERCA DE <span>NOSOTROS</span></strong></h3>
                        <p class="subheading text-justify">La Dirección Universitaria de Tecnología
                            de Información y Comunicación, es un órgano de línea del Vicerrectorado
                            Académico,
                            responsable de promover, proponer y coordinar las actividades conducentes a la
                            actualización
                            permanente en tecnología educativa.
                        </p>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left"
                                style="background-image: url('assets/img/imagen2.jpg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"El uso de la plataforma virtual es una gran
                                    ayuda al docente e impacta directamente en los estudiantes de la UNSA para que estos
                                    reciban este conocimiento tecnologico"
                                    <br>
                                    <br>
                                    <small>-Dra Patricia Camargo</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right"
                                style="background-image: url('assets/img/imagen1.jpeg')"></div>
                            <h4><strong>Misi&oacute;n</strong></h4>
                            <p>Promover el uso pedagógico de las Tecnologías de la Información y la Comunicación en la
                                práctica cotidiana de docentes y estudiantes</p>
                            <h4><strong>Visi&oacute;n</strong></h4>
                            <p>Ser reconocida como un centro de innovación e investigación pedagógica con tecnología,
                                que promueve las buenas prácticas docentes mediante procesos asertivos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   Funciones -->
        <div class="section">
            <div class="container">
                <div class="text-center">
                    <h3><strong>NUESTRAS <span>FUNCIONES</span></strong></h3>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row text-center">
                            <div class="col-12">
                                <img src="assets/img/func1.png" style="width: 150px; height: 150px;" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>PROPONER</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Políticas generales en materia de la integración de las TIC en el área académica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <img src="assets/img/func2.png" style="width: 150px; height: 150px;" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>GESTIONAR</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Actividades conducentes a la actualización permanente en tecnología educativa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <img src="assets/img/func3.png" style="width: 150px; height: 150px;" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4><a>RECOMENDAR</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Proyectos relacionados en el área de las TIC aplicados a la educación.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center">
                        <div class="row">
                            <div class="col-12">
                                <img src="assets/img/func4.png" style="width: 150px; height: 150px;" alt="">
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <h4><a>PROMOVER</a></h4>
                            </div>
                            <div class="col-12">
                                <p>Investigación y la extensión universitaria en el área de la tecnología educativa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>CONTÁCTANOS</h3>
                <p>Central Telefónica (Temporal): 054-658240</p>
                <p>WhatsApp: +51-959116470</p>
                <p>Email: soportedutic@unsa.edu.pe</p>
                <p>Dirección: Francisco Velasco 129, Parque Industrial Arequipa-Perú</p>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://twitter.com/DuticUnsa"
                    class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/dutic.unsa.7"
                    class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
        </div>
    </footer>
</div>