<div style="padding-top: 70px;" class="">
</div>
<div class="wrapper">
    <div class="">
        <div class="page-header-image rellax-header" data-rellax-speed="-8">
        </div>
        <!--  <div class="container">
            <div class="content-center" style="margin-top: 9%;"> -->
        <!--                 <img class="n-logo" src="assets/img/dutic.png" alt="">
 style="text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;"
                -->
        <!-- <h2 class="title slogan">PROMOVIENDO EL USO DE LAS TIC EN LA <br><strong>ENSEÑANZA -
                        APRENDIZAJE</strong></h2> -->
        <!--   </div> -->
        <!--h6 class="category category-absolute">Designed by
              <a href="https://invisionapp.com/" target="_blank">
                  <img src="assets/img/invision-white-slim.png" class="invision-logo" />
              </a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">
                  <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
              </a>.</h6-->
        <!--         </div>
 -->
    </div>
    <div class="" id="carousel">
        <div class="row justify-content-center">
            <div class="col-12" style="background-color: #141e42;">
                <ngb-carousel>
                    <!--ng-template ngbSlide>
                        <a [routerLink]="['/innovaticIII']">
                            <img class="d-block img-fluid" src="assets/img/WEBIBANNER.jpg" alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template-->
                    
                    <ng-template ngbSlide>
                        <a [routerLink]="['/virtualTeaching/trainings']">
                            <img class="d-block img-fluid mt-4" src="assets/img/trainings/bannerazul.jpg"
                                alt="Capacitaciones a docentes"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <a [routerLink]="['/virtualLearning/news/content']">
                            <img class="d-block img-fluid" src="assets/newsletter/BannerCapac.jpg"
                                alt="Capacitacion a estudiantes"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template>
                    <!--ng-template ngbSlide>
                        <a [routerLink]="['/virtualTeaching/news/content']">
                            <img class="d-block img-fluid" src="assets/img/news/disemont2.jpg" alt="First slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <a [routerLink]="['/virtualTeaching/trainings']">
                            <img class="d-block img-fluid" src="assets/img/trainings/formato.jpg"
                                alt="Second slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </ng-template-->
                    <ng-template ngbSlide>
                        <img class="d-block" src="assets/img/header4.jpg" style=" filter: brightness(50%);"
                            alt="Imagen de portada">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="title slogan">PROMOVIENDO EL USO DE LAS TIC EN LA <br><strong>ENSEÑANZA -
                                    APRENDIZAJE</strong></h2>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3><strong>PRESENTACIÓN<br><small>LA TRANSFORMACIÓN VIRTUAL DE LA
                                EDUCACIÓN EN LA UNSA</small></strong></h3>
                    <p class="text-justify">
                        2021 Marcará la fluidez de la transformación digital en la UNSA, la experiencia de la educación
                        mundial utilizando medios asíncronos y síncronos que permitieron mantener la educación en todos
                        los niveles en confinamiento global, hoy nos permite construir escenarios, contenidos digitales,
                        adaptando y rediseñando herramientas para la educación virtual; y a todo esto necesitamos darle
                        sostenibilidad; la construcción de comunidades virtuales por disciplina, interdisciplina, en
                        pregrado, posgrado, permitirá su desarrollo y a su vez consolidar la transformación digital en
                        sus aspectos tecnológicos y sobre todo en la formación de competencias de docentes, estudiantes;
                        para elevar el nivel académico y la investigación dando un salto cualitativo en el desarrollo
                        regional, nacional y mundial.<br>
                        La falta de conectividad, de equipos, son determinantes pero salvables. La interacción,
                        aprendizaje colaborativo, compartir información en feedback construye conocimientos y en
                        consenso; estos conceptos se hacen hábitos indispensables que acompañarán el futuro digital.<br>
                        La UNSA mediante DUTIC brinda sus plataformas para alcanzar estos propósitos.
                    </p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/MzCFme-7FGc" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <hr>
                    <div class="text-center">
                        <strong>LINEAMIENTOS PARA LA ADAPTACIÓN DE LA EDUCACIÓN NO
                            PRESENCIAL</strong><br>
                        <a href="assets/doc/lineamientos.pdf" target="_blank" class="btn btn-danger"
                            title="Ver documento">
                            <strong class="text-wrap">Ver Documento</strong>
                            <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                            <!-- <i class="fas fa-file-download"></i> -->
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <img class="d-block mb-3" src="assets/newsletter/Recurso4.svg">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <h5 class="card-title font-weight-bold">INFORMATIC <span class="badge badge-success ml-2">Nuevo</span></h5>
                                            
                                            <p class="card-text">Promoviendo el uso de las TIC en la enseñanza y
                                                aprendizaje</p>
                                            <a [routerLink]="['/news/newsletter']" class="btn btn-light"
                                                title="Boletin informativo">
                                                <strong class="text-wrap">IR A BOLETÍN INFORMATIVO</strong>
                                                <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                                                <i class="fas fa-file-download"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h3><strong>NOTICIAS<br><small>UNSA Y ACTUALIDAD</small></strong></h3>
                        </div>
                    </div>

                    <div class="card-deck" style="margin-right: 15px!important">
                        <div class="row">
                            <div class="col-6 col-lg-4 col-md-6 col-sm-6" *ngFor="let news of content">
                                <div *ngIf="news.state==true? true : false" class="card card-news animated fadeIn fast"
                                    style="width: 100%; background-color: #141E42;">
                                    <img src="{{news.img}}" class="card-img-top" alt="..."
                                        style="width: auto; height: 140px;">
                                    <div class="card-body">
                                        <h6 class="card-title" style="color: white;">{{news.name}}</h6>
                                        <div *ngIf="news.isnew==true? true : false"><span
                                                class="badge badge-success mr-2">Nuevo</span></div>
                                        <a href="{{news.link}}" class="btn btn-primary btn-sm" style="background-color: white;
                                        color: #141E42;" target="_blank">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/MzCFme-7FGc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe> -->

                    <!-- <div class="row">
                            <div class="slider">
                                <div class="slide-track">
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                    <div class="slide">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
                                            height="100" width="250" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="container">
                <div class="row mt-5">
                    <div class="col-6 pr-4">

                    </div>
                    <div class="col-6 text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/DUTIC.UNSA.AQP/" data-tabs="timeline"
                            data-width="1000" data-height="500" data-small-header="true"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/DUTIC.UNSA.AQP/" class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/DUTIC.UNSA.AQP/">DUTIC</a></blockquote>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h3><strong>ACERCA DE <span>NOSOTROS</span></strong></h3>
                <p class="subheading text-justify">La Dirección Universitaria de Tecnología
                    de Información y Comunicación, es un órgano de línea del Vicerrectorado
                    Académico,
                    responsable de promover, proponer y coordinar las actividades conducentes a la
                    actualización
                    permanente en tecnología educativa.
                </p>
            </div>
        </div>
    </div>
    <div class="section-tabs">
        <div class="container">
            <div class="row pl-4 pt-3 pb-3">
                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-right">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 center-content"><img src="assets/img/mision.png">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <h4><strong>Misi&oacute;n</strong></h4>
                            <p>Promover el uso pedagógico de las Tecnologías de la Información y la Comunicación en
                                la práctica cotidiana de docentes y estudiantes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-left">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 center-content"><img src="assets/img/vision.png">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <h4><strong>Visi&oacute;n</strong></h4>
                            <p>Ser reconocida como un centro de innovación e investigación pedagógica con
                                tecnología,
                                que promueve las buenas prácticas docentes mediante procesos asertivos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-primary"></div>
    <!-- <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/imagen2.jpg')">
                            First image on the left side 
                             <p class="blockquote blockquote-primary">"El uso de la plataforma virtual es una gran
                                    ayuda al docente e impacta directamente en los estudiantes de la UNSA para que estos
                                    reciban este conocimiento tecnologico"
                                    <br>
                                    <br>
                                    <small>-Dra Patricia Camargo</small>
                                </p> 
                        </div>
                        Second image on the left side of the article 
                    </div>
                    <div class="col-md-5">
                        First image on the right side, above the article 
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/sustentacion.jpg')">
                        </div>
                    </div>
                </div>
            </div> -->
    <!--   Funciones -->
    <div class="section" style="background-color: white !important;">
        <div class="container">
            <div class="text-center">
                <h3><strong>NUESTRAS <span>FUNCIONES</span></strong></h3>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="assets/img/func1.png" style="width: 150px; height: 150px;" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4><a>PROPONER</a></h4>
                        </div>
                        <div class="col-12">
                            <p>Políticas generales en materia de la integración de las TIC en el área académica.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/func2.png" style="width: 150px; height: 150px;" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4><a>GESTIONAR</a></h4>
                        </div>
                        <div class="col-12">
                            <p>Actividades conducentes a la actualización permanente en tecnología educativa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/func3.png" style="width: 150px; height: 150px;" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4><a>RECOMENDAR</a></h4>
                        </div>
                        <div class="col-12">
                            <p>Proyectos relacionados en el área de las TIC aplicados a la educación.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/func4.png" style="width: 150px; height: 150px;" alt="">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <h4><a>PROMOVER</a></h4>
                        </div>
                        <div class="col-12">
                            <p>Investigación y la extensión universitaria en el área de la tecnología educativa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>CONTÁCTANOS</h3>
                <p>Central Telefónica: 939084541</p>
                <p>Número de WhatsApp (Ingenierías): 939083870</p>
                <p>Número de WhatsApp (Biomédicas): 939084706</p>
                <p>Número de WhatsApp (Sociales): 939074882</p>
                <p>Email: soportedutic@unsa.edu.pe</p>
                <p>Dirección: Francisco Velasco 129, Parque Industrial Arequipa-Perú</p>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://twitter.com/DuticUnsa"
                    class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/dutic.unsa.7"
                    class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
        </div>
    </footer>
</div>