<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
    <div class="content"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <mat class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</mat>
                <div class="breadcrumbs">
                    <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a>
                        <span class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Datos
                            curiosos</span>
                    </mat>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br>
<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <mat class="title-text mat-title">DATOS CURIOSOS</mat>
            <div class="title-line"></div>
        </div>
        <div class="col-md-12 content-text">
            <mat class="mat-body">
                En este día de Arequipa conoce más sobre nuestra querida ciudad blanca, ¡conoce más sobre nuestras
                historia! Entérate de datos como: la etimología de Arequipa, el surgimiento de los simbolos
                arequipeños. Entérate de estas y otras muchas cosas más.
            </mat>
        </div>
    </div>
    <div class="card mb-3 mr-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title title-text">FUNDACIÓN DE AREQUIPA</h5>
                    <div class="title-line"></div>
                    <p class="card-text">El 15 de agosto de 1540, se fundó la ciudad de Arequipa con el nombre de
                        Villa
                        Hermosa de Nuestra Señora de Asunta, por mandato de Francisco Pizarro, la ceremonia de
                        fundación
                        estuvo presidida por García Manuel de Carbajal, en su calidad de teniente gobernador, siendo
                        esta a la orilla izquierda del río Chili.<br>
                        Un año después, el monarca Carlos V, por real cédula del 22 septiembre, ordena que se llame
                        Ciudad de Arequipa. El 7 de octubre, le es concedido el escudo de armas, en el que se puede
                        apreciar un volcán en erupción.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title title-text">ESCUDO DE AREQUIPA</h5>
                    <div class="title-line"></div>
                    <p class="card-text">La creación del escudo de armas de Arequipa viene del 7 de octubre de 1541 por
                        orden del rey Carlos I de España, en conjunto a la bandera y el himno que hasta el día de hoy se
                        siguen usando en fiestas cívicas y especialmente en su aniversario.<br>

                        Este emblema heráldico es otorgado por la corona española gracias a que Arequipa creció
                        velozmente y fue considerada como ciudad el 22 de septiembre de 1541, solo pocas ciudades podían
                        tener el privilegio de contar con un escudo en esa época.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mr-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title title-text">PRIMERA DESCRIPCIÓN DE AREQUIPA </h5>
                    <div class="title-line"></div>
                    <p class="card-text">La primera descripción de la urbe se debe a Pedro Cieza de León, de quien
                        se
                        sospecha que no llegó a conocerla y se refirió a ella sólo de oídas. Por eso la ubica en el
                        valle de
                        Quilca, aunque luego da a entender que es el de Chili, y afirma: “esta dudad está puesta y
                        edificada
                        en la mejor parte y más fresca que se halló conveniente para le edificar; y es tan bueno el
                        asiento
                        y temple de esta ciudad, que se alaba por ser la más sana del Perú y más pasible para vivir.
                        Nace en
                        ella muy excelente trigo, del cual hacen pan muy bueno y sabroso... En lo tocante a la
                        fundación
                        de
                        Arequipa no tengo que decir más de que cuando se fundó en otro lugar, y por causas
                        convenientes
                        se
                        pasó a donde ahora está. Cerca de ella hay un volcán, que algunos temen no reviente y haga
                        algún
                        daño. En algunos tiempos hace en esta ciudad grandes temblores de tierra”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title title-text">ETIMOLOGÍA DE AREQUIPA</h5>
                    <div class="title-line"></div>
                    <p class="card-text">Sobre el origen del nombre de Arequipa, se han dado diversas respuestas a ella,
                        e incluso mucha polémica, sobre si es un vocablo quechua o aymara.<br>
                        En relatos del ensayista Aurelio Miró Quesada que según cuenta fue debido a que Mayta Cápac
                        recibió una solicitud de su ejército cuando llegaron al valle del Chili, quienes le pedían
                        permiso de quedarse en la comarca para poder poblar ese lugar, ya que se quedaron admirados por
                        la belleza del paisaje, y como respuesta el inca contesto «Ari Qhipay», en quechua, que
                        significa en castellano: «Si, quedaos”.<br>
                        Según los cronistas Middendorf y Kimmichi, la palabra Arequipa no es quechua sino aimara,
                        cuyos significados proviene de los términos Ari que significa “Cumbre”, y Queppa que significa
                        “detrás”; lo que quiere decir «ciudad situada detrás de la cumbre».
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mr-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title title-text">BANDERA DE AREQUIPA</h5>
                    <div class="title-line"></div>
                    <p class="card-text">La bandera del departamento de Arequipa es un símbolo muy arraigado de este
                        lugar y sus pobladores. Consiste en un recuadro con un fondo de color vinotinto que significa la
                        sangre derramada por los héroes que participaron en las luchas en pro de la independencia. Entre
                        sus principales representante de las batallas independentistas se encuentran: José Vizcardo
                        Guzmán, Mariano Melgar, Nicolas de Pierola, Victor Belaunde y Mario Vargas Llosa. En medio del
                        cuartel vinotinto se encuentra además el escudo del departamento.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <div class="card-body">
                    <h5 class="card-title title-text">HIMNO DE AREQUIPA</h5>
                    <div class="title-line"></div>
                    <p class="card-text">El himno oficial cuya letra es “Entonemos un himno de gloria a la blanca y
                        heróica ciudad”, se empezó a cantar en 1940. Fue resultado de un concurso el 23 de noviembre de
                        1939 en el cual la letra del himno fue ganado por Emilio Pardo del Valle, tiempo después el 25
                        de junio de 1940 se convoca a concurso para la música del himno del cuatrocientos que ganó el
                        reconocido director de orquesta, Aurelio Díaz Espinoza.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>