<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
  <div class="navbar-translate">
    <a class="navbar-brand" [routerLink]="['/homepage']" placement="bottom">
      <img src="assets/img/logos7.png" style="width: 460px; height: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
      (click)="sidebarToggle()">
      <span class="navbar-toggler-bar bar1"></span>
      <span class="navbar-toggler-bar bar2"></span>
      <span class="navbar-toggler-bar bar3"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" data-nav-image="assets/img/logos7.png" data-color="orange">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-center" [routerLink]="['homepage']">
          <i class="now-ui-icons location_world mr-1"></i><br>
          <p>Inicio</p>
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link text-center" style="color:#ffffff;" ngbDropdownToggle>
          <i class="now-ui-icons tech_laptop mr-1"></i>
          <!--span class="badge badge-success mr-2">Nuevo</span--><br>
          <p>Docencia VIrtual</p>
        </a>
        <div ngbDropdownMenu routerLinkActive="active">
          <a class="dropdown-item" [routerLink]="['virtualTeaching/subjectDesign']">Diseño de asignatura</a>
          <a class="dropdown-item" [routerLink]="['virtualTeaching/news']">Noticias
            <!-- <span class="badge badge-success mr-2">Nuevo</span> -->
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" style="color:#ffffff;" [routerLink]="['virtualLearning']">
          <i class="now-ui-icons education_hat mr-1"></i>
          <span class="badge badge-success mr-2">Nuevo</span><br>
          <p>Aprendizaje virtual</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" [routerLink]="['videoconferences']" style="color:#ffffff;">
          <i class="now-ui-icons objects_globe mr-1"></i>
          <span class="badge badge-success ml-2">Nuevo</span><br>
          Videoconferencias
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link text-center" style="color:#ffffff;" ngbDropdownToggle>
          <i class="now-ui-icons media-1_button-play mr-1"></i>
          <span class="badge badge-success mr-2">Nuevo</span><br>
          <p>Videos y recursos</p>
        </a>
        <div ngbDropdownMenu routerLinkActive="active">
          <a class="dropdown-item" [routerLink]="['virtualTeaching/trainings']">Capacitaciones
            <span
              class="badge badge-success ml-2">N</span>
          </a>
          <a class="dropdown-item" [routerLink]="['videoandresources/teachers']">Docentes
            <!--span class="badge badge-success ml-2">Nuevo</span-->
          </a>
          <a class="dropdown-item" [routerLink]="['videoandresources/students']">Estudiantes</a>
          <!--span class="badge badge-success ml-2">Nuevo</span-->
          <a class="dropdown-item" [routerLink]="['videoandresources/googletools']">Herramientas
            <!--span class="badge badge-success ml-2">Nuevo</span-->
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link text-center" ngbDropdownToggle>
          <i class="now-ui-icons arrows-1_share-66 mr-1"></i><br>
          <p>Ingrese al aula virtual</p>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="https://aulavirtual.unsa.edu.pe" target="_blank">Aula Virtual
            2021-B</a>
          <a class="dropdown-item" href="https://aulavirtual2021.unsa.edu.pe/2021A/" target="_blank">Aula Virtual
            2021-A</a>
          <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020C/" target="_blank">Aula Virtual
            2020-C</a>
          <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020B/" target="_blank">Aula Virtual
            2020-B</a>
          <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020A/" target="_blank">Aula Virtual
            2020-A</a>
          <a class="dropdown-item" href="https://dutic.unsa.edu.pe/aulavirtual/posgrado/" target="blank">Aula virtual
            Posgrado</a>
        </div>
      </li>
      <!--li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
            href="https://www.facebook.com/CreativeTim" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li-->
    </ul>
  </div>
</nav>