<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
        <img src="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="" target="_blank">
            <p>Inicio</p>
          </a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="dropdown-toggle nav-link btn btn-neutral" style="color:#141E42;" ngbDropdownToggle>
            <i class="now-ui-icons tech_laptop mr-1"></i>
            <p>Docencia VIrtual</p>
          </a>
          <div ngbDropdownMenu>
            <a class="dropdown-header">Diseño de asignatura</a>
            <a class="dropdown-item" href="#">Diseño instruccional</a>
            <a class="dropdown-item" href="#">Noticias</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">One more separated link</a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="dropdown-toggle nav-link" style="color:#ffffff;" ngbDropdownToggle>
            <i class="now-ui-icons tech_laptop mr-1"></i>
            <p>Talleres online</p>
          </a>
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="#">Videos TV UNSA</a>
            <a class="dropdown-item" href="#">Videoconferencias</a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="dropdown-toggle nav-link" style="color:#ffffff;" ngbDropdownToggle>
            <i class="now-ui-icons tech_laptop mr-1"></i>
            <p>Videos y recursos</p>
          </a>
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="#">Docentes</a>
            <a class="dropdown-item" href="#">Estudiantes</a>
            <a class="dropdown-item" href="#">Herramientas de Google</a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="dropdown-toggle nav-link btn btn-neutral" style="color:#141E42;" ngbDropdownToggle>
            <i class="now-ui-icons tech_laptop mr-1"></i>
            <p>Ingrese al aula virtual</p>
          </a>
          <div ngbDropdownMenu>
            <a class="dropdown-item" href="#">Aula pregrado</a>
            <a class="dropdown-item" href="#">Aula posgrado</a>
          </div>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
            href="https://www.facebook.com/CreativeTim" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li-->
      </ul>
    </div>
  </div>
</nav>