<div style="padding-top: 90px;" class="style--content">
    <!--div class="header--style col-lg-9 col-md-12 col-sm-12 pt-4 pr-5 pb-1 mb-4">
        <h2 class="font-weight-bold">BOLETIN INFORMATIVO</h2>
    </div-->

    <div class="container backgrey">
        <div class="row p-3">
            <div class="col-12">
                <!--h4 class="font-weight-bold text-center">BOLETÍN INFORMATIVO DUTIC</h4-->
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 pl-4 pr-4 list-group">
                <h4>Publicaciones 2021</h4>
                <div *ngFor="let entry of content">
                    <button type="button" class="list-group-item list-group-item-action btn btn-primary mb-2"
                        (click)="takeentry(entry)">{{entry.name}}</button>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <!--iframe class="iframe-responsivo" src="assets/newsletter/Boletin_DUTIC_Febrero_compressed.pdf"
                    frameborder="0" scrolling="no"></iframe-->
                <!--pdf-viewer [src]="assets/newsletter/BoletinDUTIC_Febrero_compressed.pdf" [render-text]="true" style="display: block;"></pdf-viewer-->

                <div *ngIf="entryId==0? true : false" class='embed-responsive' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Febrero_compressed.pdf' type='application/pdf'
                        width='100%' height='100%'></iframe>
                </div>
                <div *ngIf="entryId==1? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Marzo.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==2? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/Boletin_Edicion_EspecialAbril.pdf' type='application/pdf'
                        width='100%' height='100%'></iframe>
                </div>
                <div *ngIf="entryId==3? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Mayo_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==4? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_Junio FINAL_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==5? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Julio.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==6? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/Boletin_EdicionEspecial_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==7? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_OCTUBRE_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==8? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_NOVIEMBRE_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>

                <!--ngx-extended-pdf-viewer [src]="entryFile" useBrowserLocale="true" height="80vh">
                </ngx--pdf-viewer-->

                <!--object data="entryFile" class='embed-responsive' type="application/pdf" width="100%" height="100%">
                    <p>Your browser does not support PDFs.
                    </p>
                </object-->
                <!--ngx-doc-viewer [url]="assets/newsletter/BoletinDUTIC_Febrero_compressed.pdf" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer-->

                <!--div class="fb-share-button" data-href="https://dutic.unsa.edu.pe/#/news/newsletter"
                    data-layout="button_count" data-size="large"><a target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdutic.unsa.edu.pe%2F%23%2Fnews%2Fnewsletter&amp;src=sdkpreparse"
                        class="fb-xfbml-parse-ignore">Compartir</a></div-->
            </div>

            <div>
                <head>
                    <title>DUTIC</title>
                    <meta property="og:url" content="http://localhost:4200/eco-eficiencia#/homepage" />
                    <meta property="og:type" content="website" />
                    <meta property="og:title" content="Your Website Title" />
                    <meta property="og:description" content="Your description" />
                    <meta property="og:image" content="assets/newsletter/Recurso4.svg" />
                </head>
                <body>
                    <!-- Load Facebook SDK for JavaScript -->
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <!-- Your share button code -->
                    <div class="fb-share-button btn-facebook" data-href="https://dutic.unsa.edu.pe/#/news/newsletter"
                        data-layout="button_count">
                    </div>
                </body>
            </div>
            <br>
        </div>
    </div>
    <!--<div class="container">
        <div class="mb-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar entrada" #searchText>
                <button (click)="searchEntry(searchText.value)"
                    class="btn btn-primary my-2 my-sm-0" type="button">Buscar</button>
            </form>
        </div>
        <div class="card-columns">
            <div class="card animated fadeIn fast scroll" *ngFor="let entry of content" style="width: 100%;">
                <img style="width: 220px; height: auto;" src="{{entry.img}}" class="card-img-top mx-auto d-block"
                    alt="...">
                <div class="card-body">
                    <small class="text-muted card-text text-left">{{entry.categoryName}} | {{entry.date}}</small>
                    <h6 class="card-title"><strong>{{entry.name}}</strong></h6>
                    <h6 class="card-text">{{entry.des}}</h6>
                </div>
            </div>
        </div>
    </div> -->
</div>