<div style="padding-top: 90px;padding-bottom: 20px;" class="style--content">
    <div class="container">
        
        <div class='embed-responsive' style='padding-bottom:150%'>
            <iframe src='assets/newsletter/BoletinDUTIC_2023.pdf' type='application/pdf'
                width='100%' height='100%'></iframe>
        </div>
        <br><br>
        <div class='embed-responsive' style='padding-bottom:150%'>
            <iframe style="border: 1px solid #777;" src="https://indd.adobe.com/embed/659fadbf-253c-4c81-9cd4-f283e499aa4d?startpage=1&allowFullscreen=true" width="100%" height="550px" frameborder="0" allowfullscreen=""></iframe>
        </div>
    
        <!--div class="row">
            <iframe style="border: 1px solid #777;" src="https://indd.adobe.com/embed/659fadbf-253c-4c81-9cd4-f283e499aa4d?startpage=1&allowFullscreen=true" width="100%" height="550px" frameborder="0" allowfullscreen=""></iframe>
            <div class="col-lg-3 col-md-4 col-sm-12 pl-4 pr-4 list-group">
                <h4>Publicaciones 2021</h4>
                <div *ngFor="let entry of content">
                    <button type="button" class="list-group-item list-group-item-action btn btn-primary mb-2"
                        (click)="takeentry(entry)">{{entry.name}}</button>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div *ngIf="entryId==0? true : false" class='embed-responsive' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Febrero_compressed.pdf' type='application/pdf'
                        width='100%' height='100%'></iframe>
                </div>
                <div *ngIf="entryId==1? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Marzo.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==2? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/Boletin_Edicion_EspecialAbril.pdf' type='application/pdf'
                        width='100%' height='100%'></iframe>
                </div>
                <div *ngIf="entryId==3? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Mayo_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==4? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_Junio FINAL_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==5? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/BoletinDUTIC_Julio.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==6? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/Boletin_EdicionEspecial_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==7? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_OCTUBRE_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==8? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_NOVIEMBRE_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
                <div *ngIf="entryId==9? true : false" class='embed-responsive' name='asdjk' style='padding-bottom:150%'>
                    <iframe src='assets/newsletter/boletinDutic_DICIEMBRE_c.pdf' type='application/pdf' width='100%'
                        height='100%'></iframe>
                </div>
            </div>

            <div>
                <head>
                    <title>DUTIC</title>
                    <meta property="og:url" content="http://localhost:4200/eco-eficiencia#/homepage" />
                    <meta property="og:type" content="website" />
                    <meta property="og:title" content="Your Website Title" />
                    <meta property="og:description" content="Your description" />
                    <meta property="og:image" content="assets/newsletter/Recurso4.svg" />
                </head>
                <body>
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-share-button btn-facebook" data-href="https://dutic.unsa.edu.pe/#/news/newsletter"
                        data-layout="button_count">
                    </div>
                </body>
            </div>
            <br>
        </div-->
    </div>
</div>