<div style="padding-top: 150px;" class="container">
        <div class="card--header--style card-header row">
                <div class="col-md-12 col-xl-6 col-lg-6">
                        <span>VIDEOTUTORIALES DEL DOCENTE</span>
                </div>
        </div>
        <div class="row mb-4">
                <div class="col-6">
                        <p><a href="https://youtu.be/cpBgMV08km8" target="_blank">
                                        Ingresando al Aula virtual docente</a></p>
                        <p><a href="https://youtu.be/eI6UQniaoco" target="_blank">
                                        Cambiando contraseña docente</a></p>
                        <p><a href="https://youtu.be/hh8EZazzzzs" target="_blank">
                                        Agregando material URL</a></p>
                        <p><a href="https://www.youtube.com/watch?v=l6xC0ag7rsM" target="_blank">
                                        Subiendo Archivos</a></p>
                        <p><a href="https://www.youtube.com/watch?v=Ygju5coGXwk" target="_blank">
                                        Agregando Videos</a></p>
                        <p><a href="https://youtu.be/bjQBQfdrWPo" target="_blank">
                                        Creando un foro</a></p>
                        <p><a href="https://youtu.be/ouCI7TFVOAg" target="_blank">
                                        Subiendo temas</a></p>
                        <p><a href="https://youtu.be/JjDG5un8uEE" target="_blank">
                                        Creación y Administración de Grupos</a></p>
                        <p><a href="https://youtu.be/xy0oFzuDOds" target="_blank">
                                        Creación y Configuración de Bancos de Preguntas </a></p>
                </div>
                <div class="col-6">
                        <p><a href="https://youtu.be/jMB5Ye6zltE" target="_blank">
                                        Creación y Configuración de Cuestionarios</a></p>
                        <p><a href="https://www.youtube.com/watch?v=JK3GOMyRZug" target="_blank">
                                        Calificaciones: Reporte del Calificador, Exportar Calificaciones</a></p>
                        <p><a href="https://youtu.be/KxBRvdusU38" target="_blank">
                                        Registrando profesores en catedra compartida</a></p>
                        <p><a href="https://www.youtube.com/watch?v=0oc6n3BojQc" target="_blank">
                                        Creando una tarea</a></p>
                        <p><a href="https://youtu.be/LsXd7o2lkmc" target="_blank">
                                        Cuestionario y Banco de Preguntas:</a></p>
                        <p><a href="https://youtu.be/7wXTT5dBL_I" target="_blank">
                                        Actividad Taller en Moodle Parte 1:</a></p>
                        <p><a href="https://youtu.be/6djJbNaeKWA" target="_blank">
                                        Actividad Taller en Moodle Parte 2:</a></p>
                        <p><a href="https://youtu.be/c2bG_2pHl0Q" target="_blank">
                                        Calificacion Avanzada en Moodle con Rúbricas</a></p>

                </div>
        </div>
        <div class="card--header--style card-header row mt-4">
                <div class="col-md-12 col-xl-6 col-lg-6">
                        <span>MANUALES DEL DOCENTE</span>
                </div>
        </div>
        <div class="row mb-4">
                <div class="col-md-4 col-sm-6 wpb_column block">
                        <h5><strong>GESTIÓN</strong></h5>

                        <p><a href="assets/doc/teacher/2020_Tutotial_Docente_Ingresando_al_Aula_Virtual_v3Cinco.pdf"
                                        target="_blank">Ingresando al aula Docente</a></p>

                        <p><a href="assets/doc/teacher/2020_Tutorial_RecuperarContraseña_v3Cinco.pdf"
                                        target="_blank">Recuperar contraseña</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutotial_Docente_Cambiando_Contraseña_v3Cinco.pdf"
                                        target="_blank">Cambiando contraseña</a></p>

                        <p><a href="assets/doc/teacher/2020_Tutorial_CopiaDeSeguridadDeCurso_v3Cinco.pdf"
                                        target="_blank">Copia de seguridad</a></p>

                        <p><a href="assets/doc/teacher/2020_Tutotial_MatriculandoEstudiantes_v3Cinco.pdf"
                                        target="_blank">Matricular estudiantes al aula</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutorial_Grupos_v3Cinco.pdf" target="_blank">Creación y
                                        administración de grupos</a>
                        </p>

                        <p><a href="assets/doc/teacher/2020_Tutotial_CatedraCompartidaRegistrandoProfesores_v3Cinco.pdf"
                                        target="_blank">Cátedra compartida registrando
                                        profesores</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutorial_RestauracuonDeCurso_v3Cinco.pdf"
                                        target="_blank">Restauración de curso</a></p>

                </div>
                <div class="col-md-4 col-sm-6 wpb_column">
                        <h5><strong>DISEÑO DE AULA</strong></h5>

                        <p><a href="assets/doc/teacher/2020_Tutorial_SubiendoArchivos_v3Cinco.pdf"
                                        target="_blank">Subiendo archivos</a></p>
                        <!-- <p><a href="assets/doc/teacher/2020_Tutotial_Agregando_Material_URL_v3Cinco.pdf"
                                        target="_blank">Agregando material de clases URL</a></p> -->
                        <p><a href="assets/doc/teacher/2020_Tutorial_AgregandoTemas_v3Cinco.pdf"
                                        target="_blank">Agregando temas</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutorial_AgregandoVideos_v3Cinco.pdf"
                                        target="_blank">Agregando videos</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutotial_CreandoForo_v3Cinco.pdf" target="_blank">Creando un
                                        foro</a></p>
                </div>
                <div class="col-md-4 col-sm-6 wpb_column">
                        <h5><strong>EVALUACIÓN</strong></h5>

                        <p><a href="assets/doc/teacher/2020_Tutorial_CreandoCuestionarioyBancodePreguntas_v3Cinco.pdf"
                                        target="_blank">Creando cuestionario y banco de
                                        preguntas</a></p>
                        <p><a href="assets/doc/teacher/2020_Tutorial_ReporteCalificador_v3Cinco.pdf"
                                        target="_blank">Reporte de calificador</a></p>
                </div>
        </div>
</div>