<div style="margin-top: 100px;" class="container">
    
    <div class="section ">
        <h2><strong>TUTORIALES DOCENTES</strong></h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 wpb_column block">
                <div class="iconbox iconbox-style-2 icon-color clearfix">
                    <div class="iconbox-icon">
                        <i class="fa fa-lightbulb-o sl-layers boxicon"></i>
                    </div>
                    <div class="iconbox-content">
                        <h4>GESTIÓN</h4>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_Docente Ingresando al Aula Virtual_v3Cinco.pdf"
                                target="_blank">Ingresando al aula Docente</a></p>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_RecuperarContraseña_v3Cinco.pdf"
                                target="_blank">Recuperar contraseña</a></p>
                        <p><a href="http://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_Docente Cambiando Contraseña_v3Cinco.pdf"
                                target="_blank">Cambiando contraseña</a></p>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_CopiaDeSeguridadDeCurso_v3Cinco.pdf"
                                target="_blank">Copia de seguridad</a></p>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_MatriculandoEstudiantes_v3Cinco.pdf"
                                target="_blank">Matricular estudiantes al aula</a></p>
                        <p><a href="http://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_Grupos_v3Cinco.pdf"
                                target="_blank">Creación y administración de grupos</a></p>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_CatedraCompartidaRegistrandoProfesores_v3Cinco.pdf"
                                target="_blank">Cátedra compartida registrando profesores</a></p>
                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_RestauracuonDeCurso_v3Cinco.pdf"
                                target="_blank">Restauración de curso</a></p>

                    </div>
                </div>
                <div class="spacer"></div>

            </div>
            <div class="col-md-4 col-sm-6 wpb_column">
                <div class="iconbox iconbox-style-2 icon-color clearfix">
                    <!-- icon-color-greyscale -->
                    <div class="iconbox-icon">
                        <i class="fa fa-lightbulb-o sl-layers boxicon"></i>

                    </div>
                    <div class="iconbox-content">
                        <h4>DISEÑO DE AULA</h4>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_SubiendoArchivos_v3Cinco.pdf"
                                target="_blank">Subiendo archivos</a></p>
                        <p><a href="http://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_DocenteTutorial Agregando Material URL_v3Cinco.pdf"
                                target="_blank">Agregando material de clases URL</a></p>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_AgregandoTemas_v3Cinco.pdf"
                                target="_blank">Agregando temas</a></p>
                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_AgregandoVideos_v3Cinco.pdf"
                                target="_blank">Agregando videos</a></p>
                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutotial_CreandoForo_v3Cinco.pdf"
                                target="_blank">Creando un foro</a></p>

                    </div>
                </div>
                <div class="spacer"></div>
                <div class="iconbox iconbox-style-2 icon-color clearfix">
                    <!-- icon-color-greyscale -->
                    <div class="iconbox-icon">
                        <i class="fa fa-lightbulb-o sl-layers boxicon"></i>

                    </div>
                    <div class="iconbox-content">
                        <h4>EVALUACIÓN</h4>

                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_CreandoCuestionarioyBancodePreguntas_v3Cinco.pdf"
                                target="_blank">Creando cuestionario y banco de preguntas</a></p>
                        <p><a href="https://dutic.unsa.edu.pe/paginaweb/view/tutoriales/tutoriales/2020_Tutorial_ReporteCalificador_v3Cinco.pdf/"
                                target="_blank">Reporte de calificador</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>