<div style="padding-top: 80px; " class="wrapper">
    <section class="inner-header bg-opacity main-font mat-elevation-z10"
        style="padding-top: 6rem; padding-bottom: 6rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <mat class="mt-0 mb-3 text-white mat-display-1">Concurso de Juegos Lúdicos</mat>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p>CONTENIDO</p>
    </section>
</div>