<div style="padding-top: 80px;" class="">

    <div class="pt-4 pb-2" style="background-color: #465767;">
        <h2 class="text-center container mt-4" style="color: #ffffff; ">
            <strong>PROGRAMA DE ASESORÍAS EN LÍNEA</strong><br>
        </h2>
    </div>

</div>
<img src="assets/img/fondo4.png" alt="" style="width: 100%; height: 100px; transform: rotate(-180deg);">
<div style="background-color: #F1F1F2;">

    <div class="container pb-4">
        <div class="row pt-4 pb-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/1yr0NoTKSrc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="mt-4 text-center"><strong>CONÉCTATE A CUALQUIERA DE NUESTRAS SALAS</strong></h3><br>
                <h3 class="text-center font-weight-bold">10 DICIEMBRE</h3><br>
                <h3 class="text-center">Las salas estarán aperturadas desde las <strong>14:00 hrs.</strong> hasta
                    <strong>16:00 hrs.</strong>
                </h3><br>
            </div>
        </div>

        <div class="card-deck">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <img src="assets/img/trainings/moodleInterm.jpg" class="card-img-top"
                            style="width: 100%; height: 200px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Moodle Básico | Moodle Intermedio</strong></h5>
                            <p class="card-text">En esta sala podrás resolver tus dudas acerca de:</p>
                            <p>
                                <strong>1. Acceso a la Plataforma:</strong> Descripción de la Interfaz de Usuario de
                                Moodle, Configuración de Perfil de Usuario: Subir Foto y agregar. Descripción.
                                Cambiar
                                Contraseña.<br>
                                <strong>2. Administración Básica de un curso:</strong> Ajustes del Curso, Usuarios
                                Matriculados.<br>
                                <strong>3. Agregar Recursos:</strong> Archivos, URL, Etiquetas.<br>
                                <strong>4. Agregar Actividades:</strong> Tareas. Configuración General de una tarea.
                                Revisar, Calificar y
                                Retroalimentar una tarea. Foros. Agregando un foro al aula virtual. Tipos de Foros.
                                Configuración.<br>
                                <strong>5. Banco de Preguntas:</strong> Creación y configuración General, Tipos de
                                preguntas más comunes,
                                Crear un banco de preguntas.<br>
                                <strong>6. Cuestionarios:</strong> Crear y configurar Cuestionarios, Agregar
                                preguntas
                                del banco de
                                preguntas, Previsualización de Cuestionarios.<br>
                                <strong>7. Evaluación por pares:</strong> Creación y configuración de Talleres<br>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--button class="btn btn-primary float-left">
                                ¡Inscríbete aqui!<i class="now-ui-icons tech_laptop ml-1"></i></button-->
                            <a href="https://meet.google.com/ibd-xwvw-ygb" target="_blank" class="btn btn-danger">
                                Ir a la sala<i class="now-ui-icons tech_laptop ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <img src="assets/img/trainings/moodleAvanzado.jpg" class="card-img-top"
                            style="width: 100%; height: 200px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Moodle avanzado y Creación de Contenidos digitales en
                                    eXel Learning</strong></h5>
                            <p class="card-text">En esta sala podrás resolver tus dudas acerca de:</p>
                            <p>
                                <strong>1. Gestion del aula: </strong>Grupos: Creación de grupos. Gestión de Grupos
                                y Agrupamiento de
                                grupos. Configuración de restricciones de acceso por grupos para Actividades y
                                Recursos. Informe de Calificaciones: Configuraciones fundamentales. Informe de
                                Calificaciones. Exportar Calificaciones. Copia de Seguridad y Restauración. <br>
                                <strong>2. Actividades Avanzadas: </strong>Creación y configuración de Glosario de
                                términos. Creación y
                                configuración de Wikis. Creación y configuración de Base de Datos. <br>
                                <strong>3. Actividades Avanzadas: </strong>Lecciones: Creación y configuración de
                                Lecciones. eXe
                                Learning: Gestor de contenidos digitales educativos. Crear Paquetes SCORM desde eXe
                                Learning. <br>
                                <strong>4. ¿Qué es exe Learning? </strong>Proceso de Instalación / Descripción del
                                entorno de trabajo
                                / Estilos de presentación. <br>
                                <strong>5. iDevices:</strong> iDevices de presentación de información no textual
                                (imágenes y páginas web).
                                iDevices de actividades no interactivas.
                                iDevices de actividades interactivas / Formatos de Exportación.<br>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--button class="btn btn-primary float-left">
                                Ver trabajos<i class="now-ui-icons tech_laptop ml-1"></i></button-->
                            <a href="https://meet.google.com/sqs-hjqp-qcv" target="_blank" class="btn btn-danger">
                                Ir a la sala<i class="now-ui-icons tech_laptop ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-4">
                        <img src="assets/img/trainings/googlew.jpg" class="card-img-top"
                            style="width: 100%; height: 200px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Aplicaciones Google y Herramientas Digitales para la
                                    Docencia </strong></h5>
                            <p class="card-text">En esta sala podrás resolver tus dudas acerca de:</p>
                            <p>
                                <strong>1. Generalidades:</strong> Acceso a Google Apps desde cuenta institucional.<br>
                                <strong>2. APLICACIONES GOOGLE:</strong> Documentos y hoja de cálculo.<br>
                                <strong>3. APLICACIONES GOOGLE:</strong> Presentaciones y formularios.<br>
                                <strong>4. APLICACIONES GOOGLE:</strong> Google Calendar y Hangouts Meet.<br>
                                <strong>5. </strong>YouTube y Jamboard<br>
                                <strong>6.</strong> Uso de Códigos QR y Padlet. <br>
                                <strong>7.</strong> Diseño de cuestionarios usando Kahoot y Quizizz.<br>
                                <strong>8.</strong> Diseño de cuetionarios utilizando la aplicacion Formularios de
                                Google.<br>
                                <strong>9.</strong> Uso de Mentimeter.<br>
                                <strong>10.</strong> Diseño de rubricas utilizando el complemento Corúbrics.<br>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!--button class="btn btn-primary float-left">
                                ¡Inscríbete aqui!<i class="now-ui-icons tech_laptop ml-1"></i></button-->
                            <a href="https://meet.google.com/ank-odzw-heh" target="_blank" class="btn btn-danger">
                                Ir a la sala<i class="now-ui-icons tech_laptop ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>