<div style="padding-top: 80px;" class="">

    <div class="pt-4 pb-2" style="background-color: #DEDEDE;">
        <h2 class="text-center container mt-4" style="color: #272A3D; ">
            <strong>DUTIC PRESENTE EN EL BICENTENARIO</strong><br>
        </h2>
    </div>

</div>
<img src="assets/img/news/banderapieperu-02.png" alt="" style="width: 100%; height: 100px;">

<div class="container pb-4">
    <mat-tab-group dynamicHeight class="mt-3">
        <mat-tab>
                <ng-template mat-tab-label>
                        <i
                                class="now-ui-icons files_single-copy-04 mr-2"></i><strong>INICIO</strong>
                </ng-template>
    <h3 class="mt-4 text-center"><strong>ACTIVIDADES DUTIC POR EL BICENTENARIO</strong></h3><br>
        <div class="row">
            <div class="card-deck">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-4" >
                            <img src="" class="card-img-top" alt="..." >
                            <div class="card-body">
                                <h5 class="card-title"><strong>Concurso de cultura general</strong></h5>
                                <p class="card-text">En este concurso podras retarte a ti mismo acerca de tus conocimientos sobre el Perú, La UNSA y DUTIC</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary float-left">
                                    ¡Inscríbete aqui!<i class="now-ui-icons files_paper ml-1"></i></button>
                                <button class="btn btn-danger float-right">
                                    Ver más<i class="now-ui-icons files_paper ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-4" >
                            <img src="" class="card-img-top" alt="..." >
                            <div class="card-body">
                                <h5 class="card-title"><strong>Concurso de arte digital</strong></h5>
                                <p class="card-text">Muestra tu talento como artista digital en las diferentes categorias</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary float-left">
                                    Ver trabajos<i class="now-ui-icons files_paper ml-1"></i></button>
                                <button class="btn btn-danger float-right">
                                    Ver más<i class="now-ui-icons files_paper ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card mb-4" >
                            <img src="" class="card-img-top" alt="..." >
                            <div class="card-body">
                                <h5 class="card-title"><strong>Concurso de juegos</strong></h5>
                                <p class="card-text">Pon a prueba tus habilidades ludicas y compite con otras escuelas</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary float-left">
                                    ¡Inscríbete aqui!<i class="now-ui-icons files_paper ml-1"></i></button>
                                <button class="btn btn-danger float-right">
                                    Ver más<i class="now-ui-icons files_paper ml-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
            <ng-template mat-tab-label>
                    <i
                            class="now-ui-icons files_single-copy-04 mr-2"></i><strong>PARADERO CULTURAL</strong>
            </ng-template>
            <h3 class="mt-4 text-center"><strong>PARADERO CULTURAL VIRTUAL</strong></h3><br>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">

                <h4 class="font-weight-bold"> 1. DATOS CURIOSOS:</h4><br>
                <p>
                    En este bicentenario conoce más sobre nuestra independencia, ¡conoce más sobre nuestras historia! . Entérate de datos como: cuando fue
la verdadera independencia del Perú o como surgió el gentilicio 'Peruano'/'Peruana' , Entérate de estas y otras muchas cosas más.
                </p>
                <h4 class="font-weight-bold">2. LA INDEPENDENCIA REAL:</h4><br>
                <p>
                    A pesar de que el 28 de julio de 1821 pasó a formar parte del calendario peruano
como el día oficial para homenajear la independencia del país, lo cierto es que su
proclamación aquel día no cambió nada en la nación.
La independencia no fue real hasta 1824. Hasta ese año, los españoles siguieron
teniendo el control absoluto de la economía y la política peruanas. El hecho que
realmente puso punto y final al control colono fue la batalla de Ayacucho en 1824.
                </p>
                <h4 class="font-weight-bold">3. EL GENTILICIO PERUANO:</h4><br>
                <p>
                    A pesar de que el 28 de julio de 1821 pasó a formar parte del calendario peruano
como el día oficial para homenajear la independencia del país, lo cierto es que su
proclamación aquel día no cambió nada en la nación.
La independencia no fue real hasta 1824. Hasta ese año, los españoles siguieron
teniendo el control absoluto de la economía y la política peruanas. El hecho que
realmente puso punto y final al control colono fue la batalla de Ayacucho en 1824.
 <!--strong>jueves 10 de setiembre</strong> del presente año a las
                    <strong>15:30 horas.</strong--></p>
                <!--div class="text-center">
                    <a href="https://drive.google.com/file/d/1wy6boF5jHVOFTbP3KdX7xlTzoXwEIK1i/view?usp=sharing"
                        target="_blank" class="btn text-center" title="Ver video" style="background-color : #3a8dda;">
                        <strong class="text-wrap">VER SESIÓN INFORMATIVA</strong>
                        <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                    </a><br>
                </div-->
                <h4 class="font-weight-bold"> 4. BIBLIOTECA BICENTENARIO:</h4><br>
                <p>Descubre libros, documentos históricos y otros contenidos que te harán conocer mejor la independencia y reflexionar sobre nuestra vida
                    republicana, que fuimos, quienes somos, y que país queremos ser. </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                
                <!--h6>Proceso de registro</h6> <br>
                <p>
                    Realice el proceso de registro a la plataforma Life Long Learning, ejecutando los siguientes
                    pasos:<br><br>

                    <strong>1.</strong> Ingrese al siguiente enlace y haga clic en “Regístrate” ubicado en la parte
                    inferior del formulario.
                    <br></p>
                <div class="text-center pb-2">
                    <a href="https://tecmooc.lernit.app/signin" target="_blank" class="btn text-center "
                        title="Ver video" style="background-color : #3a8dda;">
                        <strong class="text-wrap">¡INSCRÍBETE AQUÍ!</strong>
                        <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                    </a><br>
                </div>
                <p>
                    <strong>2.</strong> Complete sus datos personales en los espacios de <strong>"Nombre" y
                        "Apellido"</strong>. Es muy importante que
                    escriba su nombre completo, ya que al finalizar el curso se generará su constancia con los mismos
                    datos.<br>
                    <strong>3.</strong> Escriba el correo electrónico que usa en la universidad, <strong>de lo
                        contrario no podrá
                        registrarse.</strong><br>
                    <strong>4.</strong> Seleccione el rol profesor. <strong>Eliga la
                        Universidad Nacional de San Agustín.</strong><br>
                    <strong>5.</strong> Escriba su contraseña para ingresar al portal. Haga clic en el botón <strong>“Registrarse”</strong> para
                    finalizar el proceso.<br>
                </p-->
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

    </div>

<!--TEC MONTERREY-->
<!--img src="assets/img/news/bordesNews.png" alt="" style="width: 100%; height: 100px; transform: rotate(-180deg);">
    <div class="container pb-4">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">

                <h4 class="font-weight-bold"> 1. OBJETIVO:</h4><br>
                <p>
                    Fortalecimiento institucional de nuestra Universidad, en beneficio de la comunidad académica en
                    general por lo que es de suma importancia su invalorable participación en las sesiones de
                    capacitación, agradeciendoles a aquellos docentes participantes en la encuesta del diagnóstico
                    inicial, durante la primera etapa del Programa.
                </p>
                <h4 class="font-weight-bold">2. PARTICIPANTES:</h4><br>
                <p>
                    Esta capacitacion de 30 horas, en modalidad sincronica está dirigida al 100% de la totalidad de los
                    docentes.
                </p>
                <h4 class="font-weight-bold">3. INDICACIONES:</h4><br>
                <p>
                    Se les invita a participar de esta capacitación. La sesión informativa/Fase de Capacitación sobre
                    competencias
                    digitales, se desarrolló este <strong>jueves 10 de setiembre</strong> del presente año a las
                    <strong>15:30 horas.</strong></p>
                <div class="text-center">
                    <a href="https://drive.google.com/file/d/1wy6boF5jHVOFTbP3KdX7xlTzoXwEIK1i/view?usp=sharing"
                        target="_blank" class="btn text-center" title="Ver video" style="background-color : #3a8dda;">
                        <strong class="text-wrap">VER SESIÓN INFORMATIVA</strong>
                        <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                    </a><br>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="font-weight-bold"> 4. MANUAL DEL PARTICIPANTE:</h4>
                <h6>Proceso de registro</h6> <br>
                <p>
                    Realice el proceso de registro a la plataforma Life Long Learning, ejecutando los siguientes
                    pasos:<br><br>

                    <strong>1.</strong> Ingrese al siguiente enlace y haga clic en “Regístrate” ubicado en la parte
                    inferior del formulario.
                    <br></p>
                <div class="text-center pb-2">
                    <a href="https://tecmooc.lernit.app/signin" target="_blank" class="btn text-center "
                        title="Ver video" style="background-color : #3a8dda;">
                        <strong class="text-wrap">¡INSCRÍBETE AQUÍ!</strong>
                        <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                    </a><br>
                </div>
                <p>
                    <strong>2.</strong> Complete sus datos personales en los espacios de <strong>"Nombre" y
                        "Apellido"</strong>. Es muy importante que
                    escriba su nombre completo, ya que al finalizar el curso se generará su constancia con los mismos
                    datos.<br>
                    <strong>3.</strong> Escriba el correo electrónico que usa en la universidad, <strong>de lo
                        contrario no podrá
                        registrarse.</strong><br>
                    <strong>4.</strong> Seleccione el rol profesor. <strong>Eliga la
                        Universidad Nacional de San Agustín.</strong><br>
                    <strong>5.</strong> Escriba su contraseña para ingresar al portal. Haga clic en el botón <strong>“Registrarse”</strong> para
                    finalizar el proceso.<br>
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img class="mt-3" src="assets/img/news/logounsa.png" alt="" style="width: 200px; height: auto;">
                    </div>
                    <div class="col-6">
                        <img class="mt-3" src="assets/img/news/tecmonterreylogo.png" alt=""
                            style="width: 200px; height: auto;">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <img src="assets/img/news/info_profesores.jpg" alt="" style="width: 100%; height: auto;">
        </div>

    </div-->