<div style="padding-top: 150px;" class="style--content">
    <div class="container">
        <div class="card--header--style card-header row">
            <div class="col-md-12 col-xl-6 col-lg-6">
                <span>NOTICIAS<br><small>Actualidad</small></span>
            </div>
        </div>
        <div class="row" >
            <div class="col-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let news of content">
                <div class="card animated fadeIn fast scroll" style="width: 100%;">
                    <img src="{{news.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a (click)="openInfoNew(news)" class="toggle-info btn"></a>
                        <h5 class="card-title"><strong>{{news.name}}</strong></h5>
<!--                         <p class="card-text">{{news.des}}</p>
 -->                        <p class="card-text">{{news.date}}</p>
                        <!-- href="{{news.link}}"  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
