<div style="padding-top: 150px;" class="style--content">
    <div class="container">
        <div class="card--header--style card-header row">
            <div class="col-md-12 col-xl-6 col-lg-6">
                <span>NOTICIAS<br><small>Actualidad</small></span>
            </div>
        </div>

        <div class="card-columns text-center" >
            <div class="card animated fadeIn fast scroll" *ngFor="let news of content" style="width: 100%;">
                <img src="{{news.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <h5 class="card-title"><strong>{{news.name}}</strong></h5>
                    <p class="card-text">{{news.date}}</p>
                    <button class="btn btn-primary btn-round float-right" (click)="openInfoNew(news)" type="button">
                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>