<div style="padding-top: 70px;" class="">
    <!--div style="background-color: #465767;">
        <img src="assets/img/trainings/2.png" class="img-fluid" alt="Responsive image">
    </div-->
    <div class="pl-4 pr-4 pt-4" style="background-color: #465767;">
        <div class="pt-4 pl-4" style="color: ghostwhite;">
            <div class=" pt-4 pl-4 pr-4">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2 class="border-right-dutic"><strong>CAPACITACIONES VIRTUALES DUTIC 2021</strong><br></h2>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <h1 class=""><strong>17</strong><small>Agosto</small></h1>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
                        <p class=""><strong>PLATAFORMA VIRTUAL</strong></p>
                        <a href="https://dutic.unsa.edu.pe/capacitaciones" target="_blank"
                            class="btn btn-info btn-round btn-lg" style="background-color: rgba(30, 143, 255, 0.925);">Capacitaciones DUTIC</a>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 white--box text-center pt-2 ml-3">
                        <h6><strong class="">E-DUTICATE</strong><br>
                        </h6>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <h1 class=""><strong>5</strong><small> Abril</small></h1>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h3 class="border-right-dutic"><strong>CAPACITACIONES VIRTUALES DUTIC 2021</strong><br></h3>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <h1 class=""><strong>5</strong><small> Abril</small></h1>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
                        <h4 class="white--box--border pt-2 pb-2 pl-3 pr-3"><strong>¡CUPOS LIMITADOS!</strong></h4>
                    </div>
                </div-->
                <div class="row pt-4">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                        <img src="assets/img/trainings/Logo_Eduticate.png" width="65%" height="auto" alt="">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <p class=""><strong>METODOLOGÍA DE ENSEÑANZA</strong><br>
                            - Capacitación 100% práctica.<br>
                            - Sesiones asíncronas y síncronas.<br>
                            - Acompañamiento permanente en la práctica.<br>
                            - Retroalimentación para cada una de las actividades desarrolladas.<br>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <p><strong>BENEFICIOS</strong><br>
                            - Certificación con evaluación por 24 horas a nombre del VRAC - DUTIC.<br>
                            - Actividades vinculadas a la implementación del aula virtual.<br>
                        </p>

                        <!--h2 class="white--box--border pt-2 pb-2 pl-3 pr-3"><strong>¡CUPOS LIMITADOS!</strong></h2-->
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center pb-4">
                        <a href="https://dutic.unsa.edu.pe/entregacertificado/" target="_blank"
                            class="btn btn-primary btn-round btn-lg mr-3">Descarga tu certificado</a>
                        <p>Nota: Se continuará la actualización de certificados de las últimas capacitaciones en el
                            enlace de descarga</p>
                        <!--a href="https://dutic.unsa.edu.pe/capacitaciones/login/index.php" target="_blank"
                            class="btn btn-primary btn-round btn-lg mr-4">Accede al aula virtual de Capacitaciones</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/fondo4.png" alt="" style="width: 100%; height: 100px; transform: rotate(-180deg);">
    <div style="background-color: #F1F1F2;">
        <div class="container">
            <!--div class="row text-center pt-3">
                <h3 class="font-weight-bold">FECHAS DE CIERRE DE EVALUACIONES FINALES</h3>
            </div-->
            <!--div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="row borderBottom--style text-center">
                        <h5 class="font-weight-bold ">CURSOS AGOSTO</h5>
                    </div>
                    <div class="row p-2 ">
                        <div class="pl-3">
                            ● Aula Virtual I - Moodle Básico<br>
                            ● Aula Virtual II - Moodle Intermedio<br>
                            ● Aula Virtual III - Moodle Avanzado<br>
                            ● Aplicaciones Google para la Educación<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="row borderBottom--style">
                        <h5 class="font-weight-bold text-center">FECHA DE CIERRE</h5>
                    </div>
                    <div class="row p-2">
                        <div class="pl-3">
                            ● 07/10/2020<br>
                            ● 18/10/2020<br>
                            ● 08/11/2020<br>
                            ● 18/10/2020<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-1 col-sm-6"></div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="row borderBottom--style">
                        <h5 class="font-weight-bold text-center">CURSOS SETIEMBRE</h5>
                    </div>
                    <div class="row p-2 ">
                        <div class="pl-3">
                            ● Aula Virtual I - Moodle Básico<br>
                            ● Aula Virtual II - Moodle Intermedio<br>
                            ● Aula Virtual III - Moodle Avanzado<br>
                            ● Aplicaciones Google para la Educación<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="row borderBottom--style">
                        <h5 class="font-weight-bold text-center">FECHA DE CIERRE</h5>
                    </div>
                    <div class="row p-2">
                        <div class="pl-3">
                            ● 18/10/2020<br>
                            ● 30/10/2020<br>
                            ● 08/11/2020<br>
                            ● 18/10/2020<br>
                        </div>
                    </div>
                </div>
            </div-->

            <div class="row pt-4">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="font-weight-bold">Google Workspace for Education</h2>
                            <p class="text-justify">Ofrece un conjunto de herramientas sencillas y flexibles a las
                                comunidades educativas para que puedan colaborar mejor, administrar clases y promover
                                entornos de aprendizaje más seguros.</p>
                        </div>
                        <div class="col-12">
                            <div class=" card">
                                <img src="assets/img/trainings/googlew.jpg" class="card-img-top"
                                    style="width: 100%; height: 200px;" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title font-weight-bold">Aplicaciones Google para la
                                                Educación</h5>
                                            <h5 class="card-title font-weight-bold text-center">Inicio: 26 Agosto
                                            </h5>
                                        </div>
                                        <div class="col-12">
                                            <button *ngIf="descFlagMoodleIII==true? false : true"
                                                class="btn btn-success btn-block" (click)="openModal('hgoogle')"
                                                data-toggle="tooltip" data-placement="top" title="Ver más"><i
                                                    class="fas fa-plus mr-1"></i>MÁS INFORMACIÓN AQUÍ
                                            </button>
                                            <button *ngIf="descFlagHGoogle==true? true : false"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="OnClickDescription(hgoogle)" data-toggle="tooltip"
                                                data-placement="top" title="Ver menos">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <strong class="text-justify">Objetivos</strong><br>
                                        Dar a conocer al personal Docente de la Universidad Nacional de San Agustín las
                                        principales
                                        y más productivas herramientas colaborativas y de gestión de contenidos de
                                        Google
                                        asociadas
                                        a
                                        las cuentas de correo institucional de cada docente<br>
                                        <div *ngIf="descFlagHGoogle==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            - Acceso a las aplicaciones de Google<br>
                                            - Google Drive<br>
                                            - Documentos de Google<br>
                                            - Hoja de Cálculo de Google<br>
                                            - Presentaciones de Google<br>
                                            - Formularios de Google<br>
                                            - Google Calendar<br>
                                            - Google Meet<br>
                                            - YouTube para Docentes<br>
                                            - Google Jamboard<br>
                                        </div>
                                    </div>
                                    <!--div class="card-text font-weight-bold">Horario primer turno: 9:00 hrs. a 11:00 hrs.
                                    </div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('hgoogle')">
                                        INSCRIBETE AQUÍ</button-->
                                    <button class="btn btn-primary btn-block">
                                        INSCRIPCIONES CERRADAS</button>
                                    <!--button class="btn btn-primary btn-block">
                                        PRÓXIMAMENTE</button-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="card-title font-weight-bold">AULAS VIRTUALES</h2>
                            <p class="text-justify">Un aula virtual es un entorno digital en el que se puede llevar a
                                cabo un
                                proceso de intercambio de conocimientos que tiene por objetivo posibilitar un
                                aprendizaje entre los
                                usuarios que participan en el aula. En otras palabras, un aula virtual es un espacio
                                dentro de una plataforma online en la que comparten contenidos profesores y estudiantes,
                                y en el
                                que se atienden consultas, dudas y evaluaciones de los participantes.
                                Como tal, el aula virtual no tiene límites físicos ni temporales. El estudiante puede
                                acceder a ella cuando quiera para tomar sus clases, sin tener que estar sujeto a
                                horarios y a
                                desplazamientos
                                físicos.</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                            <div class="card">
                                <img src="assets/img/trainings/moodleBasico.jpg" class="card-img-top"
                                    style="width: 100%; height: 200px;" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title font-weight-bold">AULAS VIRTUALES I – Moodle Básico
                                            </h5>
                                            <h5 class="card-title font-weight-bold text-center">Inicio: 17 Agosto
                                            </h5>
                                        </div>
                                        <div class="col-12">
                                            <button *ngIf="descFlagMoodleI==true? false : true"
                                                class="btn btn-success btn-block" (click)="openModal('moodleI')"
                                                data-toggle="tooltip" data-placement="top" title="Ver más"><i
                                                    class="fas fa-plus mr-1"></i>MÁS INFORMACIÓN AQUÍ
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <span>
                                            <strong class="text-justify">Objetivos</strong><br>
                                            Dar a conocer al personal Docente de la Universidad Nacional de San Agustín,
                                            las
                                            características Generales y fundamentales de la plataforma virtual de
                                            enseñanza
                                            Moodle
                                            en lo
                                            que se refiere a recursos y actividades<br>
                                        </span>
                                        <div *ngIf="descFlagMoodleI==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            - Acceso a la Plataforma<br>
                                            - Descripción de la Interfaz de Usuario de Moodle<br>
                                            - Configuración de Perfil de Usuario: Subir Foto y agregar Descripción<br>
                                            - Cambiar Contraseña<br>
                                            - Administración Básica de un curso: Ajustes del Curso, Usuarios
                                            Matriculados<br>
                                            - Agregar Recursos:Archivos, URL, Etiquetas<br>
                                            - Agregar Actividades:<br>
                                            Tareas. Configuración General de una tarea. Revisar, Calificar y
                                            Retroalimentar una
                                            tarea<br>
                                            Foros. Agregando un foro al aula virtual. Tipos de Foros. Configuración.<br>
                                        </div>
                                    </div><br>
                                    <!--div class="card-text font-weight-bold">Horario primer turno: 9:00 hrs. a 11:00 hrs.
                                    </div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('moodleI')">
                                        INSCRIBETE AQUÍ</button>
                                    <div class="card-text font-weight-bold">Horario segundo turno: 15:00 hrs. a 17:00
                                        hrs.</div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodleTurnB('moodleI')">
                                        INSCRIBETE AQUÍ</button-->
                                    <button class="btn btn-primary btn-block">
                                        INSCRIPCIONES CERRADAS</button>
                                    <!--button class="btn btn-primary btn-block">
                                        PRÓXIMAMENTE</button-->

                                    <!--button class="btn btn-success btn-round" (click)="openDescription(true)" title="Ver mas" type="button">
                                    <i class="now-ui-icons arrows-1_minimal-down"> Ver más</i>
                                </button-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                            <div class="card">
                                <img src="assets/img/trainings/moodleInterm.jpg" class="card-img-top"
                                    style="width: 100%; height: 200px;" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title font-weight-bold">AULAS VIRTUALES II – Moodle
                                                Intermedio</h5>
                                            <h5 class="card-title font-weight-bold text-center">Inicio: 17 Agosto
                                            </h5>
                                        </div>
                                        <div class="col-12">
                                            <button *ngIf="descFlagMoodleII==true? false : true"
                                                class="btn btn-success btn-block" (click)="openModal('moodleII')"
                                                data-toggle="tooltip" data-placement="top">
                                                <i class="fas fa-plus mr-1"></i> MÁS INFORMACIÓN AQUÍ
                                            </button>
                                            <button *ngIf="descFlagMoodleII==true? true : false"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="OnClickDescriptionMoodleII()" data-toggle="tooltip"
                                                data-placement="top" title="Ver menos">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <strong class="text-justify">Objetivos</strong><br>
                                        Dar a conocer al personal Docente de la Universidad Nacional de San Agustín,
                                        características
                                        más avanzadas acerca del uso y gestión de la plataforma virtual Moodle,
                                        centrando
                                        su
                                        atención
                                        principalmente en el aprendizaje de herramientas evaluativas<br>
                                        <div *ngIf="descFlagMoodleII==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            - Banco de Preguntas: Creación y configuración General. Tipos de preguntas
                                            más
                                            comunes. Crear un banco de preguntas.<br>
                                            - Cuestionarios: Crear y configurar Cuestionarios. Agregar preguntas del
                                            banco de
                                            preguntas. Previsualización de Cuestionarios.<br>
                                            - Evaluación por pares: Taller – Creación y configuración<br>
                                        </div>
                                    </div><br>
                                    <!--div class="card-text font-weight-bold">Horario primer turno: 11:00 hrs. a 13:00 hrs.
                                    </div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('moodleII')">
                                        INSCRIBETE AQUÍ</button>
                                    <div class="card-text font-weight-bold">Horario segundo turno: 17:00 hrs. a 19:00 hrs.</div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodleTurnB('moodleII')">
                                        INSCRIBETE AQUÍ</button-->

                                    <button class="btn btn-primary btn-block">
                                        INSCRIPCIONES CERRADAS</button>
                                    <!--button class="btn btn-primary btn-block">
                                        PRÓXIMAMENTE</button-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4 pb-4">
                <div class="col-4">
                    <h2 class="font-weight-bold">Herramientas Digitales para la
                        docencia</h2>
                    <p class="text-justify">El presente curso pretende desarrollar habilidades digitales y optimizar el
                        uso de diferentes herramientas aplicadas a la evaluación para apoyar la labor académica de los
                        docentes en este proceso de enseñanza a distancia, así mismo incrementar la participación de los
                        estudiantes en las sesiones ya sea de manera sincrónica o asincrónica desde cualquier
                        dispositivo, además de poder elaborar rúbricas y consolidar los resultados obtenidos de la
                        autoevaluación, coevaluación y heteroevaluación previamente planificada por el docente.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <img src="assets/img/trainings/herram.jpg" class="card-img-top"
                            style="width: 100%; height: 200px;" alt="...">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold ">Herramientas Digitales para la
                                        docencia
                                    </h5>
                                    <h5 class="card-title font-weight-bold text-center">Inicio:
                                    </h5>

                                </div>
                                <div class="col-12">
                                    <!-- <button *ngIf="descFlagMoodleIII==true? false : true"
                                            class="btn btn-primary float-right btn-icon btn-round"
                                            (click)="openModal('moodleIII')" data-toggle="tooltip" data-placement="top"
                                            title="Ver más">
                                            <i class="fas fa-plus"></i>
                                        </button> -->
                                    <button *ngIf="descFlagTools==true? false : true" class="btn btn-success btn-block"
                                        (click)="openModal('tools')" data-toggle="tooltip" data-placement="top">
                                        <i class="fas fa-plus mr-1"></i> MÁS INFORMACIÓN AQUÍ
                                    </button>
                                    <button *ngIf="descFlagTools==true? true : false"
                                        class="btn btn-primary float-right btn-icon btn-round"
                                        (click)="OnClickDescriptionTools()" data-toggle="tooltip" data-placement="top"
                                        title="Ver menos">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <!--button *ngIf="descFlagMoodleIII==true? false : true"
                                            class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleIII()"
                                            data-toggle="tooltip" data-placement="top" title="Ver más"><i
                                                class="fas fa-plus mr-1"></i>MÁS INFORMACIÓN AQUÍ
                                        </button>
                                        <button *ngIf="descFlagMoodleIII==true? true : false"
                                            class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleIII()"
                                            data-toggle="tooltip" data-placement="top" title="Ver menos"><i
                                                class="fas fa-minus mr-1"></i>VER MENOS
                                        </button> -->
                                </div>
                            </div>
                            <div class="card-text">
                                <strong class="text-justify">Objetivos</strong><br>
                                Dar a conocer al personal Docente de la Universidad Nacional de San Agustín
                                herramientas para la creación de rúbricas a través del complemento Corubrics y
                                cuestionarios con la finalidad de incrementar la
                                participación en los estudiantes.<br>
                                <div *ngIf="descFlagMoodleIII==true? true : false">
                                    <strong>Contenidos</strong><br>
                                    - Grupos: Creación de grupos. Gestión de Grupos y Agrupamiento de
                                    grupos.<br>
                                    - Configuración de restricciones de acceso por grupos para Actividades y
                                    Recursos.<br>
                                    - Informe de Calificaciones: Configuraciones fundamentales. Informe de
                                    Calificaciones.
                                    Exportar Calificaciones.<br>
                                    - Copia de Seguridad y Restauración<br>
                                    - Glosario y Wikis<br>
                                    - Base de Datos<br>
                                    - Lecciones: Creación de Lecciones<br>
                                    - Paquetes SCORM<br>
                                </div>
                            </div>

                            <!--button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('tool')">
                                INSCRIBETE AQUÍ</button-->
                            <!--button class="btn btn-primary btn-block">
                                INSCRIPCIONES CERRADAS</button-->
                            <button class="btn btn-primary btn-block">
                                PRÓXIMAMENTE</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <img src="assets/img/trainings/moodleAvanzado.jpg" class="card-img-top"
                            style="width: 100%; height: 200px;" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title font-weight-bold ">AULAS VIRTUALES III – Moodle
                                        Avanzado</h5>
                                    <h5 class="card-title font-weight-bold text-center">Inicio: 26 Agosto
                                    </h5>

                                </div>
                                <div class="col-12">
                                    <!-- <button *ngIf="descFlagMoodleIII==true? false : true"
                                            class="btn btn-primary float-right btn-icon btn-round"
                                            (click)="openModal('moodleIII')" data-toggle="tooltip" data-placement="top"
                                            title="Ver más">
                                            <i class="fas fa-plus"></i>
                                        </button> -->
                                    <button *ngIf="descFlagMoodleIII==true? false : true"
                                        class="btn btn-success btn-block" (click)="openModal('moodleIII')"
                                        data-toggle="tooltip" data-placement="top">
                                        <i class="fas fa-plus mr-1"></i> MÁS INFORMACIÓN AQUÍ
                                    </button>
                                    <button *ngIf="descFlagMoodleIII==true? true : false"
                                        class="btn btn-primary float-right btn-icon btn-round"
                                        (click)="OnClickDescriptionMoodleIII()" data-toggle="tooltip"
                                        data-placement="top" title="Ver menos">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <!-- <button *ngIf="descFlagMoodleIII==true? false : true"
                                            class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleIII()"
                                            data-toggle="tooltip" data-placement="top" title="Ver más"><i
                                                class="fas fa-plus mr-1"></i>MÁS INFORMACIÓN AQUÍ
                                        </button>
                                        <button *ngIf="descFlagMoodleIII==true? true : false"
                                            class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleIII()"
                                            data-toggle="tooltip" data-placement="top" title="Ver menos"><i
                                                class="fas fa-minus mr-1"></i>VER MENOS
                                        </button> -->
                                </div>
                            </div>
                            <div class="card-text">
                                <strong class="text-justify">Objetivos</strong><br>
                                Dar a conocer al personal Docente de la Universidad Nacional de San Agustín
                                métodos y
                                características avanzadas del uso y gestión de la plataforma virtual de
                                enseñanza Moodle
                                respecto a recursos y actividades avanzadas<br>
                                <div *ngIf="descFlagMoodleIII==true? true : false">
                                    <strong>Contenidos</strong><br>
                                    - Grupos: Creación de grupos. Gestión de Grupos y Agrupamiento de
                                    grupos.<br>
                                    - Configuración de restricciones de acceso por grupos para Actividades y
                                    Recursos.<br>
                                    - Informe de Calificaciones: Configuraciones fundamentales. Informe de
                                    Calificaciones.
                                    Exportar Calificaciones.<br>
                                    - Copia de Seguridad y Restauración<br>
                                    - Glosario y Wikis<br>
                                    - Base de Datos<br>
                                    - Lecciones: Creación de Lecciones<br>
                                    - Paquetes SCORM<br>
                                </div>
                            </div>
                            <!--div class="card-text font-weight-bold">Horario primer turno: 11:00 hrs. a 13:00 hrs.
                            </div>
                            <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('moodleIII')">
                                INSCRIBETE AQUÍ</button>
                            <div class="card-text font-weight-bold">Horario segundo turno: 15:00 hrs. a 17:00 hrs.</div>
                            <button class="btn btn-danger btn-block" (click)="onClicLinkMoodleTurnB('moodleIII')">
                                INSCRIBETE AQUÍ</button-->
                            <button class="btn btn-primary btn-block">
                                INSCRIPCIONES CERRADAS</button>
                            <!--button class="btn btn-primary btn-block">
                                PRÓXIMAMENTE</button-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="font-weight-bold text-center">Taller virtual: NOVEDADES DE LAS AULAS
                        VIRTUALES PERIODO
                        2021</h3>
                    <h4 class="text-center">Sesiones del 28 y 29 de abril del 2021</h4>
                    <div class="card-deck">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let video of videos">
                                <div class="card mb-4">
                                    <img src="{{video.thumbnails.medium.url}}" class="card-img-top" alt="..."
                                        (click)="onClicVideo(video)">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>{{video.title}}</strong></h5>
                                        <p class="card-text">{{video.description}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-danger float-left" (click)="onClicVideo(video)">
                                            Video<i class="now-ui-icons media-1_button-play ml-1"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--div class="col-lg-4 col-md-6 col-sm-12 text-center mb-4">
                    <h3><strong>FECHAS DE INICIO</strong></h3>
                    <img src="assets/img/trainings/4.jpg" class="card-img" style="height: 440px; width: auto;"
                        alt="...">
                </div-->

                <!--div class="col-lg-6 col-md-12 col-sm-12 pb-3">
                            <div class="card">
                                <img src="assets/img/trainings/moodleBasico.jpg" class="card-img-top"
                                    style="width: 100%; height: 200px;" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title font-weight-bold">AULAS VIRTUALES I – Moodle Básico
                                            </h5>
                                            <h5 class="card-title font-weight-bold text-center">
                                            </h5>
                                        </div>
                                        <div class="col-12">
                                            <button *ngIf="descFlagMoodleI==true? false : true"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="openModal('moodleI')" data-toggle="tooltip" data-placement="top"
                                                title="Ver más">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                            <button *ngIf="descFlagMoodleI==true? false : true"
                                                class="btn btn-success btn-block" (click)="openModal('moodleI')"
                                                data-toggle="tooltip" data-placement="top">
                                                <i class="fas fa-plus mr-1"></i> MÁS INFORMACIÓN AQUÍ
                                            </button>
                                            <button *ngIf="descFlagMoodleI==true? true : false"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="OnClickDescriptionMoodleI()" data-toggle="tooltip"
                                                data-placement="top" title="Ver menos">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <button *ngIf="descFlagMoodleI==true? false : true"
                                                class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleI()"
                                                data-toggle="tooltip" data-placement="top" title="Ver más"><i
                                                    class="fas fa-plus mr-1"></i>MÁS INFORMACIÓN AQUÍ
                                            </button>
                                            <button *ngIf="descFlagMoodleI==true? true : false"
                                                class="btn btn-success btn-block" (click)="OnClickDescriptionMoodleI()"
                                                data-toggle="tooltip" data-placement="top" title="Ver menos"><i
                                                    class="fas fa-minus mr-1"></i>VER MENOS
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <span>
                                            <strong class="text-justify">Objetivos</strong><br>
                                            Dar a conocer al personal Docente de la Universidad Nacional de San Agustín,
                                            las
                                            características Generales y fundamentales de la plataforma virtual de
                                            enseñanza
                                            Moodle
                                            en lo
                                            que se refiere a recursos y actividades<br>
                                        </span>
                                        <div *ngIf="descFlagMoodleI==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            - Acceso a la Plataforma<br>
                                            - Descripción de la Interfaz de Usuario de Moodle<br>
                                            - Configuración de Perfil de Usuario: Subir Foto y agregar Descripción<br>
                                            - Cambiar Contraseña<br>
                                            - Administración Básica de un curso: Ajustes del Curso, Usuarios
                                            Matriculados<br>
                                            - Agregar Recursos:Archivos, URL, Etiquetas<br>
                                            - Agregar Actividades:<br>
                                            Tareas. Configuración General de una tarea. Revisar, Calificar y
                                            Retroalimentar una
                                            tarea<br>
                                            Foros. Agregando un foro al aula virtual. Tipos de Foros. Configuración.<br>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('moodleI')">
                                        INSCRIBETE AQUÍ</button>
                                    <button class="btn btn-primary btn-block">
                                        INSCRIPCIONES CERRADAS</button>
                                    <button class="btn btn-primary btn-block">
                                        PRÓXIMAMENTE</button>
                                    
                                <button class="btn btn-success btn-round" (click)="openDescription(true)" title="Ver mas" type="button">
                                    <i class="now-ui-icons arrows-1_minimal-down"> Ver más</i>
                                </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                            <div class="card">
                                <img src="assets/img/trainings/moodleInterm.jpg" class="card-img-top"
                                    style="width: 100%; height: 200px;" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title font-weight-bold">AULAS VIRTUALES II – Moodle
                                                Intermedio</h5>
                                            <h5 class="card-title font-weight-bold text-center">
                                            </h5>
                                        </div>
                                        <div class="col-12">
                                            <button *ngIf="descFlagMoodleII==true? false : true"
                                                class="btn btn-success btn-block" (click)="openModal('moodleII')"
                                                data-toggle="tooltip" data-placement="top">
                                                <i class="fas fa-plus mr-1"></i> MÁS INFORMACIÓN AQUÍ
                                            </button>
                                            <button *ngIf="descFlagMoodleII==true? true : false"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="OnClickDescriptionMoodleII()" data-toggle="tooltip"
                                                data-placement="top" title="Ver menos">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text">
                                        <strong class="text-justify">Objetivos</strong><br>
                                        Dar a conocer al personal Docente de la Universidad Nacional de San Agustín,
                                        características
                                        más avanzadas acerca del uso y gestión de la plataforma virtual Moodle,
                                        centrando
                                        su
                                        atención
                                        principalmente en el aprendizaje de herramientas evaluativas<br>
                                        <div *ngIf="descFlagMoodleII==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            - Banco de Preguntas: Creación y configuración General. Tipos de preguntas
                                            más
                                            comunes. Crear un banco de preguntas.<br>
                                            - Cuestionarios: Crear y configurar Cuestionarios. Agregar preguntas del
                                            banco de
                                            preguntas. Previsualización de Cuestionarios.<br>
                                            - Evaluación por pares: Taller – Creación y configuración<br>
                                        </div>
                                    </div>
                                                                         (click)="onClicLinkMoodle('moodleII')"
 -->
                <!--button class="btn btn-primary btn-block">
                                        INSCRIPCIONES CERRADAS</button>
                                    <button class="btn btn-primary btn-block">
                                        PRÓXIMAMENTE</button>
                                </div>
                            </div>
                        </div-->
            </div>
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card mb-5">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/img/trainings/hgoogle.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <h5 class="card-title font-weight-bold">Aplicaciones Google para la
                                                Educación
                                            </h5>
                                        </div>
                                        <div class="col-3">
                                            <button *ngIf="descFlagHGoogle==true? false : true"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="openModal('hgoogle')" data-toggle="tooltip"
                                                data-placement="top" title="Ver más">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                            <button *ngIf="descFlagHGoogle==true? true : false"
                                                class="btn btn-primary float-right btn-icon btn-round"
                                                (click)="OnClickDescription(hgoogle)" data-toggle="tooltip"
                                                data-placement="top" title="Ver menos">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-text"><strong>Objetivos</strong><br>
                                        Dar a conocer al personal Docente de la Universidad Nacional de San Agustín las
                                        principales
                                        y más productivas herramientas colaborativas y de gestión de contenidos de
                                        Google asociadas a
                                        las cuentas de correo institucional de cada docente<br>
                                        <div *ngIf="descFlagHGoogle==true? true : false">
                                            <strong>Contenidos</strong><br>
                                            <div class="row">
                                                <div class="col-6">
                                                    - Acceso a las aplicaciones de Google<br>
                                                    - Google Drive<br>
                                                    - Documentos de Google<br>
                                                    - Hoja de Cálculo de Google<br>
                                                    - Presentaciones de Google<br>
                                                </div>
                                                <div class="col-6">
                                                    - Formularios de Google<br>
                                                    - Google Calendar<br>
                                                    - Google Meet<br>
                                                    - YouTube para Docentes<br>
                                                    - Google Jamboard<br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger btn-block" (click)="onClicLinkMoodle('hgoogle')">
                                        INSCRIBETE AQUÍ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 -->
            </div>
        </div>
    </div>
    <img src="assets/img/fondo3.png" class="card-img" style="height: 100px;" alt="...">
    <div class="" style="background-color: #D2AE6D;">


        <!--  <div class="col-lg-4 col-md-4 col-sm-12 justify-content-center">
                    <div class=" row pt-4 pb-4 pr-3 pl-3 text-center" style="color: ghostwhite;">
                        <h2 class="card-title font-weight-bold text-center">CUADRO DE FECHAS</h2>
                        <img src="assets/img/CURSO.png" class="card-img" alt="...">
                    </div>
                </div> -->
        <div class=" text-center col-lg-12 col-md-12 col-sm-12 pt-5 pb-5">
            <h2 class="font-weight-bold" style="color: white;">CALENDARIO DUTIC</h2>

            <div class="hidden-phone">
                <iframe
                    src="https://calendar.google.com/calendar/b/7/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLima&amp;src=ZHV0aWMuY2FwYWNpdGFjaW9uQHVuc2EuZWR1LnBl&amp;color=%23039BE5&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0"
                    style="border-radius: 20px; border: 10px solid #db4a39; padding: 1%; background-color: white;"
                    width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <!-- <div class="visible-phone">
            <iframe
                src="https://calendar.google.com/calendar/b/7/embed?height=500&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLima&amp;src=ZHV0aWMuY2FwYWNpdGFjaW9uQHVuc2EuZWR1LnBl&amp;color=%23039BE5&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA"
                style="border-radius: 20px; border: 10px solid #db4a39; padding: 1%; background-color: white;"
                width="300" height="500" frameborder="0" scrolling="no"></iframe>
        </div> -->
        </div>
    </div>
</div>