<div style="padding-top: 100px;" class="style--content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <p><strong>AULAS VIRTUALES 2022</strong></p>
                <a class="dropdown-item" href="https://aulavirtual.unsa.edu.pe/2022B/" target="_blank">Aula Virtual
                    2022-B</a>
                <a class="dropdown-item" href="https://aulavirtual.unsa.edu.pe/2022A/" target="_blank">Aula Virtual
                    2022-A</a><br>
                <p><strong>AULAS VIRTUALES 2021</strong></p>
                <a class="dropdown-item" href="https://aulavirtual.unsa.edu.pe" target="_blank">Aula Virtual
                    2021-C</a>
                <a class="dropdown-item" href="https://aulavirtual.unsa.edu.pe/2021B/" target="_blank">Aula Virtual
                    2021-B</a>
                <a class="dropdown-item" [routerLink]="['comunications']" target="_blank">Aula Virtual
                    2021-A</a><br>
                <p><strong>AULAS VIRTUALES 2020</strong></p>
                <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020C/" target="_blank">Aula Virtual
                    2020-C</a>
                <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020B/" target="_blank">Aula Virtual
                    2020-B</a>
                <a class="dropdown-item" href="https://aulavirtual2020.unsa.edu.pe/2020A/" target="_blank">Aula Virtual
                    2020-A</a>
            </div>
        </div>
        <mat-tab-group dynamicHeight class="mb-4">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="now-ui-icons tech_laptop mr-2"></i><strong>DOCENTES</strong>
                </ng-template>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <img src="assets/img/pregfrec/INFORMATIC FINAL_dutic-03.png" width="100%" alt="informatic">
                            <img src="assets/img/pregfrec/INFORMATIC FINAL_dutic-04.png" width="100%" alt="informatic">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="now-ui-icons tech_laptop mr-2"></i><strong>ESTUDIANTES</strong>
                </ng-template>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <img src="assets/img/pregfrec/INFORMATIC FINAL_dutic_01.png" width="100%" alt="informatic">
                            <img src="assets/img/pregfrec/INFORMATIC FINAL_dutic-02.png" width="100%" alt="informatic">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="now-ui-icons ui-2_chat-round mr-2"></i><strong>PREGUNTAS FRECUENTES</strong>
                </ng-template>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let question of questions">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <strong>{{question.title}}</strong>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{question.code}}</h6>
                                    <p class="card-text">{{question.des}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="now-ui-icons tech_laptop mr-2"></i><strong>DUTIPS</strong>
                </ng-template>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let dutip of dutips">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <strong>{{dutip.title}}</strong>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{dutip.code}}</h6>
                                    <p class="card-text">{{dutip.des}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!--img src="assets/svg/questions-rafiki.svg" class="card-img-top" alt="..."
            style="width: 50%; height: auto; margin-left: auto; margin-right: auto; display: block;"-->
    </div>
</div>