<div>

    <section class="inner-header bg-opacity main-font mat-elevation-z10"
        style="padding-top: 170px; padding-bottom: 6rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white mat-display-1">CONCURSO DESAFÍA TUS CONOCIMIENTOS</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div style="padding-top: 0px; background-color: #DEDEDE;" class="wrapper">
            <div class="" style="padding-bottom: 0px !important;">
                <div class="container">
                    <div class="row">

                        <!--div class="col-lg-6 col-md-12 col-sm-12 text-center"><br><br><br>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/DauUsEzgPXI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div-->
                    </div>
                </div>
            </div>
            <div class="container pb-4 pt-4">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 text-justify mt-3">
                        <mat class="title-text mat-subheading-2">DESARROLLO</mat>
                        <div class="title-line"></div>
                        <p>
                            <strong>1.</strong> La inscripción de los participantes agustinos será del día 23 al día 27
                            mediante
                            formulario de Google.<br>
                            <strong>2.</strong> La primera ronda se realizará el día 23, los participantes realizarán
                            una
                            evaluación mediante la herramienta Formularios de Google. Esta evaluación
                            consta de 20 preguntas para marcar en un tiempo de 10 minutos. De las cuales 10
                            preguntas serán relacionadas a la Universidad Nacional de San Agustín de
                            Arequipa, al BICENTENARIO y DUTIC; las 10 preguntas restantes serán
                            relacionadas a cultura general. En esta ronda clasificarán dos (2) estudiantes por
                            cada escuela profesional.<br>
                            <strong>3.</strong> En la segunda ronda de la competencia participarán los dos (2)
                            representantes de
                            cada escuela profesional, se agruparán los representantes de tres (3) escuelas
                            profesionales. La competencia se ejecutará usando la herramienta Kahoot y
                            Google Meet. Constará de 8 preguntas; 4 relacionadas a la Universidad Nacional
                            de San Agustín de Arequipa, BICENTENARIO Y DUTIC; y las 4 preguntas restantes
                            relacionadas a cultura general. Clasificando dos (2) ganadores por cada grupo.<br>
                            <strong>4.</strong> En la tercera ronda de la competencia se agruparán cada ocho (8)
                            clasificados de
                            la ronda anterior. Resultando al final solo dos (2) ganadores por cada grupo. Las
                            herramientas a utilizar serán las mismas que se usaron en la ronda anterior, al
                            igual que el formato y número de preguntas.<br>
                            <strong>5.</strong> En la cuarta ronda se agruparán cada cuatro (4) clasificados de la ronda
                            anterior.
                            Resultando al final solo dos (2) ganadores por cada grupo. Las herramientas a
                            utilizar serán las mismas que se usaron en la ronda anterior, al igual que el
                            formato y número de preguntas.<br>
                            <strong>6.</strong> La quinta ronda de la competencia se realizará con los cuatro (4)
                            ganadores
                            resultantes de la ronda anterior. En esta ronda de la competencia, se realizarán
                            preguntas al azar en vivo con cámara prendida. El participante que obtenga
                            mayor cantidad de puntos será ganador.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-justify mt-3">

                        <mat class="title-text mat-subheading-2">OBJETIVOS:</mat>
                        <div class="title-line"></div>

                        <p class="text-justify">
                            <strong>1.</strong> Realizar un concurso destinado a desafiar el conocimiento de los
                            estudiantes de la
                            comunidad agustina fomentando el patriotismo por el año bicentenario y aumentar
                            el alcance de DUTIC.<br>
                            <strong>2.</strong> Fraternizar a la comunidad Agustina en un evento en el cual todos
                            pueden
                            participar y conmemorar el Bicentenario de nuestro país.<br>
                            <strong>3.</strong> Medir los conocimientos generales de los estudiantes, contribuyendo
                            en la
                            formación, así como saber cuánto conocen los agustinos de su Universidad.
                        </p>
                        <mat class="title-text mat-subheading-2">MECANISMO DE DESEMPATE:</mat>
                        <div class="title-line"></div>
                        <p>
                            En caso de empate los participantes deberán responder una ronda adicional de 3
                            preguntas hasta lograr el desempate.

                        </p>
                        <mat class="title-text mat-subheading-2">HERRAMIENTAS A UTILIZAR:</mat>
                        <div class="title-line"></div>
                        <p>
                            Usaremos las siguientes herramientas:<br>
                            <strong>1.</strong> Formulario de Google<br>
                            <strong>2.</strong> Kahoot<br>
                            <strong>3.</strong> Meet<br>
                            <strong>4.</strong> Canva, Power Point<br>
                        </p>

                    </div>
                    <div class="col-12">
                        <div class="text-center pb-2">
                            <!-- <a href="assets/doc/ANEXO A - Estructura del Trabajo.docx" target="_blank" class="btn btn-round btn-lg text-center mr-3" title="Ver video"
                                style="background-color : #3a8dda;">
                                Descargue la plantilla de presentación
                                <i class="now-ui-icons education_paper ml-1"></i>
                            </a> -->
                            <a href="assets/doc/BasesdelConcursoConocimientos.pdf" target="_blank"
                                class="btn btn-info btn-round" style="background-color: rgba(30, 143, 255, 0.822);"
                                title="Ver documento">
                                <strong class="text-wrap">VER DOCUMENTO</strong>
                                <i class="now-ui-icons arrows-1_minimal-right ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>