<div style="margin-top: 150px;" class="container">

    <div class="card">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'" class="text-center">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="fas fa-chalkboard"></i> Estrategias Didácticas
                        </ng-template>
                        <mat-divider></mat-divider>
                        <ng-template ngbTabContent>
                            <!-- <div class="row">
                                <div class="col'4">
                                    <div class="card card-news animated fadeIn fast" style="width: 100%;">
                                        <div class="card-body">
                                            <h6 class="text-wrap">VICERRECTORADO ACADÉMICO: <br>Orientaciones para el
                                                trabajo virtual</h6>
                                            <a href="https://drive.google.com/file/d/14pWbEbw9LNvCCv-Br629g-4dpD-0Qk4O/view?usp=sharing"
                                                class="btn btn-primary btn-sm" target="_blank">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <p>Aqui van contenidos sobre Estrategias Didácticas </p>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                             Evaluación
                        </ng-template>
                        <mat-divider></mat-divider>
                        <ng-template ngbTabContent>
                            <p>Aqui van contenidos sobre evaluación </p>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                             Retroalimentación
                        </ng-template>
                        <mat-divider></mat-divider>
                        <ng-template ngbTabContent>
                            <p>Aqui van contenidos sobre Retroalimentación</p>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

    </div>