<div class="bg-opacity">
    <div class="container">
        <h2 class="text-center title pb-4" style="padding-top: 130px; color: white; z-index: 1;">OLIMPIADAS VIRTUALES DUTIC
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img [routerLink]="['/dutic-activities/knowledge']" src="assets/img/d-activities/Afiches.jpg" class="card-img-top" alt="...">
                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de cultura general</strong></h5>
                        <p class="card-text">Rétate acerca de tus
                            conocimientos sobre el Perú, La UNSA y DUTIC</p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfa9NG5wlC7FbWLNKFUbmYcO85kM91yyugWbPLv9-iJeky7_w/viewform?usp=sf_link" target="_blank" class="btn btn-danger float-left">
                            ¡Inscríbete aqui!</a>
                        <a [routerLink]="['/dutic-activities/knowledge']"><button class="btn btn-primary float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img [routerLink]="['/dutic-activities/digital-art']" src="assets/img/d-activities/Afiches.jpg" class="card-img-top" alt="...">

                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de arte digital</strong></h5>
                        <p class="card-text">Muestra tu talento como artista digital en las diferentes
                            categorias</p>
                        <a href="https://forms.gle/KimvfoPzESREBQ5u5" target="_blank" class="btn btn-danger float-left">
                            ¡Inscríbete aqui!</a>
                        <a [routerLink]="['/dutic-activities/digital-art']"><button class="btn btn-primary float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img [routerLink]="['/dutic-activities/games']" src="https://i.ibb.co/XLgXbQR/Aficheolimpiadastama-o.jpg" class="card-img-top" alt="...">

                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de juegos lúdicos</strong></h5>
                        <p class="card-text">Pon a prueba tus habilidades lúdicas y compite con otras
                            escuelas</p>
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfnnJX8pUgv4n2usVYgMUulk-1n4QtTC6Lh-AWIyhDiC7jTIQ/viewform" class="btn btn-danger float-left">
                            ¡Inscríbete aqui!</a>
                        <a [routerLink]="['/dutic-activities/games']"><button class="btn btn-primary float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>