<div class="bg-opacity">
    <div class="container">
        <h2 class="text-center title pb-4" style="padding-top: 130px; color: white; z-index: 1;">OLIMPIADAS VIRTUALES DUTIC
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img src="../../../assets/img/news/jakuemprende.png" class="card-img-top" alt="...">
                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de cultura general</strong></h5>
                        <p class="card-text">Rétate acerca de tus
                            conocimientos sobre el Perú, La UNSA y DUTIC</p>
                        <button class="btn btn-success c-1 float-left">
                            ¡Inscríbete aqui!</button>
                        <a [routerLink]="['/dutic-activities/knowledge']"><button class="btn btn-warning c-2 float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img src="../../../assets/img/news/jakuemprende.png" class="card-img-top" alt="...">

                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de arte digital</strong></h5>
                        <p class="card-text">Muestra tu talento como artista digital en las diferentes
                            categorias</p>
                        <button class="btn btn-success c-1 float-left">
                            ¡Inscríbete aqui!</button>
                        <a [routerLink]="['/dutic-activities/digital-art']"><button class="btn btn-warning c-2 float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card mb-4" style="background-color:black">
                    <img src="https://i.ibb.co/M9SFM1F/Aficheolimpiadas.jpg" class="card-img-top" alt="...">

                    <div class="card-footer" style="color: white; z-index: 1;">
                        <h5 class="card-title"><strong>Concurso de juegos lúdicos</strong></h5>
                        <p class="card-text">Pon a prueba tus habilidades lúdicas y compite con otras
                            escuelas</p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnnJX8pUgv4n2usVYgMUulk-1n4QtTC6Lh-AWIyhDiC7jTIQ/viewform" class="btn btn-success c-1 float-left">
                            ¡Inscríbete aqui!</a>
                        <a [routerLink]="['/dutic-activities/games']"><button class="btn btn-warning c-2 float-right">
                                Ver más
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>