<div class="style--content" style="padding-top: 100px; padding-bottom: 40px;">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-8 col-md-8 col-sm-12 text-center">
                <img src="assets/img/infografia_estudiante.png" class="card-img-top"
                    style="width: 700px; height: 1400px;" alt="...">
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <p class="text-justify">
                    <strong>ROL DEL ESTUDIANTE EN LA EDUCACIÓN VIRTUAL</strong>
                    <br>
                    En el contexto actual el estudiante universitario asume un nuevo rol,  algunas características del rol del estudiante virtual que le permiten la generación del conocimiento están directamente relacionadas con la capacidad de autogestión, expresada; 
                    <br><br>
                    <strong>En la autodisciplina</strong>, capacidad para distribuir su tiempo, permite libertad y flexibilidad para el aprovechamiento del aprendizaje mediado por las TIC
                    <br><br>
                    <strong>El autoaprendizaje</strong>, facilita al estudiante virtual el desarrollo de su capacidad de exigirse a sí mismo, lo que lo involucra en la toma de decisiones como por ejemplo en la distribución de tiempos, la ubicación de espacios, las fuentes de consulta entre las cuales se pueden mencionar bases de datos virtuales especializadas tanto libre como licenciadas, blogs, redes académicas. Favorece los ritmos de estudio y profundización en temas de interés, y lleva al actor a ser autodidacto y auto reflexivo
                    <br><br>
                    <strong>El análisis crítico y reflexivo</strong> la habilidad para razonar, analizar y argumentar hechos o acciones que facilitan el desarrollo integral del estudiante y la generación de conocimiento
                    <br><br>
                    <strong>El trabajo colaborativo</strong> es un factor potenciador del verdadero intercambio de conocimiento, enriquecido con las experiencias del otro, para fortalecer los aprendizajes individuales y el desarrollo de habilidades comunicativas, así como para el desarrollo de destrezas que le permiten ser más recursivo, autónomo y proactivos para la toma de decisiones.</p>
            </div>
        </div>
    </div>
</div>