/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* @mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 10s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 10s infinite ease-in-out;
		display: flex;
		width: calc(250px * 3);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
} */

/* Header tittle style*/
.header--style{
  background: rgba(70,87,103,1);
background: -moz-linear-gradient(-45deg, rgba(70,87,103,1) 0%, rgba(70,87,103,1) 64%, rgba(241,241,242,1) 64%, rgba(255,255,255,1) 64%, rgba(241,241,242,1) 65%, rgba(241,241,242,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(70,87,103,1)), color-stop(64%, rgba(70,87,103,1)), color-stop(64%, rgba(241,241,242,1)), color-stop(64%, rgba(255,255,255,1)), color-stop(65%, rgba(241,241,242,1)), color-stop(100%, rgba(241,241,242,1)));
background: -webkit-linear-gradient(-45deg, rgba(70,87,103,1) 0%, rgba(70,87,103,1) 64%, rgba(241,241,242,1) 64%, rgba(255,255,255,1) 64%, rgba(241,241,242,1) 65%, rgba(241,241,242,1) 100%);
background: -o-linear-gradient(-45deg, rgba(70,87,103,1) 0%, rgba(70,87,103,1) 64%, rgba(241,241,242,1) 64%, rgba(255,255,255,1) 64%, rgba(241,241,242,1) 65%, rgba(241,241,242,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(70,87,103,1) 0%, rgba(70,87,103,1) 64%, rgba(241,241,242,1) 64%, rgba(255,255,255,1) 64%, rgba(241,241,242,1) 65%, rgba(241,241,242,1) 100%);
background: linear-gradient(135deg, rgba(70,87,103,1) 0%, rgba(70,87,103,1) 64%, rgba(241,241,242,1) 64%, rgba(255,255,255,1) 64%, rgba(241,241,242,1) 65%, rgba(241,241,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465767', endColorstr='#f1f1f2', GradientType=1 );
  color: ghostwhite;
  h2{
    -webkit-text-stroke: 1px #465767;
  }
}


.center-content {
	display: flex;
   align-items: center;
}

/*pages styles*/
.card-header {/*header - card*/ 
  border-bottom: 0 solid transparent;
}

.card--header--style{
  background-color: #27314E;
  border-radius: 5px;
  margin: -25px 10px 10px;
  margin-bottom: 30px;
  text-transform: capitalize;
  box-shadow: 2px 2px 6px #96a3a9;
  div > span{
      font-size: 1.60rem;
      color: white;
      font-weight: bold;
  }
}

.style--content{

  background-color: #F1F1F2;
  /* background: rgba(210,211,213,1);
  background: -moz-linear-gradient(-45deg, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(210,211,213,1)), color-stop(59%, rgba(210,211,213,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  background: linear-gradient(135deg, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d3d5', endColorstr='#ffffff', GradientType=1 );
  */   
//  background-color: #3E5B99;   
//  background-color: #D2D3D5;
//  border-radius: 25% 25% 25% 25%;
}

/* animation */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "AvertaStd-Bold";
  src: local("AvertaStd-Bold"), url(./assets/fonts/AvertaStd-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "AvertaStd";
  src: local("AvertaStd"), url(./assets/fonts/AvertaStd-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "AvertaStd-Semibold";
  src: local("AvertaStd-Semibold"), url(./assets/fonts/AvertaStd-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "AvertaStd-Light";
  src: local("AvertaStd-Light"), url(./assets/fonts/AvertaStd-Light.ttf) format("truetype");
}

