<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
  <div class="content"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</h2>
        <div class="breadcrumbs">
          <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a> <span
              class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Paradero cultural</span></mat>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #F1F1F2; padding-top: 2rem; padding-bottom: 3rem;">
  <div class="container">
    <!--div class="row mb-3">
      <div class="col-md-12 col-lg-6 col-sm-12 ">
        <h4 class="font-weight-bold text-center">La ciudad de Arequipa celebra su 481 aniversario</h4>
        <h6>FUNDACIÓN DE AREQUIPA</h6>
        <p>
          El 15 de agosto de 1540, se fundó la ciudad de Arequipa con el nombre de Villa Hermosa de Nuestra Señora de
          Asunta, por mandato de Francisco Pizarro, la ceremonia de fundación estuvo presidida por García Manuel de
          Carbajal, en su calidad de teniente gobernador, siendo esta a la orilla izquierda del río Chili.

          Un año después, el monarca Carlos V, por real cédula del 22 septiembre, ordena que se llame Ciudad de
          Arequipa. El 7 de octubre, le es concedido el escudo de armas, en el que se puede apreciar un volcán en
          erupción.
        </p>
        <p>Revisa mas datos curiosos de nuestra ciudad en el siguiente enlace</p>
        
        <a [routerLink]="['/paradero-cultural/curiosidades']"><button class="btn btn-primary font-weight-bold">Ver
          Datos</button></a>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12 text-center pt-3">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p> documento:</p>
        <a href="https://dutic.unsa.edu.pe/entregacertificado/" target="_blank" class="btn btn-round btn-lg mr-3"
          style="background-color: #aa2424;">Programa de Actividades</a>
      </div>
    </div-->
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">Celebrando a San Agustín de Hipona</h4>
      </div>

      <div class="col-md-4 col-lg-5 col-sm-12">
        <img src="assets/img/bicentenary/sanagus.jpg" alt="">
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12">
        <p>
          Compartimos en este dia conmemorativo, algunas de las frases más célebres de nuestro patrón San Agustin de
          Hipona:
        </p>
        <p>
          "La educación siempre es el motor de la juventud, el encante de la vejez, la decoración de la prosperidad, la
          comodidad y el refugio de la adversidad, pero sobre todas las cosas la educación es la provocación de que el
          alma tenga gracia."
        </p>
        <p>
          "Hay cosas que son realmente increíbles cuando son discutidas por pequeños hombres, usualmente estas cosas
          pueden hacer que estos hombres crezcan y se vuelvan grandes."
        </p>
        <p>
          "Debes vaciarte de aquello con lo que estás lleno, para que puedas ser llenado de aquello de lo que estás
          vacío."
        </p>
        <p>
          "Lo correcto es correcto, aunque nadie lo haga, lo incorrecto es incorrecto incluso si todos lo hacen."
        </p>
        <p>
          "Acuérdate del necesitado, pues también tú lo eres; acuérdate del pobre pues también tú lo eres; por mucho que
          nades en riquezas, estás vestido con trapos de carne."
        </p>
        <p>
          "Reza como si todo dependiera de Dios. Trabaja como si todo dependiera de ti."
        </p>
        <p>
          "Los que no quieren ser vencidos por la verdad, son vencidos por el error."
        </p>
        <p>
          "La soberbia no es grandeza, sino hinchazón; y lo que está hinchado parece grande, pero no está sano."
        </p>
        <p>
          "¿Aspiras a lograr grandes cosas? Comienza con las pequeñas."
        </p>
        <p>
          "Nuestros propios vicios, si los pisoteamos, nos sirven para hacernos una escalera con que remontarnos a las
          alturas."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">La ciudad de Arequipa celebra su 481 aniversario</h4>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-b text-center">
            <mat-card-title class="text-white">CURIOSIDADES</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
          <mat-card-content>
            <p class="text-left">
              En este día de Arequipa conoce y aprende datos curiosos sobre nuestra ciudad blanca.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/novelties']"><button style="background-color: #aa2424;"
                class="btn btn-danger font-weight-bold">Ver
                Datos</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-b">

            <mat-card-title class="text-white">ACTIVIDADES</mat-card-title>

          </mat-card-header>
          <img mat-card-image
            src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
            alt="">
          <mat-card-content>
            <p class="text-left">
              En esta sección se muestran actividades organizadas por nuestra Municipalidad de Arequipa.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/activities']"><button style="background-color: #aa2424;"
                class="btn btn-danger font-weight-bold">Ver
                Actividades</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/RWZ_EqJFdjE" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">DUTIC presente en el bicentenario</h4>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">
            <mat-card-title class="text-white">NOVEDADES Y CURIOSIDADES</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
          <mat-card-content>
            <p class="text-left">
              En este bicentenario conoce y aprende datos curiosos sobre la independencia del Perú.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/curiosidades']"><button class="btn btn-primary font-weight-bold">Ver
                Datos</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">

            <mat-card-title class="text-white">BIBLIOTECA BICENTENARIO</mat-card-title>

          </mat-card-header>
          <img mat-card-image
            src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
            alt="">
          <mat-card-content>
            <p class="text-left">
              Libros, documentos y otros contenidos para conocer mejor sobre nuestra independencia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/biblioteca']"><button class="btn btn-primary font-weight-bold">Ver
                Biblioteca</button></a>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</section>

<!--section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
  <div class="content"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <mat class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</mat>
        <div class="breadcrumbs">
          <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a> <span
              class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Paradero cultural</span></mat>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row text-center mt-4 mb-3">
      <div class="col-md-2 col-lg-2 col-sm-12"></div>
      <div class="col-md-8 col-lg-8 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-12"></div>
    </div>
    <div class="row ">

      <div class="col-md-5 offset-md-1">
        <center>
          <mat-card class="example-card">

            <mat-card-header class="title-card bg-a">
              <mat-card-title class="text-white">NOVEDADES Y CURIOSIDADES</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
            <mat-card-content>
              <p class="text-left">
                En este bicentenario conoce y aprende datos curiosos sobre la independencia del Perú.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/curiosidades']"><button
                  class="btn btn-primary font-weight-bold">Ver Datos</button></a>
            </mat-card-actions>
          </mat-card>
        </center>
      </div>

      <div class="col-md-5">
        <center>
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-b">

              <mat-card-title class="text-white">BIBLIOTECA BICENTENARIO</mat-card-title>

            </mat-card-header>
            <img mat-card-image
              src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
              alt="">
            <mat-card-content>
              <p class="text-left">
                Libros, documentos y otros contenidos para conocer mejor sobre nuestra independencia.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/biblioteca']"><button
                  class="btn btn-danger font-weight-bold">Ver Biblioteca</button></a>
            </mat-card-actions>
          </mat-card>
        </center>
      </div>
    </div>
  </div>
</section-->