<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
  <div class="content"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mt-0 mb-3 text-white mat-display-1">CONECTANDO DESAFÍOS Y SOLUCIONES</h2>
        <div class="breadcrumbs">
          <mat class="mb-0 mat-body"><a [routerLink]="['/']" class="text-white">Inicio</a> <span
              class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Conectando desafios y soluciones</span></mat>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: ghostwhite;">
  <div>
 
    <div class="container">
      <div class="row" style="background-color:rgba(240, 240, 240, 0.541)">
        <div class="col-12">
          <h4 class="font-weight-bold text-center">CONECTANDO DESAFÍOS Y SOLUCIONES A TRAVÉS DE LAS TECNOLOGÍAS DIGITALES DUTIC</h4>
          <br>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <p>
            En su constante búsqueda por lograr sus objetivos, la Universidad se esfuerza por mantener una conexión con las demandas de la sociedad para retroalimentar la investigación y formación profesional en sus disciplinas. Hoy en día, esta conexión es especialmente relevante en el contexto de la abrumadora fuerza de la inteligencia artificial, que indudablemente marcará un cambio importante en todos los aspectos de nuestras vidas.
            <br><br>
            De la misma manera, la metodología de enseñanza también está evolucionando y volviéndose más interactiva. El contenido digital se conecta con el aprendiz, lo que permite que la enseñanza garantice el aprendizaje a través de la participación activa en la transformación del conocimiento.
            <br><br>
            Para mejorar los ciclos sistémicos de la enseñanza, se utilizan todas las fuentes de datos generadas por los aprendices, como las formas de aprender, las aplicaciones del conocimiento impartido y las competencias necesarias, para retroalimentar la información de acuerdo a los objetivos y requerimientos de la sociedad, a través de la Analitica de Datos.
            <br><br>
            Estos son los ejes que nos permiten despegar exponencialmente en el desarrollo de las competencias necesarias como base para asegurar el crecimiento de cualquier empresa, negocio o profesión. Siempre en el infinito círculo de necesidad y solución de conocimiento, en DUTIC contamos con el capital intelectual necesario para mantenernos al día con los avances tecnológicos digitales y diseñar plataformas virtuales que sirvan como espacios de aprendizaje e intercomunicación.
            <br><br>
            Este es un espacio donde se conectan las necesidades de las empresas, los voceros de las demandas de la sociedad  y  la universidad que brinda los conocimientos de sus docentes profesionales, así como las soluciones a partir de sus investigaciones y laboratorios, aportando así al desarrollo de la sociedad en su conjunto.
            <br>
          </p>
          
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe class="mb-3" width="100%" height="365" src="https://www.youtube.com/embed/rj7xOpZtFNM" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <iframe class="mb-3" width="100%" height="365" src="https://www.youtube.com/embed/vwNoKTAQeR0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>




  <!--  
    <div class="container">
      <div class="row" style="background-color:rgba(240, 240, 240, 0.541)">
        <div class="col-12">
          <h4 class="font-weight-bold text-center">FELIZ NAVIDAD Y PRÓSPERO AÑO NUEVO</h4>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <p>
            Navidad, una época para celebrar, reflexionar sobre el año que termina, estar con la familia y los amigos.
            Para conmemorar esta festividad qué mejor que hacerlo con las frases más evocadoras de esta entrañable fecha
            de la mano de ilustres escritores, periodistas y hasta comediantes. A continuación te dejamos una selección.
            <br>
          </p>
          <ul>
            <li>“Honraré la Navidad en mi corazón y procuraré conservarla durante todo el año”, Charles Dickens.</li>

            <li>“La Navidad no es una fecha; es un estado en la mente”, Mary Ellen Chase.</li>

            <li>“Bendita sea la fecha que une a todo el mundo en una conspiración de amor”, Hamilton Wright Mabi.</li>

            <li>“Ojalá pudiésemos meter el espíritu de Navidad en jarros y abrir un jarro cada mes del año”, Harlan
              Miller.</li>

            <li>“La Navidad no es un momento ni una estación, sino un estado de la mente. Valorar la paz y la
              generosidad y tener merced es comprender el verdadero significado de Navidad”, Calvin Coolidge.</li>

            <li>“No existe la Navidad ideal, solo la Navidad que usted decida crear como reflejo de sus valores, deseos,
              queridos y tradiciones”, Bill McKibben.</li>

            <li>“¡Feliz, feliz Navidad, la que hace que nos acordemos de las ilusiones de nuestra infancia, le recuerde
              al
              abuelo las alegrías de su juventud, y le transporte al viajero a su chimenea y a su dulce hogar!”, Charles
              Dickens.</li>

            <li>“Aunque se pierdan otras cosas a lo largo de los años, mantengamos la Navidad como algo brillante.
              Regresemos a nuestra fe infantil”, Grace Noll Crowell.</li>

            <li>“La Navidad agita una varita mágica sobre el mundo, y por eso, todo es más suave y más hermoso”, Norman
              Vicent Peale.</li>

            <li>“La Navidad es la temporada para encender el fuego de la hospitalidad en el salón, y la genial llama de
              la
              caridad en el corazón”, Washington Irving.</li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe class="mb-3" width="100%" height="365" src="https://www.youtube.com/embed/OqB7riWnBzQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <img src="assets/img/banner-navidad-AZUL.jpg" style="height:auto; width:100%;" class="card-img-top"
            alt="tarjeta navideña">
        </div>
      </div>
    </div>
  -->
    <div class="container">
      <!--div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">ANIVERSARIO 193 AÑOS DE LA UNSA</h4>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe width="100%" height="365" src="https://www.youtube.com/embed/6lJPqnsrbGs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-a">
              <mat-card-title class="text-white">TRANSFONDO HISTÓRICO</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
            <mat-card-content>
              <p class="text-left">
                La UNSA de Arequipa fundada el 11 de noviembre de 1828 como “Universidad del Gran Padre de San Agustín”.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/aniversario']"><button class="btn btn-primary font-weight-bold">Ver
                  Datos</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-a">

              <mat-card-title class="text-white">AVANCES ACTUALES</mat-card-title>

            </mat-card-header>
            <img mat-card-image
              src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
              alt="">
            <mat-card-content>
              <p class="text-left">
                Investigaciones realizadas por los alumnos y maestros junto con los logros que a recibido en este ultimo
                año 2021.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/aniversario/avances']"><button
                  class="btn btn-primary font-weight-bold">Ver
                  Novedades</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div-->
      <!--div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">¡Feliz día estudiante agustino!</h4>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p>
            Ser estudiante tiene que ser un orgullo, porque no hay nada más bello que aprender. Compartimos en este día
            conmemorativo, algunas frases:
          </p>
          <p>
            "Vive como si fueses a morir mañana. Aprende como si fueras a vivir por siempre."
          </p>
          <p>
            "Hoy un lector; mañana un líder."
          </p>
          <p>
            "Si no persigues lo que quieres, nunca lo tendrás. Si no vas hacia adelante siempre estarás en el mismo
            sitio."
          </p>
          <p>
            "Aprender es el acto más maravilloso de todo; aprovecha siempre esa oportunidad."
          </p>
          <p>
            "Cree en ti mismo y en tu capacidad. Cree en ti, sé consciente que en tu interior existe algo muy grande,
            tan
            grande que puede con cualquier obstáculo."
          </p>
          <p>
            "Estudia mientras otros están durmiendo; trabaja mientras otros están holgazaneando; prepárate mientras
            otros
            están jugando; y sueña mientras otros están deseando."
          </p>
          <p>
            "Nunca es tarde para comenzar a estudiar."
          </p>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/fQuq53xldzI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div-->
      <!--div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">Celebrando a San Agustín de Hipona</h4>
        </div>
        <div class="col-md-4 col-lg-5 col-sm-12">
          <img src="assets/img/bicentenary/sanagus.jpg" alt="">
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12">
          <p>
            Compartimos en este día conmemorativo, algunas de las frases más célebres de nuestro patrón San Agustin de
            Hipona:
          </p>
          <p>
            "La educación siempre es el motor de la juventud, el encante de la vejez, la decoración de la prosperidad,
            la
            comodidad y el refugio de la adversidad, pero sobre todas las cosas la educación es la provocación de que el
            alma tenga gracia."
          </p>
          <p>
            "Hay cosas que son realmente increíbles cuando son discutidas por pequeños hombres, usualmente estas cosas
            pueden hacer que estos hombres crezcan y se vuelvan grandes."
          </p>
          <p>
            "Debes vaciarte de aquello con lo que estás lleno, para que puedas ser llenado de aquello de lo que estás
            vacío."
          </p>
          <p>
            "Lo correcto es correcto, aunque nadie lo haga, lo incorrecto es incorrecto incluso si todos lo hacen."
          </p>
          <p>
            "Acuérdate del necesitado, pues también tú lo eres; acuérdate del pobre pues también tú lo eres; por mucho
            que
            nades en riquezas, estás vestido con trapos de carne."
          </p>
          <p>
            "Reza como si todo dependiera de Dios. Trabaja como si todo dependiera de ti."
          </p>
          <p>
            "Los que no quieren ser vencidos por la verdad, son vencidos por el error."
          </p>
          <p>
            "La soberbia no es grandeza, sino hinchazón; y lo que está hinchado parece grande, pero no está sano."
          </p>
          <p>
            "¿Aspiras a lograr grandes cosas? Comienza con las pequeñas."
          </p>
          <p>
            "Nuestros propios vicios, si los pisoteamos, nos sirven para hacernos una escalera con que remontarnos a las
            alturas."
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="font-weight-bold">La ciudad de Arequipa celebra su 481 aniversario</h4>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-b text-center">
              <mat-card-title class="text-white">CURIOSIDADES</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
            <mat-card-content>
              <p class="text-left">
                En este día de Arequipa conoce y aprende datos curiosos sobre nuestra ciudad blanca.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/novelties']"><button style="background-color: #aa2424;"
                  class="btn btn-danger font-weight-bold">Ver
                  Datos</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-b">

              <mat-card-title class="text-white">ACTIVIDADES</mat-card-title>

            </mat-card-header>
            <img mat-card-image
              src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
              alt="">
            <mat-card-content>
              <p class="text-left">
                En esta sección se muestran actividades organizadas por nuestra Municipalidad de Arequipa.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/activities']"><button style="background-color: #aa2424;"
                  class="btn btn-danger font-weight-bold">Ver
                  Actividades</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe width="100%" height="365" src="https://www.youtube.com/embed/RWZ_EqJFdjE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-12">
          <h4 class="font-weight-bold">DUTIC presente en el bicentenario</h4>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-a">
              <mat-card-title class="text-white">NOVEDADES Y CURIOSIDADES</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
            <mat-card-content>
              <p class="text-left">
                En este bicentenario conoce y aprende datos curiosos sobre la independencia del Perú.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/curiosidades']"><button class="btn btn-primary font-weight-bold">Ver
                  Datos</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-12">
          <mat-card class="example-card">
            <mat-card-header class="title-card bg-a">

              <mat-card-title class="text-white">BIBLIOTECA BICENTENARIO</mat-card-title>

            </mat-card-header>
            <img mat-card-image
              src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
              alt="">
            <mat-card-content>
              <p class="text-left">
                Libros, documentos y otros contenidos para conocer mejor sobre nuestra independencia.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a [routerLink]="['/paradero-cultural/biblioteca']"><button class="btn btn-primary font-weight-bold">Ver
                  Biblioteca</button></a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div-->
    </div>
  </div>
</section>