<br>
<br>
<br>
<section class="inner-header bg-opacity main-font mat-elevation-z10" style="padding-top: 6rem; padding-bottom: 6rem;">
  <div class="content"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</h2>
        <div class="breadcrumbs">
          <mat class="mb-0 mat-body"><a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a> <span
              class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Paradero cultural</span></mat>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #F1F1F2; padding-top: 2rem; padding-bottom: 3rem;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">¡Feliz día estudiante agustino!</h4>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>
          Ser estudiante tiene que ser un orgullo, porque no hay nada más bello que aprender. Compartimos en este día
          conmemorativo, algunas frases:
        </p>
        <p>
          "Vive como si fueses a morir mañana. Aprende como si fueras a vivir por siempre."
        </p>
        <p>
          "Hoy un lector; mañana un líder."
        </p>
        <p>
          "Si no persigues lo que quieres, nunca lo tendrás. Si no vas hacia adelante siempre estarás en el mismo
          sitio."
        </p>
        <p>
          "Aprender es el acto más maravilloso de todo; aprovecha siempre esa oportunidad."
        </p>
        <p>
          "Cree en ti mismo y en tu capacidad. Cree en ti, sé consciente que en tu interior existe algo muy grande, tan
          grande que puede con cualquier obstáculo."
        </p>
        <p>
          "Estudia mientras otros están durmiendo; trabaja mientras otros están holgazaneando; prepárate mientras otros
          están jugando; y sueña mientras otros están deseando."
        </p>
        <p>
          "Nunca es tarde para comenzar a estudiar."
        </p>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fQuq53xldzI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">Celebrando a San Agustín de Hipona</h4>
      </div>
      <div class="col-md-4 col-lg-5 col-sm-12">
        <img src="assets/img/bicentenary/sanagus.jpg" alt="">
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12">
        <p>
          Compartimos en este día conmemorativo, algunas de las frases más célebres de nuestro patrón San Agustin de
          Hipona:
        </p>
        <p>
          "La educación siempre es el motor de la juventud, el encante de la vejez, la decoración de la prosperidad, la
          comodidad y el refugio de la adversidad, pero sobre todas las cosas la educación es la provocación de que el
          alma tenga gracia."
        </p>
        <p>
          "Hay cosas que son realmente increíbles cuando son discutidas por pequeños hombres, usualmente estas cosas
          pueden hacer que estos hombres crezcan y se vuelvan grandes."
        </p>
        <p>
          "Debes vaciarte de aquello con lo que estás lleno, para que puedas ser llenado de aquello de lo que estás
          vacío."
        </p>
        <p>
          "Lo correcto es correcto, aunque nadie lo haga, lo incorrecto es incorrecto incluso si todos lo hacen."
        </p>
        <p>
          "Acuérdate del necesitado, pues también tú lo eres; acuérdate del pobre pues también tú lo eres; por mucho que
          nades en riquezas, estás vestido con trapos de carne."
        </p>
        <p>
          "Reza como si todo dependiera de Dios. Trabaja como si todo dependiera de ti."
        </p>
        <p>
          "Los que no quieren ser vencidos por la verdad, son vencidos por el error."
        </p>
        <p>
          "La soberbia no es grandeza, sino hinchazón; y lo que está hinchado parece grande, pero no está sano."
        </p>
        <p>
          "¿Aspiras a lograr grandes cosas? Comienza con las pequeñas."
        </p>
        <p>
          "Nuestros propios vicios, si los pisoteamos, nos sirven para hacernos una escalera con que remontarnos a las
          alturas."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">ANIVERSARIO 191 AÑOS DE LA UNSA</h4>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">
            <mat-card-title class="text-white">TRANSFONDO HISTORICO</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
          <mat-card-content>
            <p class="text-left">
              La UNSA de Arequipa fundada el 11 de noviembre de 1828 como “Universidad del Gran Padre de San Agustín”.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/aniversario']"><button class="btn btn-primary font-weight-bold">Ver
                Datos</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">

            <mat-card-title class="text-white">AVANCES ACTUALES</mat-card-title>

          </mat-card-header>
          <img mat-card-image
            src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
            alt="">
          <mat-card-content>
            <p class="text-left">
              Investigaciones realizadas por los alumnos y maestros junto con los logros que a recibido en este ultimo año 2021.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/aniversario/avances']"><button class="btn btn-primary font-weight-bold">Ver
                Novedades</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">La ciudad de Arequipa celebra su 481 aniversario</h4>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-b text-center">
            <mat-card-title class="text-white">CURIOSIDADES</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
          <mat-card-content>
            <p class="text-left">
              En este día de Arequipa conoce y aprende datos curiosos sobre nuestra ciudad blanca.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/novelties']"><button style="background-color: #aa2424;"
                class="btn btn-danger font-weight-bold">Ver
                Datos</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-b">

            <mat-card-title class="text-white">ACTIVIDADES</mat-card-title>

          </mat-card-header>
          <img mat-card-image
            src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
            alt="">
          <mat-card-content>
            <p class="text-left">
              En esta sección se muestran actividades organizadas por nuestra Municipalidad de Arequipa.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/activities']"><button style="background-color: #aa2424;"
                class="btn btn-danger font-weight-bold">Ver
                Actividades</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/RWZ_EqJFdjE" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="font-weight-bold">DUTIC presente en el bicentenario</h4>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <iframe width="100%" height="365" src="https://www.youtube.com/embed/Kk9q2qaQQ1E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">
            <mat-card-title class="text-white">NOVEDADES Y CURIOSIDADES</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/23z3rn6/datos.jpg" alt="">
          <mat-card-content>
            <p class="text-left">
              En este bicentenario conoce y aprende datos curiosos sobre la independencia del Perú.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/curiosidades']"><button class="btn btn-primary font-weight-bold">Ver
                Datos</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-12">
        <mat-card class="example-card">
          <mat-card-header class="title-card bg-a">

            <mat-card-title class="text-white">BIBLIOTECA BICENTENARIO</mat-card-title>

          </mat-card-header>
          <img mat-card-image
            src="https://es.unesco.org/sites/default/files/styles/img_688x358/public/courier/photos/shutterstock_book-day-.jpg?itok=awCCawBl"
            alt="">
          <mat-card-content>
            <p class="text-left">
              Libros, documentos y otros contenidos para conocer mejor sobre nuestra independencia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="['/paradero-cultural/biblioteca']"><button class="btn btn-primary font-weight-bold">Ver
                Biblioteca</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>