<br><br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="inner-header bg-image col-md-12" style="padding-top: 6rem; padding-bottom: 6rem;">
                
                
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h1 class="mt-0 mb-3 color-c banner-font-a">PROGRAMA DUTIC ECOEFICIENTE</h1>
                
                      <div class="breadcrumbs">
                        <P class="mb-0 "><!-- <a [routerLink]="['/paradero-cultural']" class="text-white">Inicio</a> --><span class="color-a banner-font-b">"Produce más, contaminando menos"</span></P>
                      </div>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-3" style="padding-left: 0.4rem; padding-right: 0.4rem;">
              <a [routerLink]="['/ecoeficiencia/definicion']" style="text-decoration: none;">
                <div class="bg-image-eco"  style="padding-top: 3.5rem; padding-bottom: 3.5rem; padding-right: 1rem; padding-left: 1rem; ">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <h5 class="mt-0 mb-3 text-white "><b>¿QUÉ ES LA ECOEFICIENCIA?</b></h5>
                        
                        </div>
                      </div>
                </div>
              </a>
            </div>
            <div class="col-md-3" style="padding-left: 0.4rem; padding-right: 0.4rem;">
              <a  [routerLink]="['/ecoeficiencia/ecodutips']" style="text-decoration: none;">
                <div class="bg-image-tips"  style="padding-top: 4.28rem; padding-bottom: 4.28rem; padding-right: 1rem; padding-left: 1rem; ">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <h5 class="mt-0 mb-3 text-white "><b>ECO-DUTIPS</b></h5>
                        
                        </div>
                      </div>
                </div>
              </a>
            </div>
            <div class="col-md-3" style="padding-left: 0.4rem; padding-right: 0.4rem;">
              <a [routerLink]="['/ecoeficiencia/noticias']" style="text-decoration: none;">
                <div class="bg-image-news"  style="padding-top: 3.5rem; padding-bottom: 3.5rem; padding-right: 1.4rem; padding-left: 1.4rem; ">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <h5 class="mt-0 mb-3 text-white "><b>NOTICIAS ECOEFICIENTES</b></h5>
                        
                        </div>
                      </div>
                </div>
              </a>
            </div>
            <div class="col-md-3" style="padding-left: 0.4rem; padding-right: 0.4rem;">
              <a [routerLink]="['/ecoeficiencia/investigaciones']" style="text-decoration: none;">
                <div class="bg-image-res"  style="padding-top: 3.5rem; padding-bottom: 3.5rem; padding-right: 1rem; padding-left: 1rem; ">
                    <div class="row">
                        <div class="col-md-12 text-center">
                          <h5 class="mt-0 mb-3 text-white "><b>INVESTIGACIONES ECOEFICIENTES</b></h5>
                        
                        </div>
                      </div>
                </div>
              </a>
            </div>
            
            
            
        </div>
    </div>
</section>
<section>
  <div class="container" style="margin-top: 155px;">
    <div class="row">
        <div class="col-md-12">
            <mat class="title-text mat-title">RECIENTES</mat>
            <div class="title-line"></div>   
        </div>
        <div style="padding-top: 90px;"></div>
        <div class="col-md-5">
          <img src="https://i.ibb.co/HPNTBzP/eco-girl.jpg" alt="">
        </div>
        <div class="col-md-7">
          <a class="a-pag" [routerLink]="['/ecoeficiencia/noticias']">
            <p class="content-source">
              Noticias
            </p>
          </a>
            <p class="content-title">
              'Quiero ser una protectora, una eco girl'
            </p>
            <p class="content-text">
              Olivia Devaney es una niña de 7 años del condado de Down, que sorprendió con sus 
              preguntas al primer ministro del Reino Unido Boris Johnson sobre la conservidad 
              y el medio ambiente. Conoce más sobre esta niña y sus ideas para mejorar las 
              condiciones del medio ambiente.
            </p>
            <p class="content-source">
              Fuente <a class="a-pag" href=""><b>BBC</b></a> | 05 de noviembre, 2021
            </p>
        </div>
    </div>
    <hr class="color-hr">

    <div class="row">
      <div class="col-md-5">
        <img src="https://i.ibb.co/M971TR7/eco-casas.jpg" alt="">
      </div>
      <div class="col-md-7">
        <a class="a-pag" [routerLink]="['/ecoeficiencia/investigaciones']">
          <p class="content-source">
            Investigaciones
          </p>
        </a>
          <p class="content-title">
            Movilidades ecoeficiente en escenarios de ciudades inteligentes
          </p>
          <p class="content-text">
            En un futuro cercano, las ciudades inteligentes se convertirán en espacios hiperconectados 
            donde estos vehículos deberían integrarse dentro del ecosistema  Cooperativos-Inteligentes 
            (C-ITS) subyacente. En esta investigación, se brinda una amplia descripción de las 
            oportunidades y desafíos relacionados con esta necesaria integración, así como las 
            soluciones de comunicación que ya están en el mercado para brindar a estos dispositivos 
            móviles una conectividad eficiente y de bajo costo.
          </p>
          <p class="content-source">
            Fuente <a class="a-pag" href=""><b>WOS</b></a> | 05 de noviembre, 2021
          </p>
      </div>
  </div>

</div>
</section>
<br><br><br>