<br>
<br>
<br>
<section class="inner-header bg-opacity main-font" style="padding-top: 6rem; padding-bottom: 6rem;">
<div class="content"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <mat class="mt-0 mb-3 text-white mat-display-1">Paradero Cultural Virtual</mat>
            <div class="breadcrumbs">
                <mat class="mb-0 mat-body"><a href="#" class="text-white">Bicentenario</a> <span class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> 
                    <a [routerLink]="['/bicentenario/paradero-cultural']" class="text-white">Paradero cultural</a>
                    <span class="text-white">&nbsp;&nbsp;/&nbsp;&nbsp;</span> <span class="color-b">Datos curiosos</span></mat>
            </div>
        </div>
    </div>
</div>
</section>
<br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat class="title-text mat-title">DATOS CURIOSOS</mat>
                <div class="title-line"></div>   
            </div>
            <div class="col-md-12 content-text">
                <mat class="mat-body">
                    En este bicentenario conoce más sobre nuestra independencia, ¡conoce más sobre nuestras historia! . Entérate de datos como: cuando fue 
                    la verdadera independencia del Perú o como surgió el gentilicio 'Peruano'/'Peruana'. Entérate de estas y otras muchas cosas más.
                </mat>
            </div>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <img src="https://i.ibb.co/px77CJb/palacio-de-gobierno.jpg" alt="" class="mat-elevation-z8">
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat class="title-text-b mat-title">La Independencia Real</mat>
                <div class="title-line-b"></div>   
            </div>
            
            <div class="col-md-7 content-info mat-body">
                A pesar de que el 28 de julio de 1821 pasó a formar parte del calendario peruano
                como el día oficial para homenajear la independencia del país, lo cierto es que su
                proclamación aquel día no cambió nada en la nación.
                <br><br>
                La independencia no fue real hasta 1824. Hasta ese año, los españoles siguieron
                teniendo el control absoluto de la economía y la política peruanas. El hecho que
                realmente puso punto y final al control colono fue la batalla de Ayacucho en 1824  
            </div>
            <div class="col-md-3 offset-md-1">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Batalla_de_Ayacucho_by_Mart%C3%ADn_Tovar_y_Tovar_%281827_-_1902%29.jpg/1200px-Batalla_de_Ayacucho_by_Mart%C3%ADn_Tovar_y_Tovar_%281827_-_1902%29.jpg" alt="" class="mat-elevation-z8">
            </div>
        </div>
    </div>
</section>
<br><br>
